<!-- ✅ Why Choose Us Section Start -->
<div class="bg-[#0094EE0F] relative z-0 h-auto py-16 sm:py-20 lg:py-[100px]">
  <!-- Left Background -->
  <div class="absolute inset-y-0 top-0 left-0 z-10">
    <img src="../../../Assets/Images/mission_bg-1.png" alt="mission-background" class="h-full " />
  </div>

  <!-- Right Background -->
  <div class="absolute inset-y-0 top-0 right-0 z-10">
    <img src="../../../Assets/Images/mission_bg-2.png" alt="mission-background-2" class="h-full " />
  </div>

  <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-20">
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5 class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center">
          Why Choose Us
        </h5>
      </div>

      <div class="none md:flex justify-between py-4">
        <h2 class="text-accent heading font-medium">Why Choose Us</h2>
      </div>

      <!-- ✅ Grid with Equal Row Height -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 lg:gap-10 py-6 auto-rows-[1fr]">
        <!-- Card 1 -->
        <div class="z-10">
          <div class="bg-white `border border-[#1320283D] rounded-[24px] p-5 xl:p-10 h-full hover:scale-95 duration-700 cursor-pointer hover:border hover:border-primary">
            <img src="../../../Assets/Images/CustomSoftwareDevelopment/tailored solution.png" alt="tailored_solution"
              class="w-[60px] h-[60px]" />
            <div class="pt-8">
              <h2 class="text-2xl text-accent font-medium">
                Tailored Solutions for Every Industry
              </h2>
              <p class=" text-secondary paragraph pt-2">
                Healthcare, FinTech, Manufacturing, Retail, E-commerce
              </p>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="z-10">
          <div class="bg-white border border-[#1320283D] rounded-[24px] p-5 xl:p-10 h-full hover:scale-95 duration-700 cursor-pointer hover:border hover:border-primary">
            <img src="../../../Assets/Images/CustomSoftwareDevelopment/future_technologies.png"
              alt="future_technologies" class="w-[60px] h-[60px]" />
            <div class="pt-8">
              <h2 class="text-2xl text-accent font-medium">
                Future-Ready Technologies
              </h2>
              <p class="text-secondary paragraph pt-2">
                React.js, Next.js, Node.js, Nest.js, Python, AI, Blockchain
              </p>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="z-10">
          <div class="bg-white border border-[#1320283D] rounded-[24px] p-5 xl:p-10 h-full hover:scale-95 duration-700 cursor-pointer hover:border hover:border-primary">
            <img src="../../../Assets/Images/CustomSoftwareDevelopment/scalable&secure.png" alt="scalable&secure"
              class="w-[60px] h-[60px]" />
            <div class="pt-8">
              <h2 class="text-2xl text-accent font-medium">Scalable & Secure</h2>
              <p class="text-secondary paragraph pt-2">
                Built for GDPR & global compliance
              </p>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="z-10">
          <div class="bg-white border border-[#1320283D] rounded-[24px] p-5 xl:p-10 h-full hover:scale-95 duration-700 cursor-pointer hover:border hover:border-primary">
            <img src="../../../Assets/Images/CustomSoftwareDevelopment/agile_delivery_model.png"
              alt="agile_delivery_model" class="w-[60px] h-[60px]" />
            <div class="pt-8">
              <h2 class="text-2xl text-accent font-medium">Agile Delivery Model</h2>
              <p class="text-secondary paragraph pt-2">
                Faster deployment and iterative updates
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- ✅ End Grid -->
    </div>
  </div>
</div>
<!-- ✅ Why Choose Us Section End -->