<!-- techstack section start -->

<div class="bg-[#ffffff] py-[50px] lg:py-[80px] xl:py-[100px] 2xl:py-[140px]">
   <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div>
        <h5 class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center z-10">
          Tech Stack
        </h5>
        <h2 class="text-accent heading font-medium pt-5 lg:pt-10">
          Our Tech Stack
        </h2>
      </div>
      <div class="relative z-10 flex flex-col lg:flex-row justify-between items-center py-5">
         <div class="block md:hidden py-8 z-10">
            <img src="../../../Assets/Images/techstack_img.png" alt="techstack_img" class="h-[320px] w-[400px] object-cover" />
        </div>
        <div class="absolute inset-0 top-[140px] xl:top-[100px] left-[270px] xl:left-[378px] z-[-1] hidden lg:block">
                <img src="../../../Assets/Images/techstck_img-line.png" alt="techstack_img-line" class="lg:w-[425px] xl:w-[598px] h-[374px] object-center"/>
            </div>
        <div class="py-0 md:py-8 z-10 w-full lg:w-auto flex flex-col gap-[30px] lg:gap-[60px]">
            <div class="w-full lg:w-[270px] xl:w-[378px] xl:h-[114px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-5 z-10 transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-[24px] text-accent font-medium">Frontend</h2>
               <p class="paragraph text-secondary pt-1">React.js, Next.js, TypeScript, Tailwind CSS</p>
            </div>
            <div class="w-full lg:w-[282px] xl:w-[395px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-5  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-[24px] text-accent font-medium">Backend</h2>
               <p class="paragraph text-secondary pt-1">Node.js, Express.js, .NET Core, Python, PHP</p>
            </div>
            <div class="w-full lg:w-[272px] xl:w-[380px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-5 transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-[24px] text-accent font-medium">Databases</h2>
               <p class="paragraph text-secondary pt-1">MySQL, PostgreSQL, MongoDB, Firebase</p>
            </div>
        </div>
        <div class="py-8 z-10 hidden md:block">
            <img src="../../../Assets/Images/techstack_img.png" alt="techstack_img" class="h-[480px] lg:w-[400px] xl:w-[545px] object-cover" />
        </div>
        <div class="py-0 lg:py-8 z-10 w-full lg:w-auto flex flex-col gap-[30px] lg:gap-[60px] mt-8 md:mt-0">
             <div class="w-full lg:w-[274px] xl:w-[412px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-5 ml-auto  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-[24px] text-accent font-medium">Cloud & DevOps</h2>
               <p class="paragraph text-secondary pt-1">AWS, Microsoft Azure, Google Cloud, Docker, Kubernetes, CI/CD</p>
            </div>
            <div class="w-full lg:w-[265px] xl:w-[400px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-5 ml-auto  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-[24px] text-accent font-medium">AI/ML</h2>
               <p class="paragraph text-secondary pt-1">TensorFlow, PyTorch, OpenAI, NLP solutions</p>
            </div>
            <div class="w-full lg:w-[285px] xl:w-[427px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-5 ml-auto  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-[24px] text-accent font-medium">Blockchain</h2>
               <p class="paragraph text-secondary pt-1">Ethereum, Hyperledger, Smart Contracts, Web3</p>
            </div>
        </div>
      </div>
   </div>
</div>