<!-- our approach section start -->

<div class="bg-[#0094EE0F] relative z-0 h-auto py-12">
  <div class="absolute inset-y-0 top-0 left-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-1.png"
    alt="mission-background"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="absolute inset-y-0 top-0 right-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-2.png"
    alt="mission-background-2"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="container mx-auto px-8">
  <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
        >
          Our Approach
        </h5>
      </div>
      <div class="py-4">
        <h2 class="text-4xl font-medium text-[#132028]">Our Approach</h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 py-6">
        <!-- Card 1 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[230px] lg:h-[270px] xl:h-[230px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <img
                src="../../../Assets/Images/AIandML/our_approach_img1.png"
                alt="Research-Driven Design"
                class="w-[50px] h-[50px]"
              />
              <div class="pt-4 cards-content">
                <h2 class="text-xl font-medium">Research-Driven Design</h2>
                <p class="text-md text-[#44464A] pt-2">
                  Every solution is backed by deep data insights.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[230px] lg:h-[270px] xl:h-[230px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <img
                src="../../../Assets/Images/AIandML/our_approach_img2.png"
                alt="Agile Development"
                class="w-[50px] h-[50px]"
              />
              <div class="pt-4 cards-content">
                <h2 class="text-xl font-medium">Agile Development</h2>
                <p class="text-md text-[#44464A] pt-2">
                  Iterative delivery with transparent collaboration.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[230px] lg:h-[270px] xl:h-[230px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <img
                src="../../../Assets/Images/AIandML/our_approach_img3.png"
                alt="Scalable AI Solutions"
                class="w-[50px] h-[50px]"
              />
              <div class="pt-4 cards-content">
                <h2 class="text-xl font-medium">Scalable AI Solutions</h2>
                <p class="text-md text-[#44464A] pt-2">
                  Solutions grow with your business.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[230px] lg:h-[270px] xl:h-[230px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <img
                src="../../../Assets/Images/AIandML/our_approach_img4.png"
                alt="Compliance & Security"
                class="w-[50px] h-[50px]"
              />
              <div class="pt-4 cards-content">
                <h2 class="text-xl font-medium">Compliance & Security</h2>
                <p class="text-md text-[#44464A] pt-2">
               GDPR and international standards embedded in every project.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
