<!-- our approach section start -->

<div class="bg-[#0094EE0F] relative z-0 h-auto py-16 sm:py-20 lg:py-[100px]">
  <div class="absolute inset-y-0 top-0 left-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-1.png"
    alt="mission-background"
    class="h-full w-full object-cover"
    />
  </div>
  <div class="absolute inset-y-0 top-0 right-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-2.png"
    alt="mission-background-2"
    class="h-full w-full object-cover"
    />
  </div>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-20">
  <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center0"
        >
          Our Approach
        </h5>
      </div>
      <div class="py-5 mt-2">
        <h2 class="text-accent heading font-medium">Our Approach</h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-[40px] py-6">
        <!-- Card 1 -->
        <div class="z-10">
          <div
            class="cards bg-white border rounded-[24px] h-[230px] lg:h-[350px] xl:h-[302px] flex flex-col justify-between p-4 lg:p-8"
          >
            <div>
              <img
                src="../../../Assets/Images/AIandML/our_approach_img1.png"
                alt="Research-Driven Design"
                class="w-[60px] h-[60px]"
              />
              <div class="pt-8 cards-content">
                <h2 class="text-2xl text-accent font-medium">Research-Driven Design</h2>
                <p class="text-secondary paragraph pt-3">
                  Every solution is backed by deep data insights.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="z-10">
          <div
            class="cards bg-white border rounded-[24px] h-[230px] lg:h-[350px] xl:h-[302px] flex flex-col justify-between p-4 lg:p-8"
          >
            <div>
              <img
                src="../../../Assets/Images/AIandML/our_approach_img2.png"
                alt="Agile Development"
                class="w-[60px] h-[60px]"
              />
              <div class="pt-8 cards-content">
                <h2 class="text-2xl text-accent font-medium">Agile Development</h2>
                <p class="text-secondary paragraph pt-3">
                  Iterative delivery with transparent collaboration.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="z-10">
          <div
            class="cards bg-white border rounded-[24px] h-[230px] lg:h-[350px] xl:h-[302px] flex flex-col justify-between p-4 lg:p-8"
          >
            <div>
              <img
                src="../../../Assets/Images/AIandML/our_approach_img3.png"
                alt="Scalable AI Solutions"
                class="w-[60px] h-[60px]"
              />
              <div class="pt-8 cards-content">
                <h2 class="text-2xl text-accent font-medium">Scalable AI Solutions</h2>
                <p class="text-secondary paragraph pt-3">
                  Solutions grow with your business.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="z-10">
          <div
            class="cards bg-white border rounded-[24px] h-[230px] lg:h-[350px] xl:h-[302px] flex flex-col justify-between p-4 lg:p-8"
          >
            <div>
              <img
                src="../../../Assets/Images/AIandML/our_approach_img4.png"
                alt="Compliance & Security"
                class="w-[60px] h-[60px]"
              />
              <div class="pt-8 cards-content">
                <h2 class="text-2xl text-accent font-medium">Compliance &amp; Security</h2>
                <p class="text-secondary paragraph pt-3">
               GDPR and international standards embedded in every project.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
