<!-- service section start -->

<div class="bg-white py-[50px] lg:py-[80px] xl:py-[100px] 2xl:py-[140px]">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="pb-7 lg:pb-14">
        <h5 class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-3xl text-center mb-5 lg:mb-10">
            Services
        </h5>
        <div class="">
        <h2 class="text-accent heading font-medium">
            Our Services
          </h1>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-10">
        <div
            class="service-card bg-white flex flex-col border border-[#1320281F] rounded-2xl p-3 lg:p-6 shadow-lg hover:-translate-y-2 duration-700">
            <img src="../../../Assets/Images/Services/custom_software_img.jpg" alt="custom_software" class="w-full h-[300px] object-cover rounded-2xl"/>
            <div class="pt-3">
                 <h2 class="text-2xl font-medium text-accent">Custom Software Development</h2>
                <p class="paragraph text-secondary pt-2">Tailored web and mobile applications designed to meet unique business needs in Europe.</p>
                <button class="paragraph text-secondary font-medium pt-4 group hover:text-primary">
                    <a herf="#" class="flex justify-start items-center gap-2">Read More 
                        <span class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"><i class="fa-solid fa-arrow-right"></i></span></a>
                </button>
            </div>
        </div>
          <div
            class="service-card bg-white flex flex-col border border-[#1320281F] rounded-2xl p-3 lg:p-6 shadow-lg hover:-translate-y-2 duration-700">
            <img src="../../../Assets/Images/Services/cloud&devops_img.jpg" alt="cloud&devops"  class="w-full h-[300px] object-cover rounded-2xl"/>
            <div class="pt-3">
                 <h2 class="text-2xl font-medium text-accent">Cloud & DevOps Solutions</h2>
                <p class="paragraph text-secondary pt-2">Scalable, secure, and optimized cloud infrastructure for European enterprises.</p>
                <button class="paragraph text-secondary font-medium pt-4 group hover:text-primary">
                    <a herf="#" class="flex justify-start items-center gap-2">Read More 
                        <span class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"><i class="fa-solid fa-arrow-right"></i></span></a>
                </button>
            </div>
        </div>
          <div
            class="service-card bg-white flex flex-col border border-[#1320281F] rounded-2xl p-3 lg:p-6 shadow-lg hover:-translate-y-2 duration-700">
            <img src="../../../Assets/Images/Services/AI&ML.jpg" alt="AI&ML"  class="w-full h-[300px] object-cover rounded-2xl"/>
            <div class="pt-3">
                 <h2 class="text-2xl font-medium text-accent">Artificial Intelligence & Machine Learning</h2>
                <p class="paragraph text-secondary pt-2">Smarter automation, predictive analytics, and AI-driven decision-making.</p>
                <button class="paragraph text-secondary font-medium pt-4 group hover:text-primary">
                    <a herf="#" class="flex justify-start items-center gap-2">Read More 
                        <span class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"><i class="fa-solid fa-arrow-right"></i></span></a>
                </button>
            </div>
        </div>
          <div
            class="service-card bg-white flex flex-col border border-[#1320281F] rounded-2xl p-3 lg:p-6 shadow-lg hover:-translate-y-2 duration-700">
            <img src="../../../Assets/Images/Services/blockchain_img.jpg" alt="blockchain_img"  class="w-full h-[300px] object-cover rounded-2xl"/>
            <div class="pt-3">
                 <h2 class="text-2xl font-medium text-accent">Blockchain & FinTech Solutions</h2>
                <p class="paragraph text-secondary pt-2">Secure, transparent, and innovative digital finance ecosystems.</p>
                <button class="paragraph text-secondary font-medium pt-4 group hover:text-primary">
                    <a herf="#" class="flex justify-start items-center gap-2">Read More 
                        <span class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"><i class="fa-solid fa-arrow-right"></i></span></a>
                </button>
            </div>
        </div>
            <div
                class="service-card bg-white flex flex-col border border-[#1320281F] rounded-2xl p-3 lg:p-6 shadow-lg hover:-translate-y-2 duration-700">
            <img src="../../../Assets/Images/Services/UI&UX_design.jpg" alt="ui&ux_design"  class="w-full h-[300px] object-cover rounded-2xl"/>
            <div class="pt-3">
                 <h2 class="text-2xl font-medium text-accent">UI/UX & Product Design</h2>
                <p class="paragraph text-secondary pt-2">User-focused design for intuitive and engaging digital experiences.</p>
                <button class="paragraph text-secondary font-medium pt-5 group hover:text-primary">
                    <a herf="#" class="flex justify-start items-center gap-2">Read More 
                        <span class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"><i class="fa-solid fa-arrow-right"></i></span></a>
                </button>
            </div>
        </div>
        <div
            class="service-card bg-white flex flex-col border border-[#1320281F] rounded-2xl p-3 lg:p-6 shadow-lg hover:-translate-y-2 duration-700">
            <img src="../../../Assets/Images/Services/digital_consulting.jpg" alt="digital_consulting"  class="w-full h-[300px] object-cover rounded-2xl"/>
            <div class="pt-3">
                 <h2 class="text-2xl font-medium text-accent">Digital Transformation Consulting</h2>
                <p class="paragraph text-secondary pt-2">Helping enterprises adopt modern technologies and scale effectively.</p>
                <button class="paragraph text-secondary font-medium pt-5 group hover:text-primary">
                    <a herf="#" class="flex justify-start items-center gap-2">Read More 
                        <span class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"><i class="fa-solid fa-arrow-right"></i></span></a>
                </button>
            </div>
        </div>
    </div>
   </div> 
</div>