<!-- service section start -->

<div class="bg-[#FFFFFF] py-8">
  <div class="container mx-auto px-6 lg:px-12">
    <div class=" py-5">
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center"
        >
          Services
        </h5>
        <div class="py-5">
          <h1 class="text-4xl font-medium w-full lg:w-[500px]">
            Our Services
          </h1>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 py-8">
         <div class="bg-[#ffffff]  h-auto border border-[#1320281F] rounded-2xl p-4 z-10 shadow-lg shadow-[#00000040] hover:-translate-y-2 duration-700">
            <img src="../../../Assets/Images/Services/custom_software_img.jpg" alt="custom_software"  class="w-[430px] h-[280px] rounded-2xl"/>
            <div class="pt-3">
                <h2 class="text-xl font-medium">Custom Software Development</h2>
                <p class="text-md text-[#44464A] pt-2">Tailored web & mobile apps built for your business needs</p>
                <button class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary">
                    <a herf="#" class="flex justify-start items-center gap-2">Read More 
                        <span class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"><i class="fa-solid fa-arrow-right"></i></span></a>
                </button>
            </div>
        </div>
         <div class="bg-[#ffffff]  h-auto border border-[#1320281F] rounded-2xl p-4 z-10 shadow-lg shadow-[#00000040] hover:-translate-y-2 duration-700">
            <img src="../../../Assets/Images/Services/cloud&devops_img.jpg" alt="cloud&devops"  class="w-[430px] h-[280px] rounded-2xl"/>
            <div class="pt-3">
                <h2 class="text-xl font-medium">Cloud & DevOps Solutions</h2>
                <p class="text-md text-[#44464A] pt-2">Scalable, secure, and optimized cloud infrastructure for European enterprises.</p>
                <button class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary">
                    <a herf="#" class="flex justify-start items-center gap-2">Read More 
                        <span class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"><i class="fa-solid fa-arrow-right"></i></span></a>
                </button>
            </div>
        </div>
         <div class="bg-[#ffffff]  h-auto border border-[#1320281F] rounded-2xl p-4 z-10 shadow-lg shadow-[#00000040] hover:-translate-y-2 duration-700">
            <img src="../../../Assets/Images/Services/AI&ML.jpg" alt="AI&ML"  class="w-[430px] h-[280px] rounded-2xl"/>
            <div class="pt-3">
                <h2 class="text-xl font-medium">Artificial Intelligence & Machine Learning</h2>
                <p class="text-md text-[#44464A] pt-2">Smarter automation, predictive analytics, and AI-driven decision-making.</p>
                <button class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary">
                    <a herf="#" class="flex justify-start items-center gap-2">Read More 
                        <span class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"><i class="fa-solid fa-arrow-right"></i></span></a>
                </button>
            </div>
        </div>
         <div class="bg-[#ffffff]  h-auto border border-[#1320281F] rounded-2xl p-4 z-10 shadow-lg shadow-[#00000040] hover:-translate-y-2 duration-700">
            <img src="../../../Assets/Images/Services/blockchain_img.jpg" alt="blockchain_img"  class="w-[430px] h-[280px] rounded-2xl"/>
            <div class="pt-3">
                <h2 class="text-xl font-medium">Blockchain & FinTech Solutions</h2>
                <p class="text-md text-[#44464A] pt-2">Secure, transparent, and innovative digital finance ecosystems.</p>
                <button class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary">
                    <a herf="#" class="flex justify-start items-center gap-2">Read More 
                        <span class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"><i class="fa-solid fa-arrow-right"></i></span></a>
                </button>
            </div>
        </div>
        <div class="bg-[#ffffff] h-auto border border-[#1320281F] rounded-2xl p-4 z-10 shadow-lg shadow-[#00000040] hover:-translate-y-2 duration-700">
            <img src="../../../Assets/Images/Services/UI&UX_design.jpg" alt="ui&ux_design"  class="w-[430px] h-[280px] rounded-2xl"/>
            <div class="pt-3">
                <h2 class="text-xl font-medium">UI/UX & Product Design</h2>
                <p class="text-md text-[#44464A] pt-2">User-focused design for intuitive and engaging digital experiences.</p>
                <button class="text-[#44464A] text-md font-medium pt-5 group hover:text-primary">
                    <a herf="#" class="flex justify-start items-center gap-2">Read More 
                        <span class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"><i class="fa-solid fa-arrow-right"></i></span></a>
                </button>
            </div>
        </div>
        <div class="bg-[#ffffff] h-auto border border-[#1320281F] rounded-2xl p-4 z-10 shadow-lg shadow-[#00000040] hover:-translate-y-2 duration-700">
            <img src="../../../Assets/Images/Services/digital_consulting.jpg" alt="digital_consulting"  class="w-[430px] h-[280px] rounded-2xl"/>
            <div class="pt-3">
                <h2 class="text-xl font-medium">Digital Transformation Consulting</h2>
                <p class="text-md text-[#44464A] pt-2">Helping enterprises adopt modern technologies and scale effectively.</p>
                <button class="text-[#44464A] text-md font-medium pt-5 group hover:text-primary">
                    <a herf="#" class="flex justify-start items-center gap-2">Read More 
                        <span class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"><i class="fa-solid fa-arrow-right"></i></span></a>
                </button>
            </div>
        </div>
    </div>
   </div> 
</div>