<!-- techstack section start -->

<div class="bg-[#0094EE0F] relative z-0 py-16 sm:py-20 lg:py-[100px]">
  <div class="absolute inset-y-0 top-0 left-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-1.png"
    alt="mission-background"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="absolute inset-y-0 top-0 right-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-2.png"
    alt="mission-background-2"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-20">
      <div class="pt-12 z-10">
        <h5 class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center z-10">
          Tech Stack
        </h5>
        <h2 class="text-accent heading font-medium pt-5 lg:pt-10">
          Our Tech Stack
        </h2>
      </div>
      <div class="relative z-10 flex flex-col lg:flex-row justify-between items-center py-5">
         <div class="block md:hidden py-8 z-10">
            <img src="../../../Assets/Images/CustomSoftwareDevelopment/techstack_img.png" alt="techstack_img" class="h-[320px] w-[400px] object-cover" />
        </div>
        <div class="absolute inset-0 top-[150px] xl:top-[100px] left-[290px] xl:left-[370px] z-[-1] hidden lg:block">
                <img src="../../../Assets/Images/Blockchain_solutions/techstack_bg_line.png" alt="techstack_img-line" class="w-[370px] xl:w-[600px] h-[365px] object-center"/>
            </div>
        <div class="py-0 md:py-8 z-10 w-full lg:w-auto flex flex-col gap-[20px] lg:gap-[30px] xl:gap-[60px]">
            <div class="w-full lg:w-[290px] xl:w-[370px] border border-[#1320283D] bg-[#0094EE0F] rounded-xl p-4 z-10 mb-8  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-[24px] text-accent font-medium">Blockchain & Smart Contracts</h2>
               <p class="paragraph text-secondary pt-1">Ethereum, Solana, Hyperledger, Polygon</p>
            </div>
            <div class="w-full lg:w-[297px] xl:w-[380px] border border-[#1320283D] bg-[#0094EE0F] rounded-xl p-4 mb-8  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-[24px] text-accent font-medium">FinTech & Payment Tools</h2>
               <p class="paragraph text-secondary pt-1">Stripe, PayPal APIs, Mastercard, Visa APIs</p>
            </div>
            <div class="w-full lg:w-[297px] xl:w-[380px] border border-[#1320283D] bg-[#0094EE0F] rounded-xl p-4  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-[24px] text-accent font-medium">Programming & Frameworks</h2>
               <p class="paragraph text-secondary pt-1">Solidity, JavaScript, TypeScript, Node.js, React, Next.js</p>
            </div>
        </div>
        <div class="py-8 z-10 hidden md:block">
            <img src="../../../Assets/Images/CustomSoftwareDevelopment/techstack_img.png" alt="techstack_img" class="h-[480px] w-[300px] xl:w-[545px] object-cover" />
        </div>
        <div class="py-0 md:py-8 z-10 w-full lg:w-auto flex flex-col gap-[20px] lg:gap-[30px] xl:gap-[60px] mt-10 md:mt-0">
             <div class="w-full lg:w-[300px] xl:w-[407px] border border-[#1320283D] bg-[#0094EE0F] rounded-xl p-4 mb-8 ml-auto  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-[24px] text-accent font-medium">Database & Cloud</h2>
               <p class="paragraph text-secondary pt-1">PostgreSQL, MongoDB, AWS, Azure, Google Cloud</p>
            </div>
            <div class="w-full lg:w-[300px] xl:w-[407px] border border-[#1320283D] bg-[#0094EE0F] rounded-xl mt-0 lg:mt-[70px] p-4 mb-8 ml-auto  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-[24px] text-accent font-medium">Testing & Security</h2>
               <p class="paragraph text-secondary pt-1">Truffle, OpenZeppelin, Audit Tools, Penetration Testing</p>
            </div>
        </div>
      </div>
   </div>
</div>