<!-- techstack section start -->

<div class="bg-[#ffffff] py-[50px] lg:py-[80px] xl:py-[100px] 2xl:py-[140px]">
   <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div>
        <h5 class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center z-10">
          Tech Stack
        </h5>
        <h2 class="text-accent heading font-medium pt-5 lg:pt-10">
          Our Tech Stack
        </h2>
      </div>
      <div class="relative z-10 flex flex-col lg:flex-row justify-between items-center py-5">
         <div class="block md:hidden py-8 z-10">
            <img src="../../../Assets/Images/CloudAndDevopsSolution/techstack_img.png" alt="techstack_img" class="h-[100%] w-[500px] object-cover" />
        </div>
        <div class="absolute inset-x-0 top-[120px] left-[210px] xl:left-[250px] z-[-1] hidden lg:block">
                <img src="../../../Assets/Images/CloudAndDevopsSolution/techstack_img_line.png" alt="techstack_img-line"  class="w-[520px] xl:w-[830px] h-[352px]"/>
            </div>
        <div class="py-0 md:py-8 z-10 w-full lg:w-auto flex flex-col gap-[20px] lg:gap-[60px]">
            <div class="w-full lg:w-[210px] xl:w-[250px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-5 z-10   transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-[24px] text-accent font-medium">Cloud Platforms</h2>
               <p class="paragraph text-secondary pt-1">AWS, Google Cloud</p>
            </div>
            <div class="w-full lg:w-[312px] xl:w-[412px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-5  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-[24px] text-accent font-medium">DevOps Tools</h2>
               <p class="paragraph text-secondary pt-1">Docker, Kubernetes, GitHub Actions, GitLab CI</p>
            </div>
            <div class="w-full lg:w-[245px] xl:w-[305px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-5  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-[24px] text-accent font-medium">Infrastructure as Code</h2>
               <p class="paragraph text-secondary pt-1">Terraform, CloudFormation</p>
            </div>
        </div>
        <div class="py-8 z-10 hidden md:block">
            <img src="../../../Assets/Images/CustomSoftwareDevelopment/techstack_img.png" alt="techstack_img" class="h-[480px] w-[280px] xl:w-[545px] object-cover" />
        </div>
        <div class="py-0 md:py-8 z-10 w-full lg:w-auto flex flex-col gap-[50px] lg:gap-[100px]">
             <div class="w-full lg:w-[295px] xl:w-[400px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-5  ml-auto  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-[24px] text-accent font-medium">Monitoring & Logging</h2>
               <p class="paragraph text-secondary pt-1">Prometheus, Grafana</p>
            </div>
            <div class="w-full lg:w-[230px] xl:w-[297px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-5  ml-auto  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-[24px] text-accent font-medium">Security & Compliance</h2>
               <p class="paragraph text-secondary pt-1">Vault, CSPM</p>
            </div>
        </div>
      </div>
   </div>
</div>