<!-- blogs&insights section start -->

<div class="bg-[#0094EE0F] relative z-0 h-auto py-16 sm:py-20 lg:py-[100px]">
  <div class="absolute inset-y-0 top-0 left-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-1.png"
    alt="mission-background"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="absolute inset-y-0 top-0 right-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-2.png"
    alt="mission-background-2"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-20">
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center"
        >
          Insights & Blogs
        </h5>
      </div>
      <div class="none lg:flex justify-between py-6">
        <h2 class="text-accent heading font-medium">
          Insights & Blogs
        </h2>
        <div class="z-10">
           <p class="paragraph text-secondary w-full max-w-[740px]">Stay updated with the latest trends in digital transformation, AI, and industry-specific innovation across Europe.</p>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 py-6">
        <div
            class="bg-white flex flex-col gap-[10px] h-[510px] md:h-[540px] lg:h-[620px] xl:h-[532px] border border-[#1320281A] rounded-3xl overflow-hidden p-3 lg:p-6"
          >
            <img
              src="../../../Assets/Images/Industries/future_of_fintech.jpg"
              alt="future_of_fintech"
              class="w-full h-[300px] object-cover rounded-2xl"
            />
            
              <h3 class="font-medium text-accent text-2xl ">
                The Future of FinTech in Europe
              </h3>
              <p class="paragraph text-secondary flex-1">
               Digital Banks & Blockchain Adoption
               <span class="block">Discover how Europe’s financial institutions are scaling with blockchain and AI-driven compliance.</span>
               
              </p>
              <button
              class="paragraph text-secondary font-medium  group hover:text-primary"
            >
              <a href="#" class="flex justify-start items-center gap-2"
                >Read More
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                  ><i class="fa-solid fa-arrow-right"></i></span
              ></a>
            </button>
            
          </div>
        <div
            class="bg-white flex flex-col gap-[10px] h-[510px] md:h-[540px] lg:h-[620px] xl:h-[532px] border border-[#1320281A] rounded-3xl overflow-hidden p-3 lg:p-6"
          >
            <img
              src="../../../Assets/Images/Industries/manufacturing_in_europe.jpg"
              alt="manufacturing_in_europe"
              class="w-full h-[300px] object-cover rounded-2xl"
            />
            
              <h3 class="font-medium text-accent text-2xl ">
                Manufacturing 4.0
              </h3>
              <p class="paragraph text-secondary flex-1">
               How IoT & AI Are Transforming Factories in Germany & Beyond Explore how predictive maintenance 
               and IoT are reshaping Europe’s industrial hubs.
              </p>
              <button
              class="paragraph text-secondary font-medium  group hover:text-primary"
            >
              <a href="#" class="flex justify-start items-center gap-2"
                >Read More
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                  ><i class="fa-solid fa-arrow-right"></i></span
              ></a>
            </button>
            
          </div>
        <div
            class="bg-white flex flex-col gap-[10px] h-[510px] md:h-[540px] lg:h-[620px] xl:h-[532px] border border-[#1320281A] rounded-3xl overflow-hidden p-3 lg:p-6"
          >
            <img
              src="../../../Assets/Images/Industries/ecommerce_in_europe.jpg"
              alt="ecommerce_in_europe"
              class="w-full h-[300px] object-cover rounded-2xl"
            />
            
              <h3 class="font-medium text-accent text-2xl ">
                E-commerce in Europe
              </h3>
              <p class="paragraph text-secondary flex-1">
               Multi-language Marketplaces Driving Cross-Border Growth Learn how tailored platforms are helping businesses expand across the EU.
              </p>
              <button
              class="paragraph text-secondary font-medium  group hover:text-primary"
            >
              <a href="#" class="flex justify-start items-center gap-2"
                >Read More
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                  ><i class="fa-solid fa-arrow-right"></i></span
              ></a>
            </button>
            
          </div>
      </div>
    </div>
  </div>
</div>
