<!-- blogs&insights section start -->

<div class="bg-[#0094EE0F] relative z-0 h-auto py-12">
  <div class="container mx-auto px-6 lg:px-12">
    <div class="absolute inset-y-0 top-0 left-0 z-10">
      <img
        src="../../../Assets/Images/mission_bg-1.png"
        alt="mission-background"
        class="h-[100%] w-[100%] object-cover"
      />
    </div>
    <div class="absolute inset-y-0 top-0 right-0 z-10">
      <img
        src="../../../Assets/Images/mission_bg-2.png"
        alt="mission-background-2"
        class="h-[100%] w-[100%] object-cover"
      />
    </div>
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
        >
          Insights & Blogs
        </h5>
      </div>
      <div class="none md:flex justify-between py-2">
        <h2 class="text-4xl font-medium text-[#132028]">
          Insights & Blogs
        </h2>
        <div class="z-10">
           <p class="text-md text-[#44464A] w-full md:w-[650px] pt-3 md:pt-0">Stay updated with the latest trends in digital transformation, AI, and industry-specific innovation across Europe.</p>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-6">
        <div
          class="bg-[#ffffff] h-auto border border-[#1320281F] rounded-2xl p-4 z-10 shadow-lg shadow-[#00000040] hover:-translate-y-2 duration-700"
        >
          <img
            src="../../../Assets/Images/Industries/future_of_fintech.jpg"
            alt="future_of_fintech"
            class="w-[430px] h-[280px] rounded-2xl"
          />
          <div class="pt-3">
            <h2 class="text-xl font-medium pt-2">The Future of FinTech in Europe</h2>
            <p class="text-md text-[#44464A] pt-2">
              Digital Banks & Blockchain Adoption
              Discover how Europe’s financial institutions are scaling with blockchain and AI-driven compliance.
            </p>
            <button
              class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary"
            >
              <a herf="#" class="flex justify-start items-center gap-2"
                >Read More
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                  ><i class="fa-solid fa-arrow-right"></i></span
              ></a>
            </button>
          </div>
        </div>
        <div
          class="bg-[#ffffff] h-auto border border-[#1320281F] rounded-2xl p-4 z-10 shadow-lg shadow-[#00000040] hover:-translate-y-2 duration-700"
        >
          <img
            src="../../../Assets/Images/Industries/manufacturing_in_europe.jpg"
            alt="manufacturing_in_europe"
            class="w-[430px] h-[280px] rounded-2xl"
          />
          <div class="pt-3">
            <h2 class="text-xl font-medium pt-2">Manufacturing 4.0</h2>
            <p class="text-md text-[#44464A] pt-2">
              How IoT & AI Are Transforming Factories in Germany & Beyond Explore how predictive maintenance 
              and IoT are reshaping Europe’s industrial hubs.
            </p>
            <button
              class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary"
            >
              <a herf="#" class="flex justify-start items-center gap-2"
                >Read More
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                  ><i class="fa-solid fa-arrow-right"></i></span
              ></a>
            </button>
          </div>
        </div>
        <div
          class="bg-[#ffffff] h-auto border border-[#1320281F] rounded-2xl p-4 z-10 shadow-lg shadow-[#00000040] hover:-translate-y-2 duration-700"
        >
          <img
            src="../../../Assets/Images/Industries/ecommerce_in_europe.jpg"
            alt="ecommerce_in_europe"
            class="w-[430px] h-[280px] rounded-2xl"
          />
          <div class="pt-3">
            <h2 class="text-xl font-medium pt-2">
             E-commerce in Europe
            </h2>
            <p class="text-md text-[#44464A] pt-2">
              Multi-language Marketplaces Driving Cross-Border Growth Learn how tailored platforms 
              are helping businesses expand across the EU.
            </p>
            <button
              class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary"
            >
              <a herf="#" class="flex justify-start items-center gap-2"
                >Read More
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                  ><i class="fa-solid fa-arrow-right"></i></span
              ></a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
