<!-- Benefits section start -->

<div class="bg-[#0094EE0F] relative z-0 h-auto py-16 sm:py-20 lg:py-[100px]">
  <div class="absolute inset-y-0 top-0 left-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-1.png"
    alt="mission-background"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="absolute inset-y-0 top-0 right-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-2.png"
    alt="mission-background-2"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-20">
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center"
        >
          Benefits
        </h5>
      </div>
      <div class="py-6 none lg:flex justify-between items-center gap-4 lg:gap-8">
        <h2 class="text-accent heading font-medium w-full max-w-[740px]">Why Global Brands Choose Transcodezy for Social Platforms</h2>
        <p class="paragraph text-secondary w-full max-w-[740px] pt-6 lg:pt-12">Our expertise combines technology, design, and compliance to create immersive, 
            future-ready social experiences that scale globally and meet European standards.</p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 py-6">
        <!-- Card 1 -->
        <div class="z-10">
          <div
            class="bg-white border border-[#1320283D] rounded-[24px] p-5 xl:p-8 h-full hover:scale-95 duration-700 cursor-pointer hover:border hover:border-primary"
          >
            <div>
              <img
                src="../../../Assets/Images/SocialMedia/benefits_img1.png"
                alt="Global Scalability"
                class="w-[48px] h-[48px] md:w-[60px] md:h-[60px]"
              />
              <div class="pt-8">
                <h2 class="text-2xl text-accent font-medium">Global Scalability</h2>
                <p class="text-secondary paragraph pt-2">
                 Cloud-native infrastructure.
                 <span class="block"> Seamless performance across devices and regions.</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="z-10">
          <div
            class="bg-white border border-[#1320283D] rounded-[24px] p-5 xl:p-8 h-full hover:scale-95 duration-700 cursor-pointer hover:border hover:border-primary"
          >
            <div>
              <img
                src="../../../Assets/Images/SocialMedia/benefits_img2.png"
                alt="Smarter Engagement"
                class="w-[48px] h-[48px] md:w-[60px] md:h-[60px]"
              />
              <div class="pt-8 ">
                <h2 class="text-2xl text-accent font-medium">Smarter Engagement</h2>
                <p class="text-secondary paragraph pt-2">
                  AI-based personalization and recommendations.
                  <span class="block">Push notifications and gamified engagement features.</span> 
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="z-10">
          <div
            class="bg-white border border-[#1320283D] rounded-[24px] p-5 xl:p-8 h-full hover:scale-95 duration-700 cursor-pointer hover:border hover:border-primary"
          >
            <div>
              <img
                src="../../../Assets/Images/SocialMedia/benefits_img3.png"
                alt="Secure & Private Ecosystems"
                class="w-[48px] h-[48px] md:w-[60px] md:h-[60px]"
              />
              <div class="pt-8">
                <h2 class="text-2xl text-accent font-medium">Secure & Private Ecosystems</h2>
                <p class="text-secondary paragraph pt-2">
                  GDPR-compliant data handling.
                  <span class="block">Advanced encryption and role-based access control.</span> 
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="z-10">
          <div
            class="bg-white border border-[#1320283D] rounded-[24px] p-5 xl:p-8 h-full hover:scale-95 duration-700 cursor-pointer hover:border hover:border-primary"
          >
            <div>
              <img
                src="../../../Assets/Images/SocialMedia/benefits_img4.png"
                alt="Monetization-Ready Platforms"
                class="w-[48px] h-[48px] md:w-[60px] md:h-[60px]"
              />
              <div class="pt-8">
                <h2 class="text-2xl text-accent font-medium">Monetization-Ready Platforms</h2>
                <p class="text-secondary paragraph pt-2">
               Integrated ad management.
               <span class="block">Creator tools and revenue-sharing modules.</span> 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
