<!-- how to apply section start -->
<section id="how-to-apply" class="howtoapply-section">
  <!-- About Us content -->

<div class="bg-[#FFFFFF] py-12 mt-5">
  <div class="container mx-auto px-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 w-full">
      <div>
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
        >
          How to Apply
        </h5>
        <div class="pt-4">
          <h1 class="text-3xl md:text-4xl font-medium text-[#132028]">How to Apply</h1>
          <p class="text-md text-[#44464A] w-full mt-2">
            Interested in joining Transcodezy IT Solutions? Send your CV and a
            cover letter to:
          </p>
        </div>
      </div>
      <div>
       
  <div class="relative z-0 bg-[#0F1A24] w-full max-w-3xl p-8 rounded-2xl shadow-lg">
    <img src="../../../Assets/Images/Careers/howtoapply_form_bg.png" alt="howtoapply_form_bg" class="absolute z-10 inset-0 h-[100%] w-[100%] object-cover" />
    <h2 class="text-white text-xl font-semibold mb-6">
      Apply Now – Start Your Journey at Transcodezy
    </h2>

    <form class="space-y-5">
      <!-- Row 1 -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <input type="text" placeholder="Full Name"
          class="w-full px-2 py-3 rounded-lg bg-[#FFFFFF14] text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-primary z-10" />

        <input type="email" placeholder="Email Address"
          class="w-full px-2 py-3 rounded-lg bg-[#FFFFFF14] text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-primary z-10" />
      </div>

      <!-- Row 2 -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <input type="tel" placeholder="Phone Number"
          class="w-full px-2 py-3 rounded-lg bg-[#FFFFFF14] text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-primary z-10" />

        <!-- Position Applied Dropdown -->
        <select id="position"
          class="w-full px-2 py-3 rounded-lg bg-[#FFFFFF14] text-gray-400 focus:outline-none focus:ring-2 focus:ring-primary z-10">
          <option disabled selected>Position Applied</option>
          <option>Software Developer</option>
          <option>Cloud Engineer</option>
          <option>UI/UX Designer</option>
          <option>AI Engineer</option>
          <option>Intern</option>
          <option>Other</option>
        </select>
      </div>

      <!-- Row 3 -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Resume Upload -->
        <label
          class=" rounded-lg cursor-pointer bg-[#FFFFFF14] p-2 z-10">
          <p class="text-md text-gray-400 text-start mb-2">Upload Resume/CV</p>
          <div class="flex flex-col items-center justify-center w-full h-20 text-[#FFFFFF] rounded-lg border-2 border-dashed border-gray-600 hover:border-blue-500 transition">

            <i class="fa-solid fa-arrow-up-from-bracket"></i>
          </div>
          <input id="resume" type="file" class="hidden" />
        </label>

        <!-- Message -->
        <textarea placeholder="Message..."
          class="w-full h-32 px-2 py-3 rounded-lg bg-[#FFFFFF14] text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 z-10"></textarea>
      </div>

      <!-- Row 4 -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Work Type Dropdown -->
        <select id="workType"
          class="w-full px-4 py-3 rounded-lg bg-[#FFFFFF14] text-gray-400 focus:outline-none focus:ring-2 focus:ring-primary z-10">
          <option disabled selected>Work Type</option>
          <option>Remote</option>
          <option>On-Site</option>
          <option>Hybrid</option>
        </select>
      </div>

      <!-- Submit Button -->
      <button type="submit"
        class="w-fit px-6 py-3 bg-primary text-white rounded-3xl shadow-lg hover:scale-110 duration-700 transition z-10">
        <a herf="#" >Submit Application</a>
      </button>
    </form>
  </div>
      </div>
    </div>
  </div>
</div>
</section>
