<!-- how to apply section start -->
<section id="how-to-apply" class="howtoapply-section">
  <!-- About Us content -->

  <div
    class="bg-[#FFFFFF] h-auto py-[50px] lg:py-[80px] xl:py-[100px] 2xl:py-[140px]"
  >
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col lg:flex-row gap-[40px] w-full">
        <div class="">
          <h5
            class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center z-10"
          >
            How to Apply
          </h5>
          <div class="py-4">
            <h1 class="text-accent heading font-medium py-2 md:py-4">
              How to Apply
            </h1>
            <p
              class="paragraph text-secondary mt-2 md:mt-4 w-full max-w-[643px]"
            >
              Interested in joining Transcodezy IT Solutions? Send your CV and a
              cover letter to:
            </p>
          </div>
        </div>
        <div>
          <div
            class="relative z-0 bg-[#0F1A24] w-full max-w-3xl p-5 lg:p-10 rounded-[24px] min-h-[580px] w-full xl:w-[817px] shadow-lg"
          >
            <h2 class="text-white text-[24px] font-medium">
              Apply Now – Start Your Journey at Transcodezy
            </h2>

            <form class="space-y-6 relative z-10 py-5 lg:py-10">
              <!-- Row 1 -->
              <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
                <input
                  type="text"
                  placeholder="Full Name"
                  class="w-full p-3 rounded-xl bg-[#FFFFFF14] text-[#FFFFFF66] placeholder-[#FFFFFF66] focus:outline-none focus:ring-2 focus:ring-primary z-10"
                />

                <input
                  type="email"
                  placeholder="Email Address"
                  class="w-full p-3 rounded-xl bg-[#FFFFFF14] text-[#FFFFFF66] placeholder-[#FFFFFF66] focus:outline-none focus:ring-2 focus:ring-primary z-10"
                />
              </div>

              <!-- Row 2 -->
              <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
                <input
                  type="tel"
                  placeholder="Phone Number"
                  class="w-full p-3 rounded-xl bg-[#FFFFFF14] text-[#FFFFFF66] placeholder-[#FFFFFF66] focus:outline-none focus:ring-2 focus:ring-primary z-10"
                />

                <!-- Position Applied Dropdown -->
                <div class="relative w-full xl:max-w-[335px]">
                <select
                  class="bg-[#FFFFFF14] text-[#FFFFFF66] appearance-none border-none py-4 px-3 pr-10 rounded-xl leading-tight w-full focus:outline-none focus:ring-2 focus:ring-primary"
                >
                  <option class="text-accent paragraph p-3">Position Applied</option>
                  <option class="text-accent paragraph p-3">Software Developer</option>
                  <option class="text-accent paragraph p-3">Cloud Engineer</option>
                  <option class="text-accent paragraph p-3">UI/UX Designer</option>
                  <option class="text-accent paragraph p-3">AI Engineer</option>
                  <option class="text-accent paragraph p-3">Intern</option>
                  <option class="text-accent paragraph p-3">Other</option>
                </select>

                <!-- Icon inside select -->
                <div
                  class="pointer-events-none absolute inset-y-0 right-3 flex items-center"
                >
                  <i class="fa fa-chevron-down text-[#FFFFFF66]"></i>
                </div>
              </div>
              </div>

              <!-- Row 3 -->
              <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
                <!-- Resume Upload -->
                <label
                  class="rounded-xl cursor-pointer bg-[#FFFFFF14] p-3 z-10"
                >
                  <p class="text-md text-[#FFFFFF66] text-start mb-2">
                    Upload Resume/CV
                  </p>
                  <div
                    class="flex flex-col items-center justify-center w-full h-[70px] text-[#FFFFFF66] rounded-lg border-2 border-dashed border-gray-600 hover:border-primary transition"
                  >
                    <i class="fa-solid fa-arrow-up-from-bracket text-2xl"></i>
                  </div>
                  <input id="resume" type="file" class="hidden" />
                </label>

                <!-- Message -->
                <textarea
                  placeholder="Message..."
                  class="w-full h-32 p-3 rounded-xl bg-[#FFFFFF14] text-[#FFFFFF66] placeholder-[#FFFFFF66] focus:outline-none focus:ring-2 focus:ring-primary z-10"
                ></textarea>
              </div>

              <!-- Row 4 -->
              <div class="relative w-full xl:max-w-[335px]">
                <select
                  class="bg-[#FFFFFF14] text-[#FFFFFF66] appearance-none border-none py-4 px-3 pr-10 rounded-xl leading-tight w-full focus:outline-none focus:ring-2 focus:ring-primary"
                >
                  <option class="text-accent paragraph py-1">Work Type</option>
                  <option class="text-accent paragraph py-1">Remote</option>
                  <option class="text-accent paragraph py-1">On-site</option>
                  <option class="text-accent paragraph py-1">Hybrid</option>
                </select>

                <!-- Icon inside select -->
                <div
                  class="pointer-events-none absolute inset-y-0 right-3 flex items-center"
                >
                  <i class="fa fa-chevron-down text-[#FFFFFF66]"></i>
                </div>
              </div>
              </form>
              <!-- Submit Button -->
              <div class="mt-4 w-fit px-6 py-3 bg-primary paragraph text-white rounded-[40px] hover:scale-110 duration-700 transition overflow-hidden">
                <a href="#" >Submit Application</a>
              </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
