<!-- our life section start -->

<div class="bg-[#0094EE0F] relative z-0 h-auto py-12">
  <div class="container mx-auto px-6 lg:px-12">
    <div class="absolute inset-y-0 top-0 left-0 z-10">
      <img
        src="../../../Assets/Images/mission_bg-1.png"
        alt="mission-background"
        class="h-[100%] w-[100%] object-cover"
      />
    </div>
    <div class="absolute inset-y-0 top-0 right-0 z-10">
      <img
        src="../../../Assets/Images/mission_bg-2.png"
        alt="mission-background-2"
        class="h-[100%] w-[100%] object-cover"
      />
    </div>
    <div>
      <div class="none lg:flex items-center gap-12 py-4">
        <div class="py-5 w-full lg:w-[500px]">
           <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-2 px-4 rounded-3xl text-center z-10"
        >
          Life
        </h5> 
          <h2 class="text-4xl font-medium text-[#132028] py-4 mt-6">
            Life at Transcodezy
          </h2>
          <p class="text-md">
            We believe work should be rewarding. Our perks and activities are
            designed to create a positive, engaging, and fulfilling experience
            for every team member.
          </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10 pt-4 md:pt-0">
          <div class="flex items-center gap-4 px-2">
            <img
              src="../../../Assets/Images/Careers/team_building_activities.jpg"
              alt="team_building_activities"
              class="w-[80px] h-[80px] object-cover rounded-lg"
            />
            <div>
                <h1 class="text-xl md:text-2xl font-medium text-[#132028]">Team Building Activities</h1>
                <p class="text-md text-[#44464A]">Regular events to foster collaboration and camaraderie.</p>
            </div>
          </div>

          <div class="flex items-center gap-4 px-2">
            <img
              src="../../../Assets/Images/Careers/health&wellness_program.jpg"
              alt="health&wellness_program"
              class="w-[80px] h-[80px] object-cover rounded-lg"
            />
            <div>
                <h1 class="text-xl md:text-2xl font-medium text-[#132028]">Health & Wellness Programs</h1>
                <p class="text-md text-[#44464A]">Supportive programs for physical and mental wellbeing.</p>
            </div>
          </div>

          <div class="flex items-center gap-4 px-2">
            <img
              src="../../../Assets/Images/Careers/professional_development.jpg"
              alt="professional_development"
              class="w-[80px] h-[80px] object-cover rounded-lg"
            />
            <div>
                <h1 class="text-xl md:text-2xl font-medium text-[#132028]">Professional Development</h1>
                <p class="text-md text-[#44464A]">Access to workshops, certifications, and training resources.</p>
            </div>
          </div>

          <div class="flex items-center gap-4 px-2">
            <img
              src="../../../Assets/Images/Careers/recognition&rewards.jpg"
              alt="recognition&rewards"
              class="w-[80px] h-[80px] object-cover rounded-lg"
            />
            <div>
                <h1 class="text-xl md:text-2xl font-medium text-[#132028]">Recognition & Rewards</h1>
                <p class="text-md text-[#44464A]">Celebrate contributions with awards, incentives, and recognition.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
