<!-- our life section start -->

<div class="bg-[#0094EE0F] relative z-0 h-auto py-16 sm:py-20 lg:py-[100px]">
  <div class="absolute inset-y-0 top-0 left-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-1.png"
    alt="mission-background"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="absolute inset-y-0 top-0 right-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-2.png"
    alt="mission-background-2"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="container px-4 sm:px-6 lg:px-8 relative z-20">
    <div>
      <div class="none lg:flex items-center gap-[40px] lg:gap-[80px] py-4">
        <div class="w-full lg:w-[500px]">
           <h5
          class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center"
        >
          Life
        </h5> 
          <h2 class="text-accent heading font-medium py-4 mt-4">
            Life at Transcodezy
          </h2>
          <p class="paragraph text-secondary">
            We believe work should be rewarding. Our perks and activities are
            designed to create a positive, engaging, and fulfilling experience
            for every team member.
          </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10 pt-4 md:pt-0">
          <div class="flex items-center gap-4 px-2">
            <img
              src="../../../Assets/Images/Careers/team_building_activities.jpg"
              alt="team_building_activities"
              class="w-[96px] h-[96px] object-cover rounded-xl"
            />
            <div>
                <h1 class="text-[20px] lg:text-[24px] font-medium text-accent">Team Building Activities</h1>
                <p class="paragraph text-secondary">Regular events to foster collaboration and camaraderie.</p>
            </div>
          </div>

          <div class="flex items-center gap-4 px-2">
            <img
              src="../../../Assets/Images/Careers/health&wellness_program.jpg"
              alt="health&wellness_program"
              class="w-[96px] h-[96px] object-cover rounded-xl"
            />
            <div>
                <h1 class="text-[20px] lg:text-[24px] font-medium text-accent">Health & Wellness Programs</h1>
                <p class="paragraph text-secondary">Supportive programs for physical and mental wellbeing.</p>
            </div>
          </div>

          <div class="flex items-center gap-4 px-2">
            <img
              src="../../../Assets/Images/Careers/professional_development.jpg"
              alt="professional_development"
              class="w-[96px] h-[96px] object-cover rounded-xl"
            />
            <div>
                <h1 class="text-[20px] lg:text-[24px] font-medium text-accent">Professional Development</h1>
                <p class="paragraph text-secondary">Access to workshops, certifications, and training resources.</p>
            </div>
          </div>

          <div class="flex items-center gap-4 px-2">
            <img
              src="../../../Assets/Images/Careers/recognition&rewards.jpg"
              alt="recognition&rewards"
              class="w-[96px] h-[96px] object-cover rounded-xl"
            />
            <div>
                <h1 class="text-[20px] lg:text-[24px] font-medium text-accent">Recognition & Rewards</h1>
                <p class="paragraph text-secondary">Celebrate contributions with awards, incentives, and recognition.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
