<!-- our Healthcare solution section start -->

<div class="bg-[#FFFFFF] py-12">
  <div class="container mx-auto px-8">
    <div class="py-5">
      <h5
        class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center"
      >
        Our Healthcare Solutions
      </h5>
      <div class="py-5 none lg:flex justify-between items-center gap-5">
        <h1 class="text-3xl md:text-4xl font-medium w-full lg:w-[600px]">
          Transforming Patient Care with Innovative Healthcare Technology
        </h1>
        <p class="text-md text-[#44464A] w-full lg:w-[650px] pt-6">
          Transcodezy helps global healthcare providers digitize services, automate operations, 
          and deliver patient-first digital experiences through next-gen IT solutions.
        </p>
      </div>
    </div>
    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 py-5">
        
        <!-- Card 1 -->
        <div class="bg-white rounded-2xl shadow-sm hover:shadow-lg transition-all duration-300 p-5 border border-gray-100">
          <img src="../../../Assets/Images/Healthcare/our_healthcare_img1.jpg" alt="Telemedicine Platforms" class="rounded-xl mb-4 w-full h-55 object-cover">
          <h3 class="text-xl font-semibold text-gray-900 mb-2">Telemedicine Platforms</h3>
          <ul class="text-gray-600 text-md list-disc ml-5 space-y-1">
            <li>Secure video consultations</li>
            <li>Digital prescriptions & real-time medical reports</li>
            <li>Remote health monitoring via wearables</li>
          </ul>
        </div>

        <!-- Card 2 -->
        <div class="bg-white rounded-2xl shadow-sm hover:shadow-lg transition-all duration-300 p-5 border border-gray-100">
          <img src="../../../Assets/Images/Healthcare/our_healthcare_img2.jpg" alt="Electronic Health Records (EHR) & Patient Portals" class="rounded-xl mb-4 w-full h-55 object-cover">
          <h3 class="text-xl font-semibold text-gray-900 mb-2">Electronic Health Records (EHR) & Patient Portals</h3>
          <ul class="text-gray-600 text-md list-disc ml-5 space-y-1">
            <li>Centralized patient record management</li>
            <li>Cross-device access for doctors & patients</li>
            <li>Smart reminders for tests, medications, and follow-ups</li>
          </ul>
        </div>

        <!-- Card 3 -->
        <div class="bg-white rounded-2xl shadow-sm hover:shadow-lg transition-all duration-300 p-5 border border-gray-100">
          <img src="../../../Assets/Images/Healthcare/our_healthcare_img3.jpg" alt="AI-Powered Diagnosis & Predictive Analytics" class="rounded-xl mb-4 w-full h-55 object-cover">
          <h3 class="text-xl font-semibold text-gray-900 mb-2">AI-Powered Diagnosis & Predictive Analytics</h3>
          <ul class="text-gray-600 text-md list-disc ml-5 space-y-1">
            <li>Faster detection of diseases using AI & ML</li>
            <li>Automated radiology & pathology image analysis</li>
            <li>Predictive health alerts for chronic conditions</li>
          </ul>
        </div>

        <!-- Card 4 -->
        <div class="bg-white rounded-2xl shadow-sm hover:shadow-lg transition-all duration-300 p-5 border border-gray-100">
          <img src="../../../Assets/Images/Healthcare/our_healthcare_img4.jpg" alt="CRM & Appointment Systems" class="rounded-xl mb-4 w-full h-55 object-cover">
          <h3 class="text-xl font-semibold text-gray-900 mb-2">CRM & Appointment Systems</h3>
          <ul class="text-gray-600 text-md list-disc ml-5 space-y-1">
            <li>Smart patient lifecycle management</li>
            <li>Automated appointment scheduling & rescheduling</li>
            <li>Billing & insurance claim integrations</li>
          </ul>
        </div>

        <!-- Card 5 -->
        <div class="bg-white rounded-2xl shadow-sm hover:shadow-lg transition-all duration-300 p-5 border border-gray-100">
          <img src="../../../Assets/Images/Healthcare/our_healthcare_img5.jpg" alt="Workflow Automation & Integration" class="rounded-xl mb-4 w-full h-55 object-cover">
          <h3 class="text-xl font-semibold text-gray-900 mb-2">Workflow Automation & Integration</h3>
          <ul class="text-gray-600 text-md list-disc ml-5 space-y-1">
            <li>Automate administrative tasks (reports, billing, compliance docs)</li>
            <li>Integration with IoT devices & hospital ERP systems</li>
            <li>Reduced manual workload for healthcare staff</li>
          </ul>
        </div>

        <!-- Card 6 -->
        <div class="bg-white rounded-2xl shadow-sm hover:shadow-lg transition-all duration-300 p-5 border border-gray-100">
          <img src="../../../Assets/Images/Healthcare/our_healthcare_img6.jpg" alt=" Healthcare Payment Systems" class="rounded-xl mb-4 w-full h-55 object-cover">
          <h3 class="text-xl font-semibold text-gray-900 mb-2"> Healthcare Payment Systems</h3>
          <ul class="text-gray-600 text-md list-disc ml-5 space-y-1">
            <li>Secure online payments for patients</li>
            <li>Multi-currency billing for global hospitals</li>
            <li>Insurance claim management integrations</li>
          </ul>
        </div>

      </div>
  </div>
</div>
