<!-- global partnership section start -->

<div class="bg-[#FFFFFF] h-auto py-[50px] lg:py-[80px] xl:py-[100px] 2xl:py-[140px]">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="bg-white paragraph text-accent border border-accent w-fit py-3 px-6 rounded-[40px]"
        >
          Global Partnership Models
        </h5>
      </div>
      <div class="py-5 none lg:flex justify-between gap-[20px] lg:gap-[40px]">
        <h2 class="heading font-medium text-accent w-full xl:max-w-[720px]">Collaborate with Confidence — Choose the Right Model for You</h2>
        <p class="paragraph text-secondary font-normal w-full xl:max-w-[720px] pt-[40px]">
          Transcodezy’s flexible partnership models are built for scalability, transparency, and long-term growth in global markets.</p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 py-6">
        <!-- Card 1 -->
        <div class="z-10">
          <div
            class="cards bg-white  shadow border rounded-[24px] h-[240px] sm:h-[220px] lg:h-[276px] flex flex-col justify-between p-5 xl:p-10"
          >
            <div>
              <img
                src="../../../Assets/Images/BecomeAPartner/Technology_partner.png"
                alt="technology_partner"
                class="w-[50px] h-[50px]"
              />
              <div class="pt-8 cards-content">
                <h2 class="text-2xl text-accent font-medium">Technology Partner</h2>
                <p class="text-secondary paragraph pt-2">
                  Co-build AI and automation solutions for diverse industries.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-[24px] h-[240px] sm:h-[220px] lg:h-[276px] flex flex-col justify-between p-5 xl:p-10"
          >
            <div>
              <img
                src="../../../Assets/Images/BecomeAPartner/channel_partner.png"
                alt="channel_partner"
                class="w-[60px] h-[60px]"
              />
              <div class="pt-8 cards-content">
                <h2 class="text-2xl text-accent font-medium">Channel Partner</h2>
                <p class="text-secondary paragraph pt-2">
                  Promote and resell Transcodezy solutions in your region.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-[24px] h-[240px] sm:h-[220px] lg:h-[276px] flex flex-col justify-between p-5 xl:p-10"
          >
            <div>
              <img
                src="../../../Assets/Images/BecomeAPartner/strategic_partner.png"
                alt="strategic_partner"
                class="w-[60px] h-[60px]"
              />
              <div class="pt-8 cards-content">
                <h2 class="text-2xl text-accent font-medium">Strategic Partner</h2>
                <p class="text-secondary paragraph pt-2">
                  Collaborate on new innovations and shared R&D.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-[24px] h-[240px] sm:h-[220px] lg:h-[276px] flex flex-col justify-between p-5 xl:p-10"
          >
            <div>
              <img
                src="../../../Assets/Images/BecomeAPartner/implementation_partner.png"
                alt="implementation_partner"
                class="w-[60px] h-[60px]"
              />
              <div class="pt-8 cards-content">
                <h2 class="text-2xl text-accent font-medium">Implementation Partner</h2>
                <p class="text-secondary paragraph pt-2">
               Deliver and manage end-to-end digital solutions globally.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
