<!-- global partnership section start -->

<div class="bg-[#FFFFFF] h-auto py-12">
  <div class="container mx-auto px-6 lg:px-12">
    
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
        >
          Global Partnership Models
        </h5>
      </div>
      <div class="py-5 none lg:flex justify-between ">
        <h2 class="text-4xl font-medium text-[#132028] w-full lg:w-[600px]">Collaborate with Confidence — Choose the Right Model for You</h2>
        <p class="text-md  text-[#44464A] w-full lg:w-[650px] pt-8">Transcodezy’s flexible partnership models are built for scalability, transparency, and long-term growth in global markets.</p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 py-6">
        <!-- Card 1 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[220px] lg:h-[270px] xl:h-[230px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <img
                src="../../../Assets/Images/BecomeAPartner/Technology_partner.png"
                alt="technology_partner"
                class="w-[50px] h-[50px]"
              />
              <div class="pt-4 cards-content">
                <h2 class="text-xl font-medium">Technology Partner</h2>
                <p class="text-md text-[#44464A] pt-2 leading-relaxed">
                  Co-build AI and automation solutions for diverse industries.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[220px] lg:h-[270px] xl:h-[230px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <img
                src="../../../Assets/Images/BecomeAPartner/channel_partner.png"
                alt="channel_partner"
                class="w-[50px] h-[50px]"
              />
              <div class="pt-4 cards-content">
                <h2 class="text-xl font-medium">Channel Partner</h2>
                <p class="text-md text-[#44464A] pt-2 leading-relaxed">
                  Promote and resell Transcodezy solutions in your region.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[220px] lg:h-[270px] xl:h-[230px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <img
                src="../../../Assets/Images/BecomeAPartner/strategic_partner.png"
                alt="strategic_partner"
                class="w-[50px] h-[50px]"
              />
              <div class="pt-4 cards-content">
                <h2 class="text-xl font-medium">Strategic Partner</h2>
                <p class="text-md text-[#44464A] pt-2 leading-relaxed space-y-1">
                  Collaborate on new innovations and shared R&D.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[220px] lg:h-[270px] xl:h-[230px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <img
                src="../../../Assets/Images/BecomeAPartner/implementation_partner.png"
                alt="implementation_partner"
                class="w-[50px] h-[50px]"
              />
              <div class="pt-4 cards-content">
                <h2 class="text-xl font-medium">Implementation Partner</h2>
                <p class="text-md text-[#44464A] pt-2">
               Deliver and manage end-to-end digital solutions globally.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
