<div class="bg-[#FFFFFF] py-[50px] lg:py-[70px] xl:py-[90px] 2xl:py-[120px]">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col-reverse lg:flex-row  gap-[40px] lg:gap-[80px]">
      <div class="w-full flex flex-col gap-4 md:gap-8">
        <div
          class="text-accent border border-accent w-fit py-3 px-6 rounded-[40px] paragraph text-center"
        >
          <span>Why Partner with Transcodezy</span>
        </div>
        <div>
        <h1 class="heading font-medium text-accent">Where Global Partnerships Create Real Impact</h1>
        </div>
        <div>
        <p class="text-secondary paragraph ">
         At Transcodezy, collaboration goes beyond boundaries.
        </p>
        <p class="text-secondary paragraph">
         We unite global innovators, European enterprises, and emerging startups to co-build the future of AI-powered automation, 
         cloud infrastructure, and digital sustainability.
        </p>
        </div>
        <ul class="text-secondary paragraph list-disc ml-4 space-y-2">
            <li>Technology Innovators building AI, IoT, or automation platforms.</li>
            <li>European Enterprises modernizing through digital transformation.</li>
            <li>Startups & Scaleups seeking reliable technology partners for growth.</li>
            <li>Strategic Partners aiming for cross-market collaborations.</li>
        </ul>
      </div>
      <div class="w-full ">
        <img
          src="../../../Assets/Images/BecomeAPartner/whyourpartner.jpg"
          alt="WhyOurPartner"
          class="w-full h-[456px] object-cover rounded-[24px]"
        />
      </div>
    </div>
  </div>
</div>
