<!-- service section start -->
<div class="bg-[#0094EE0F] relative z-0 h-auto py-12">
  
    <!-- Background Images -->
    <div class="absolute inset-y-0 top-0 left-0 z-0">
      <img
        src="../../../Assets/Images/mission_bg-1.png"
        alt="mission-background"
        class="h-full w-full object-cover"
      />
    </div>
    <div class="absolute inset-y-0 top-0 right-0 z-0">
      <img
        src="../../../Assets/Images/mission_bg-2.png"
        alt="mission-background-2"
        class="h-full w-full object-cover"
      />
    </div>
    <div class="container mx-auto px-6 lg:px-12 relative">
    <!-- Header -->
    <div class="relative z-10">
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-2 px-4 rounded-3xl text-center"
        >
          Services
        </h5>
      </div>

      <div class="hidden md:flex justify-between items-center py-2">
        <h2 class="text-4xl font-medium text-[#132028]">Our Core Services</h2>
        <div>
          <button
            id="viewAllBtn"
            class="flex justify-center gap-2 bg-primary py-2 px-4 rounded-3xl text-white text-sm group hover:bg-[#007ED1] transition"
          >
            View All
            <span
              class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
            >
              <i class="fa-solid fa-arrow-right"></i>
            </span>
          </button>
        </div>
      </div>
    </div>

    <!-- Desktop Grid -->
    <div
      id="desktopServices"
      class="hidden md:grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-6 relative z-10"
    >
      <!-- 6 Cards -->
      <div
        class="service-card bg-[#ffffff] flex flex-col border border-[#1320281F] rounded-2xl p-4 shadow-lg hover:-translate-y-2 duration-700"
      >
        <img
          src="../../../Assets/Images/custom_software.jpg"
          alt="custom_software"
          class="w-full h-[280px] rounded-2xl mb-2"
        />
        <h2 class="text-xl font-medium">Custom Software Development</h2>
        <p class="text-md text-[#44464A] pt-2 flex-1">
          Tailored web & mobile apps built for your business needs.
        </p>
        <button
          class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary"
        >
          <a href="/custom_software_development.html" class="flex items-center gap-2"
            >Read More
            <span
              class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              ><i class="fa-solid fa-arrow-right"></i
            ></span>
          </a>
        </button>
      </div>

      <div
        class="service-card bg-[#ffffff] flex flex-col border border-[#1320281F] rounded-2xl p-4 shadow-lg hover:-translate-y-2 duration-700"
      >
        <img
          src="../../../Assets/Images/cloud_solution.jpg"
          alt="cloud_solution"
          class="w-full h-[280px] rounded-2xl mb-2"
        />
        <h2 class="text-xl font-medium">Cloud & DevOps Solutions</h2>
        <p class="text-md text-[#44464A] pt-2 flex-1">
          Scalable, secure infrastructure & automation strategies.
        </p>
        <button
          class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary"
        >
          <a href="/cloud_and_devops_solutions.html" class="flex items-center gap-2"
            >Read More
            <span
              class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              ><i class="fa-solid fa-arrow-right"></i
            ></span>
          </a>
        </button>
      </div>

      <div
        class="service-card bg-[#ffffff] flex flex-col border border-[#1320281F] rounded-2xl p-4 shadow-lg hover:-translate-y-2 duration-700"
      >
        <img
          src="../../../Assets/Images/AI&ML.jpg"
          alt="AI&ML"
          class="w-full h-[280px] rounded-2xl mb-2"
        />
        <h2 class="text-xl font-medium">
          Artificial Intelligence & Machine Learning
        </h2>
        <p class="text-md text-[#44464A] pt-2 flex-1">
          Smarter automation & predictive insights.
        </p>
        <button
          class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary"
        >
          <a href="/ai_and_ml.html" class="flex items-center gap-2"
            >Read More
            <span
              class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              ><i class="fa-solid fa-arrow-right"></i
            ></span>
          </a>
        </button>
      </div>

      <div
        class="extra-card hidden bg-[#ffffff] flex flex-col border border-[#1320281F] rounded-2xl p-4 shadow-lg hover:-translate-y-2 duration-700"
      >
        <img
          src="../../../Assets/Images/blockchain_img.jpg"
          alt="blockchain_img"
          class="w-full h-[280px] rounded-2xl mb-2"
        />
        <h2 class="text-xl font-medium">Blockchain & FinTech Solutions</h2>
        <p class="text-md text-[#44464A] pt-2 flex-1">
          Secure, transparent, and innovative digital finance ecosystems.
        </p>
        <button
          class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary"
        >
          <a href="/blockchain_and_fintech_solutions.html" class="flex items-center gap-2"
            >Read More
            <span
              class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              ><i class="fa-solid fa-arrow-right"></i
            ></span>
          </a>
        </button>
      </div>

      <div
        class="extra-card hidden bg-[#ffffff] flex flex-col border border-[#1320281F] rounded-2xl p-4 shadow-lg hover:-translate-y-2 duration-700"
      >
        <img
          src="../../../Assets/Images/uiux_img.jpg"
          alt="uiux_img"
          class="w-full h-[280px] rounded-2xl mb-2"
        />
        <h2 class="text-xl font-medium">UI/UX & Product Design</h2>
        <p class="text-md text-[#44464A] pt-2 flex-1">
          User-focused design for intuitive digital experiences.
        </p>
        <button
          class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary"
        >
          <a href="/uiux_and_product_design.html" class="flex items-center gap-2"
            >Read More
            <span
              class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              ><i class="fa-solid fa-arrow-right"></i
            ></span>
          </a>
        </button>
      </div>

      <div
        class="extra-card hidden bg-[#ffffff] flex flex-col border border-[#1320281F] rounded-2xl p-4 shadow-lg hover:-translate-y-2 duration-700"
      >
        <img
          src="../../../Assets/Images/digital_consulting.jpg"
          alt="digital_consulting"
          class="w-full h-[280px] rounded-2xl mb-2"
        />
        <h2 class="text-xl font-medium">Digital Transformation Consulting</h2>
        <p class="text-md text-[#44464A] pt-2 flex-1">
          Helping enterprises adopt modern technologies and scale effectively.
        </p>
        <button
          class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary"
        >
          <a href="/digital_transformation_consulting.html" class="flex items-center gap-2"
            >Read More
            <span
              class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              ><i class="fa-solid fa-arrow-right"></i
            ></span>
          </a>
        </button>
      </div>
    </div>

    <!-- Mobile Swiper -->
    <div class="block md:hidden relative z-10 py-6">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <!-- Repeat all 6 slides -->
          <div class="swiper-slide">
            <div
              class="bg-white border border-[#1320281F] rounded-2xl p-4 shadow-lg"
            >
              <img
                src="../../../Assets/Images/custom_software.jpg"
                alt="custom_software"
                class="w-full h-[260px] rounded-2xl mb-2"
              />
              <h2 class="text-lg font-medium">Custom Software Development</h2>
              <p class="text-sm text-[#44464A] pt-2">
                Tailored web & mobile apps built for your business needs.
              </p>
              <button
                class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary"
              >
                <a href="#" class="flex items-center gap-2"
                  >Read More
                  <span
                    class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                    ><i class="fa-solid fa-arrow-right"></i
                  ></span>
                </a>
              </button>
            </div>
          </div>

          <div class="swiper-slide">
            <div
              class="bg-white border border-[#1320281F] rounded-2xl p-4 shadow-lg"
            >
              <img
                src="../../../Assets/Images/cloud_solution.jpg"
                alt="cloud_solution"
                class="w-full h-[260px] rounded-2xl mb-2"
              />
              <h2 class="text-lg font-medium">Cloud & DevOps Solutions</h2>
              <p class="text-sm text-[#44464A] pt-2">
                Scalable, secure infrastructure & automation strategies.
              </p>
              <button
                class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary"
              >
                <a href="#" class="flex items-center gap-2"
                  >Read More
                  <span
                    class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                    ><i class="fa-solid fa-arrow-right"></i
                  ></span>
                </a>
              </button>
            </div>
          </div>

          <div class="swiper-slide">
            <div
              class="bg-white border border-[#1320281F] rounded-2xl p-4 shadow-lg"
            >
              <img
                src="../../../Assets/Images/AI&ML.jpg"
                alt="AI&ML"
                class="w-full h-[260px] rounded-2xl mb-2"
              />
              <h2 class="text-lg font-medium">AI & Machine Learning</h2>
              <p class="text-sm text-[#44464A] pt-2">
                Smarter automation & predictive insights.
              </p>
              <button
                class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary"
              >
                <a href="#" class="flex items-center gap-2"
                  >Read More
                  <span
                    class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                    ><i class="fa-solid fa-arrow-right"></i
                  ></span>
                </a>
              </button>
            </div>
          </div>

          <div class="swiper-slide">
            <div
              class="bg-white border border-[#1320281F] rounded-2xl p-4 shadow-lg"
            >
              <img
                src="../../../Assets/Images/blockchain_img.jpg"
                alt="blockchain_img"
                class="w-full h-[260px] rounded-2xl mb-2"
              />
              <h2 class="text-lg font-medium">Blockchain & FinTech</h2>
              <p class="text-sm text-[#44464A] pt-2">
                Secure, transparent, and innovative digital finance ecosystems.
              </p>
              <button
                class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary"
              >
                <a href="#" class="flex items-center gap-2"
                  >Read More
                  <span
                    class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                    ><i class="fa-solid fa-arrow-right"></i
                  ></span>
                </a>
              </button>
            </div>
          </div>

          <div class="swiper-slide">
            <div
              class="bg-white border border-[#1320281F] rounded-2xl p-4 shadow-lg"
            >
              <img
                src="../../../Assets/Images/uiux_img.jpg"
                alt="uiux_img"
                class="w-full h-[260px] rounded-2xl mb-2"
              />
              <h2 class="text-lg font-medium">UI/UX & Product Design</h2>
              <p class="text-sm text-[#44464A] pt-2">
                User-focused design for intuitive experiences.
              </p>
              <button
                class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary"
              >
                <a href="#" class="flex items-center gap-2"
                  >Read More
                  <span
                    class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                    ><i class="fa-solid fa-arrow-right"></i
                  ></span>
                </a>
              </button>
            </div>
          </div>

          <div class="swiper-slide">
            <div
              class="bg-white border border-[#1320281F] rounded-2xl p-4 shadow-lg"
            >
              <img
                src="../../../Assets/Images/digital_consulting.jpg"
                alt="digital_consulting"
                class="w-full h-[260px] rounded-2xl mb-2"
              />
              <h2 class="text-lg font-medium">Digital Transformation</h2>
              <p class="text-sm text-[#44464A] pt-2">
                Helping enterprises adopt modern technologies.
              </p>
              <button
                class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary"
              >
                <a href="#" class="flex items-center gap-2"
                  >Read More
                  <span
                    class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                    ><i class="fa-solid fa-arrow-right"></i
                  ></span>
                </a>
              </button>
            </div>
          </div>
        </div>

        <!-- Swiper Buttons -->
        <div class="flex flex-row gap-6 pt-4 md:pt-0 z-10 relative">
          <button
            id="ServicePrev"
            class="w-[50px] h-[50px] border border-[#132028] flex justify-center items-center rounded-full disabled:opacity-50 cursor-pointer"
            aria-label="Previous"
            title="Previous"
          >
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <button
            id="ServiceNext"
            class="w-[50px] h-[50px] border border-[#132028] flex justify-center items-center rounded-full disabled:opacity-50 cursor-pointer"
            aria-label="Next"
            title="Next"
          >
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Desktop View All Button
  const viewAllBtn = document.getElementById("viewAllBtn");
  const extraCards = document.querySelectorAll(".extra-card");
  let expanded = false;
  viewAllBtn.addEventListener("click", () => {
    expanded = !expanded;
    extraCards.forEach((card) => card.classList.toggle("hidden", !expanded));
    viewAllBtn.innerHTML = expanded
      ? 'View Less <span><i class="fa-solid fa-arrow-up"></i></span>'
      : 'View All <span><i class="fa-solid fa-arrow-right"></i></span>';
  });

  // Mobile Swiper Setup
  const swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 20,
    navigation: {
      nextEl: "#ServiceNext",
      prevEl: "#ServicePrev",
    },
    on: {
      slideChange: function () {
        document.querySelector("#ServicePrev").disabled = this.isBeginning;
        document.querySelector("#ServiceNext").disabled = this.isEnd;
      },
    },
  });
</script>
