<!-- service section start -->
<div class="bg-[#0094EE0F] relative z-0 h-auto py-16 sm:py-20 lg:py-[100px]">
  
    <!-- Background Images -->
    <div class="absolute inset-y-0 top-0 left-0 z-0">
      <img
        src="../../../Assets/Images/mission_bg-1.png"
        alt="mission-background"
        class="h-full w-full object-cover"
      />
    </div>
    <div class="absolute inset-y-0 top-0 right-0 z-0">
      <img
        src="../../../Assets/Images/mission_bg-2.png"
        alt="mission-background-2"
        class="h-full w-full object-cover"
      />
    </div>
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative">
    <!-- Header -->
    <div class="relative z-10">
      <div class="py-2 md:py-5 w-full lg:w-[500px]">
        <h5
          class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center"
        >
          Services
        </h5>
      </div>

      <div class="hidden md:flex justify-between items-center py-2">
        <h2 class="text-accent heading font-medium">Our Core Services</h2>
        <div>
          <button
            id="viewAllBtn"
            class="flex justify-center gap-2 bg-primary py-3 px-6 rounded-3xl text-white paragraph group "
          >
            View All
            <span
              class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
            >
              <i class="fa-solid fa-arrow-right"></i>
            </span>
          </button>
        </div>
      </div>
    </div>

    <!-- Desktop Grid -->
    <div
      id="desktopServices"
      class="hidden md:grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 py-6 relative z-10"
    >
      <!-- 6 Cards -->
      <div
        class="service-card bg-white flex flex-col border border-[#1320281F] rounded-[24px] p-6 shadow-lg"
      >
        <img
          src="../../../Assets/Images/custom_software.jpg"
          alt="custom_software"
          class="w-full h-[300px] object-cover rounded-2xl mb-2"
        />
        <h2 class="text-2xl font-medium text-accent">Custom Software Development</h2>
        <p class="paragraph text-secondary pt-2 flex-1">
          Tailored web and mobile applications designed to meet unique business needs in Europe..
        </p>
        <button
          class="paragraph text-secondary font-medium pt-4 group hover:text-primary"
        >
          <a href="/custom_software_development.html" class="flex items-center gap-2"
            >Read More
            <span
              class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              ><i class="fa-solid fa-arrow-right"></i
            ></span>
          </a>
        </button>
      </div>

      <div
        class="service-card bg-[#ffffff] flex flex-col border border-[#1320281F] rounded-[24px] p-6 shadow-lg "
      >
        <img
          src="../../../Assets/Images/cloud_solution.jpg"
          alt="cloud_solution"
          class="w-full h-[300px] object-cover rounded-2xl mb-2"
        />
       <h2 class="text-2xl font-medium text-accent">Cloud & DevOps Solutions</h2>
        <p class="paragraph text-secondary pt-2 flex-1">
          Scalable, secure, and optimized cloud infrastructure for European enterprises.
        </p>
        <button
          class="paragraph text-secondary font-medium pt-4 group hover:text-primary"
        >
          <a href="/cloud_and_devops_solutions.html" class="flex items-center gap-2"
            >Read More
            <span
              class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              ><i class="fa-solid fa-arrow-right"></i
            ></span>
          </a>
        </button>
      </div>

      <div
        class="service-card bg-[#ffffff] flex flex-col border border-[#1320281F] rounded-[24px] p-6 shadow-lg "
      >
        <img
          src="../../../Assets/Images/AI&ML.jpg"
          alt="AI&ML"
          class="w-full h-[300px] object-cover rounded-2xl mb-2"
        />
       <h2 class="text-2xl font-medium text-accent">
          Artificial Intelligence & Machine Learning
        </h2>
        <p class="paragraph text-secondary pt-2 flex-1">
          Smarter automation, predictive analytics, and AI-driven decision-making.
        </p>
        <button
          class="paragraph text-secondary font-medium pt-4 group hover:text-primary"
        >
          <a href="/ai_and_ml.html" class="flex items-center gap-2"
            >Read More
            <span
              class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              ><i class="fa-solid fa-arrow-right"></i
            ></span>
          </a>
        </button>
      </div>

      <div
        class="extra-card hidden bg-[#ffffff] flex-col border border-[#1320281F] rounded-[24px] p-6 shadow-lg "
      >
        <img
          src="../../../Assets/Images/blockchain_img.jpg"
          alt="blockchain_img"
          class="w-full h-[300px] object-cover rounded-2xl mb-2"
        />
       <h2 class="text-2xl font-medium text-accent">Blockchain & FinTech Solutions</h2>
        <p class="paragraph text-secondary pt-2 flex-1">
          Secure, transparent, and innovative digital finance ecosystems.
        </p>
        <button
          class="paragraph text-secondary font-medium pt-4 group hover:text-primary"
        >
          <a href="/blockchain_and_fintech_solutions.html" class="flex items-center gap-2"
            >Read More
            <span
              class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              ><i class="fa-solid fa-arrow-right"></i
            ></span>
          </a>
        </button>
      </div>

      <div
        class="extra-card hidden bg-[#ffffff] flex-col border border-[#1320281F] rounded-[24px] p-6 shadow-lg "
      >
        <img
          src="../../../Assets/Images/uiux_img.jpg"
          alt="uiux_img"
          class="w-full h-[300px] object-cover rounded-2xl mb-2"
        />
       <h2 class="text-2xl font-medium text-accent">UI/UX & Product Design</h2>
        <p class="paragraph text-secondary pt-2 flex-1">
          User-focused design for intuitive and engaging digital experiences.
        </p>
        <button
          class="paragraph text-secondary font-medium pt-4 group hover:text-primary"
        >
          <a href="/uiux_and_product_design.html" class="flex items-center gap-2"
            >Read More
            <span
              class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              ><i class="fa-solid fa-arrow-right"></i
            ></span>
          </a>
        </button>
      </div>

      <div
        class="extra-card hidden bg-[#ffffff]  flex-col border border-[#1320281F] rounded-2xl p-6 shadow-lg "
      >
        <img
          src="../../../Assets/Images/digital_consulting.jpg"
          alt="digital_consulting"
          class="w-full h-[300px] object-cover rounded-2xl mb-2"
        />
       <h2 class="text-2xl font-medium text-accent">Digital Transformation Consulting</h2>
        <p class="paragraph text-secondary pt-2 flex-1">
          Helping enterprises adopt modern technologies and scale effectively.
        </p>
        <button
          class="paragraph text-secondary font-medium pt-4 group hover:text-primary"
        >
          <a href="/digital_transformation_consulting.html" class="flex items-center gap-2"
            >Read More
            <span
              class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              ><i class="fa-solid fa-arrow-right"></i
            ></span>
          </a>
        </button>
      </div>
    </div>

    <!-- Mobile Swiper -->
    <div class="block md:hidden relative z-10">
        <h2 class="text-[32px] font-medium text-accent pb-4">Our Core Services</h2>
      <div class="swiper mySwiper py-3">
        <div class="swiper-wrapper">
          <!-- Repeat all 6 slides -->
          <div class="swiper-slide">
            <div
              class="bg-white flex flex-col border border-[#1320281F] rounded-[24px] p-3  h-[380px]"
            >
              <img
                src="../../../Assets/Images/custom_software.jpg"
                alt="custom_software"
                class="w-full h-[220px] object-cover rounded-2xl mb-2"
              />
              <h2 class="text-xl font-medium text-accent">Custom Software Development</h2>
              <p class="text-sm text-secondary pt-2 flex-1">
                Tailored web & mobile apps built for your business needs.
              </p>
              <button
                class="text-secondary text-base font-medium pt-4 group hover:text-primary"
              >
                <a href="#" class="flex items-center gap-2"
                  >Read More
                  <span
                    class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                    ><i class="fa-solid fa-arrow-right"></i
                  ></span>
                </a>
              </button>
            </div>
          </div>

          <div class="swiper-slide">
            <div
              class="bg-white flex flex-col border border-[#1320281F] rounded-[24px] p-3  h-[380px]"
            >
              <img
                src="../../../Assets/Images/cloud_solution.jpg"
                alt="cloud_solution"
                class="w-full h-[220px] object-cover rounded-2xl mb-2"
              />
              <h2 class="text-xl font-medium text-accent">Cloud & DevOps Solutions</h2>
              <p class="text-sm text-secondary pt-2 flex-1">
                Scalable, secure infrastructure & automation strategies.
              </p>
              <button
                class="text-secondary text-base font-medium pt-4 group hover:text-primary"
              >
                <a href="#" class="flex items-center gap-2"
                  >Read More
                  <span
                    class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                    ><i class="fa-solid fa-arrow-right"></i
                  ></span>
                </a>
              </button>
            </div>
          </div>

          <div class="swiper-slide">
            <div
              class="bg-white flex flex-col border border-[#1320281F] rounded-[24px] p-3  h-[380px]"
            >
              <img
                src="../../../Assets/Images/AI&ML.jpg"
                alt="AI&ML"
                class="w-full h-[220px] object-cover rounded-2xl mb-2"
              />
              <h2 class="text-xl font-medium text-accent">AI & Machine Learning</h2>
              <p class="text-sm text-secondary pt-2 flex-1">
                Smarter automation & predictive insights.
              </p>
              <button
                class="text-secondary text-base font-medium pt-4 group hover:text-primary"
              >
                <a href="#" class="flex items-center gap-2"
                  >Read More
                  <span
                    class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                    ><i class="fa-solid fa-arrow-right"></i
                  ></span>
                </a>
              </button>
            </div>
          </div>

          <div class="swiper-slide">
            <div
              class="bg-white flex flex-col border border-[#1320281F] rounded-[24px] p-3  h-[380px]"
            >
              <img
                src="../../../Assets/Images/blockchain_img.jpg"
                alt="blockchain_img"
                class="w-full h-[220px] object-cover rounded-2xl mb-2"
              />
              <h2 class="text-xl font-medium text-accent">Blockchain & FinTech</h2>
              <p class="text-sm text-secondary pt-2 flex-1">
                Secure, transparent, and innovative digital finance ecosystems.
              </p>
              <button
                class="text-secondary text-base font-medium pt-4 group hover:text-primary"
              >
                <a href="#" class="flex items-center gap-2"
                  >Read More
                  <span
                    class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                    ><i class="fa-solid fa-arrow-right"></i
                  ></span>
                </a>
              </button>
            </div>
          </div>

          <div class="swiper-slide">
            <div
              class="bg-white flex flex-col border border-[#1320281F] rounded-[24px] p-3  h-[380px]"
            >
              <img
                src="../../../Assets/Images/uiux_img.jpg"
                alt="uiux_img"
                class="w-full h-[220px] object-cover rounded-2xl mb-2"
              />
              <h2 class="text-xl font-medium text-accent">UI/UX & Product Design</h2>
              <p class="text-sm text-secondary pt-2 flex-1">
                User-focused design for intuitive experiences.
              </p>
              <button
                class="text-secondary text-base font-medium pt-4 group hover:text-primary"
              >
                <a href="#" class="flex items-center gap-2"
                  >Read More
                  <span
                    class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                    ><i class="fa-solid fa-arrow-right"></i
                  ></span>
                </a>
              </button>
            </div>
          </div>

          <div class="swiper-slide">
            <div
              class="bg-white flex flex-col border border-[#1320281F] rounded-[24px] p-3  h-[380px]"
            >
              <img
                src="../../../Assets/Images/digital_consulting.jpg"
                alt="digital_consulting"
                class="w-full h-[220px] object-cover rounded-2xl mb-2"
              />
              <h2 class="text-xl font-medium text-accent">Digital Transformation</h2>
              <p class="text-sm text-secondary pt-2 flex-1">
                Helping enterprises adopt modern technologies.
              </p>
              <button
                class="text-secondary text-base font-medium pt-4 group hover:text-primary"
              >
                <a href="#" class="flex items-center gap-2"
                  >Read More
                  <span
                    class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                    ><i class="fa-solid fa-arrow-right"></i
                  ></span>
                </a>
              </button>
            </div>
          </div>
        </div>

        <!-- Swiper Buttons -->
        <div class="flex flex-row gap-6 pt-5 md:pt-0 z-10 relative">
          <button
            id="ServicePrev"
            class="w-[50px] h-[50px] border border-[#132028] flex justify-center items-center rounded-full disabled:opacity-50 cursor-pointer"
            aria-label="Previous"
            title="Previous"
          >
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <button
            id="ServiceNext"
            class="w-[50px] h-[50px] border border-[#132028] flex justify-center items-center rounded-full disabled:opacity-50 cursor-pointer"
            aria-label="Next"
            title="Next"
          >
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Desktop View All Button
  const viewAllBtn = document.getElementById("viewAllBtn");
  const extraCards = document.querySelectorAll(".extra-card");
  let expanded = false;
  viewAllBtn.addEventListener("click", () => {
    expanded = !expanded;
    extraCards.forEach((card) => card.classList.toggle("hidden", !expanded));
    viewAllBtn.innerHTML = expanded
          ? 'View Less <span class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"><i class="fa-solid fa-arrow-right"></i></span>'
          : 'View All <span class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"><i class="fa-solid fa-arrow-right"></i></span>';
  });
  
  // Mobile Swiper Setup
  const swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 20,
    navigation: {
      nextEl: "#ServiceNext",
      prevEl: "#ServicePrev",
    },
    on: {
      slideChange: function () {
        document.querySelector("#ServicePrev").disabled = this.isBeginning;
        document.querySelector("#ServiceNext").disabled = this.isEnd;
      },
    },
  });
</script>