<!-- blogs section start -->
<section class="bg-[#FFFFFF] py-12">
  <div class="container mx-auto px-8">
    <!-- Title -->
    <span
      class="border border-[#132028] text-[#132028] py-2 px-4 rounded-3xl text-sm"
      >Blog & Insights</span
    >
    <div class="flex justify-between items-center py-6">
      <div>
        <h2 class="text-3xl md:text-4xl font-mdium mt-3">Recent Blogs</h2>
      </div>

      <!-- Nav Buttons -->
      <div class="hidden md:flex gap-3">
        <button
          class="blog-prev w-[50px] h-[50px] border border-[#132028] rounded-full flex justify-center items-center "
        >
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button
          class="blog-next w-[50px] h-[50px] border border-[#132028] rounded-full flex justify-center items-center"
        >
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>

    <!-- Swiper -->
    <div class="swiper blogSwiper">
      <div class="swiper-wrapper">
        <!-- Card 1 -->
        <div class="swiper-slide">
          <div
            class="bg-white border border-[#1320281A] h-[420px] xl:h-[400px] shadow-md rounded-2xl overflow-hidden p-4"
          >
            <img
              src="../../../Assets/Images/CloudAndDevopsSolution/cloud&devops.jpg"
              alt="Blog 4"
              class="w-full h-56 object-cover rounded-xl"
            />
            <div class="py-2">
              <h3 class="font-medium text-[#132028] text-xl">
                Cloud & DevOps in European Healthcare
              </h3>
              <p class="text-[#555] text-md pt-2">
                Streamline hospital operations with secure cloud & monitoring.
              </p>
              <button
              class="text-[#44464A] text-md font-medium pt-3 group hover:text-primary"
            >
              <a herf="#" class="flex justify-start items-center gap-2"
                >Read More
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                  ><i class="fa-solid fa-arrow-right"></i></span
              ></a>
            </button>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="swiper-slide">
          <div
            class="bg-white border border-[#1320281A] h-[420px] xl:h-[400px] shadow-md rounded-2xl overflow-hidden p-4"
          >
            <img
              src="../../../Assets/Images/CloudAndDevopsSolution/scaling_fintech.jpg"
              alt="scaling_fintech"
              class="w-full h-56 object-cover rounded-xl"
            />
            <div class="py-2">
              <h3 class="font-medium text-[#132028] text-xl">
                Scaling FinTech Platforms with Docker & Kubernetes
              </h3>
              <p class="text-[#555] text-md pt-2">
                Faster deployments & regulatory compliance.
              </p>
              <button
              class="text-[#44464A] text-md font-medium pt-3 group hover:text-primary"
            >
              <a herf="#" class="flex justify-start items-center gap-2"
                >Read More
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                  ><i class="fa-solid fa-arrow-right"></i></span
              ></a>
            </button>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="swiper-slide">
          <div
            class="bg-white border border-[#1320281A] h-[420px] xl:h-[400px] shadow-md rounded-2xl overflow-hidden p-4"
          >
            <img
              src="../../../Assets/Images/CloudAndDevopsSolution/terraform.jpg"
              alt="terraform"
              class="w-full h-56 object-cover rounded-xl"
            />
            <div class="py-2">
              <h3 class="font-medium text-[#132028] text-xl">
                Terraform & CloudFormation for Infrastructure Automation
              </h3>
              <p class="text-[#555] text-md pt-2">
                Efficient multi-cloud management.
              </p>
              <button
              class="text-[#44464A] text-md font-medium pt-3 group hover:text-primary"
            >
              <a herf="#" class="flex justify-start items-center gap-2"
                >Read More
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                  ><i class="fa-solid fa-arrow-right"></i></span
              ></a>
            </button>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="swiper-slide">
          <div
            class="bg-white border border-[#1320281A] h-[420px] xl:h-[400px] shadow-md rounded-2xl overflow-hidden p-4"
          >
            <img
              src="../../../Assets/Images/CloudAndDevopsSolution/cloud&devops.jpg"
              alt="Blog 4"
              class="w-full h-56 object-cover rounded-xl"
            />
            <div class="py-2">
              <h3 class="font-medium text-[#132028] text-xl">
                Cloud & DevOps in European Healthcare
              </h3>
              <p class="text-[#555] text-md pt-2">
                Streamline hospital operations with secure cloud & monitoring.
              </p>
              <button
              class="text-[#44464A] text-md font-medium pt-3 group hover:text-primary"
            >
              <a herf="#" class="flex justify-start items-center gap-2"
                >Read More
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                  ><i class="fa-solid fa-arrow-right"></i></span
              ></a>
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block md:hidden flex gap-3 pt-4 md:pt-0">
        <button
          class="blog-prev w-[50px] h-[50px] border border-[#132028] rounded-full flex justify-center items-center hover:bg-[#132028] hover:text-white transition"
        >
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button
          class="blog-next w-[50px] h-[50px] border border-[#132028] rounded-full flex justify-center items-center hover:bg-[#132028] hover:text-white transition"
        >
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
  </div>
</section>

<script>
  const blogSwiper = new Swiper(".blogSwiper", {
    slidesPerView: 3,
    spaceBetween: 25,
    loop: false,
    navigation: {
      nextEl: ".blog-next",
      prevEl: ".blog-prev",
    },
    breakpoints: {
      0: { slidesPerView: 1 },
      640: { slidesPerView: 2 },
      1024: { slidesPerView: 3 },
    },
    on: {
      slideChange: function () {
        const prev = document.querySelector(".blog-prev");
        const next = document.querySelector(".blog-next");

        // Disable prev button at start
        if (this.isBeginning) {
          prev.classList.add("swiper-button-disabled");
        } else {
          prev.classList.remove("swiper-button-disabled");
        }

        // Disable next button at end
        if (this.isEnd) {
          next.classList.add("swiper-button-disabled");
        } else {
          next.classList.remove("swiper-button-disabled");
        }
      },
    },
  });

  // Initialize disabled state
  const prev = document.querySelector(".blog-prev");
  prev.classList.add("swiper-button-disabled");
</script>
