<!-- get in touch section start -->
 
<div class="bg-[#FFFFFF] py-8 ">
  <div class="container mx-auto px-6 lg:px-12">
    <div class="py-6 relative z-0">
      <div class="bg-[#132028] rounded-2xl">
        <img
          src="../../../Assets/Images/getintouch.png"
          alt="getintouch-bg"
          class="w-[100%] h-[250px] object-cover rounded-2xl"
        />
      </div>
      <div class="py-5 absolute inset-0 top-[40px] left-0 z-10 ">
        <h1 class="text-xl md:text-3xl font-medium text-center text-[#FFFFFF] w-full md:w-[500px] mx-auto">
          Take the next step in your career with Transcodezy today!
        </h1>
        <p class="text-md text-center w-full md:w-[450px] mx-auto pt-3 text-[#FFFFFF99] ">
         Ready to join a team that drives innovation, embraces growth, 
         and shapes the future of IT across Europe? 
        </p>
        <div class="flex justify-center items-center pt-4">
          <button
            class="flex justify-center gap-2 bg-primary py-2 px-4 rounded-3xl w-fit text-white text-sm group hover:scale-110 duration-500 cursor-pointer"
          >
           Explore Open Positions
            <span
              class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              ><i class="fa-solid fa-arrow-right"></i
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>