<div class="bg-[#FFFFFF] py-12">
  <div class="container mx-auto px-8">
    <div class="flex flex-col md:flex-row md:space-x-6 space-y-4 md:space-y-0 py-5">
        <div class="flex-1 bg-[#1320280A] border py-8 rounded-2xl hover:scale-105 hover:border hover:border-primary duration-700 cursor-pointer">
            <div class="flex justify-center items-center pt-2">
           <div class="bg-[#132028] h-[50px] w-[50px] flex justify-center items-center rounded-xl">
              <img src="../../../Assets/Images/ContactUs/loaction_icon.png" alt="location" class="h-[30px] w-[30px] flex justify-center items-center " />
           </div>
           </div>
           <div>
              <h1 class="text-2xl font-medium text-center pt-3">Location</h1>
              <p class="text-md text-center text-[#44464A] pt-2">301, Ambika Pinnacle, Beside Lajamni Chowk, Mota Varachha, Surat, Gujarat, India</p>
           </div>
           
        </div>
       <div class="flex-1 bg-[#1320280A] border py-8 rounded-2xl hover:scale-105 hover:border hover:border-primary duration-700 cursor-pointer">
            <div class="flex justify-center items-center pt-2">
           <div class="bg-[#132028] h-[50px] w-[50px] flex justify-center items-center rounded-xl">
              <img src="../../../Assets/Images/ContactUs/call_icon.png" alt="call" class="h-[30px] w-[30px] flex justify-center items-center " />
           </div>
           </div>
           <div>
              <h1 class="text-2xl font-medium text-center pt-3">Phone Number</h1>
              <p class="text-md text-center text-[#44464A] pt-2">+91 99989 12345</p>
           </div>
           
        </div>
        <div class="flex-1 bg-[#1320280A] border py-8 rounded-2xl hover:scale-105 hover:border hover:border-primary duration-700 cursor-pointer">
            <div class="flex justify-center items-center pt-2">
           <div class="bg-[#132028] h-[50px] w-[50px] flex justify-center items-center rounded-xl">
              <img src="../../../Assets/Images/ContactUs/mail_icon.png" alt="email" class="h-[30px] w-[30px] flex justify-center items-center " />
           </div>
           </div>
           <div>
              <h1 class="text-2xl font-medium text-center pt-3">E-mail</h1>
              <p class="text-md text-center text-[#44464A] pt-2">info@transcodesolution.com</p>
           </div>
           
        </div>
    </div>
  </div>
</div>
