<!-- hero section start -->

<div class="bg-[#FFFFFF] pt-[100px] pb-[30px] mt-8 lg:mt-0">
  
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 text-left md:text-center">
      <div class="min-h-[30vh] pt-15 lg:pt-28"> 
        <h1 class="text-[38px] leading-[38px] sm:text-[36px] sm:leading-[44px] md:text-[45px] md:leading-[50px] lg:text-[50px] lg:leading-[55px] xl:text-[72px] xl:leading-[70px] text-accent">
            <span class="text-primary font-medium ">Let's Connect</span>
                 — You're in Good Hands
        </h1>
        <p class="paragraph text-secondary pt-8 w-full mx-auto"> 
           At Transcodezy IT Solutions Pvt. Ltd., we believe every great project starts with a simple conversation. 
        </p>  

        <p class="paragraph text-secondary pt-3 w-full mx-auto">Whether you have an idea to discuss, a project to launch, or a partnership to explore — we're here to help you make it happen..</p>
      </div>
    </div>
  </div>
</div>