<!-- hero section start -->

<div class="bg-[#FFFFFF] pt-12 lg:pt-23 mt-8 lg:mt-0">
  
    <div class="container mx-auto px-8">
      <div class="min-h-[30vh] pt-15 lg:pt-28"> 
        <h1 class="text-3xl lg:text-5xl font-medium mt-6 lg:mt-0 z-10 w-full  text-center mx-auto leading-[48px] ">
            <span class="text-primary">Let's Connect</span>
                 — You're in Good Hands
        </h1>
        <p class="text-md leading-[24.48px] py-2 text-[#44464A] z-10 text-center w-full lg:w-[930px] mx-auto mt-2"> 
           At Transcodezy IT Solutions Pvt. Ltd., we believe every great project starts with a simple conversation. 
        </p>  

        <p class="text-md leading-[24.48px] py-2 text-[#44464A] z-10 text-center w-full mx-auto ">Whether you have an idea to discuss, a project to launch, or a partnership to explore — we're here to help you make it happen..</p>
      </div>
    </div>
  </div>
</div>