<!-- hero section start -->

<div class="bg-[#FFFFFF] pt-12 lg:pt-23 mt-8 lg:mt-0">
  <div class="relative z-0">
    <img
      src="/Assets/Images/Blockchain_solutions/hero_bg_img.jpg"
      alt="hero_img"
      class="w-[100%] h-[600px] lg:h-[900px] object-cover"
    />
    <div
      class="absolute z-10 inset-0 [background:linear-gradient(180deg,theme(colors.gradientStart)_0%,theme(colors.gradientEnd)_50%)]"
    ></div>
    <div class="absolute inset-y-0 z-10 left-0 top-[500px]">
      <img
        src="/Assets/Images/Services/hero_img_design.png"
        alt="hero_img_design"
        class="w-[100%] h-[100%] object-cover"
      />
    </div>
    <div class="absolute inset-0 z-10 top-[120px] lg:top-[320px] left-0 container mx-auto px-6 lg:px-12">
      <div class="py-5"> 
        <h1 class="text-3xl lg:text-5xl font-medium mt-6 lg:mt-0 z-10 w-full lg:w-[800px] text-center mx-auto leading-[48px]">
            <span class="text-primary"> Blockchain & FinTech Solutions</span>
            for Global and European Enterprises
        </h1>
        <p class="text-md leading-[24.48px] py-2 text-[#44464A] z-10 text-center w-full lg:w-[610px] mx-auto mt-2"> 
            Secure, scalable, and innovative financial technology solutions powered by blockchain, helping businesses achieve efficiency, compliance, and growth.
           </p>

         <div class="flex justify-center items-center gap-5 z-10 py-4">
          <div class="w-fit py-2 px-4 rounded-3xl z-10 bg-primary hover:scale-110 duration-500 cursor-pointer">
            <a href="#" class="font-medium text-md text-white">Get Started Today</a>
          </div>
        </div>    
      </div>
    </div>
  </div>
</div>