<!-- hero section start -->

<div class="bg-[#FFFFFF] pt-12 lg:pt-23 mt-8 lg:mt-0">
  <div class="relative z-0">
    <img
      src="/Assets/Images/Services/hero_img.jpg"
      alt="hero_img"
      class="w-[100%] h-[700px] lg:h-[900px] object-cover"
    />
    <div
      class="absolute z-10 inset-0 [background:linear-gradient(180deg,theme(colors.gradientStart)_0%,theme(colors.gradientEnd)_50%)]"
    ></div>
    <div class="absolute inset-y-0 z-10 left-0 top-[500px]">
      <img
        src="/Assets/Images/Services/hero_img_design.png"
        alt="hero_img_design"
        class="w-[100%] object-cover"
      />
    </div>
    <div class="absolute inset-0 z-10 top-[120px] lg:top-[320px] left-0 container mx-auto px-6 lg:px-12">
      <div class="py-5"> 
        <h1 class="text-3xl lg:text-5xl font-medium mt-6 lg:mt-0 z-10 w-full lg:w-[860px] text-center mx-auto leading-[48px]">
          Empowering European Businesses with
          <span class="text-primary">Innovative IT Solutions</span>
        </h1>
        <p class="text-md leading-[24.48px] py-2 text-[#44464A] z-10 text-center w-full lg:w-[950px] mx-auto mt-2"> 
            At Transcodezy IT Solutions Pvt. Ltd., we provide custom software, AI, cloud, 
            and blockchain solutions that help European businesses scale, comply, and innovate. 
            Our expertise ensures every project is future-ready, regulation-compliant, and growth-focused.</p>

         <div class="block md:flex justify-center items-center gap-5 z-10 py-4">
          <div class="w-fit py-2 px-4 rounded-3xl z-10 bg-primary hover:scale-110 duration-500 cursor-pointer ">
            <a href="#" class="font-medium text-md text-white">Book a Free Consultation</a>
          </div>
          <div class="w-fit py-2 px-4 border border-[#44464A] rounded-3xl z-10 mt-4 md:mt-0 hover:scale-110 duration-500 hover:border hover:border-primary cursor-pointer">
            <a href="#" class="font-medium text-md text-[#44464A]">Explore Our Services</a>
          </div>
        </div>    
      </div>
    </div>
  </div>
</div>
