<!-- hero section start -->
<div class="relative bg-white h-[700px] sm:h-[800px] md:h-[900px] lg:h-[984px] flex items-center justify-center overflow-hidden mt-8 lg:mt-0">
  <!-- background image -->
  <img src="/Assets/Images/Services/hero_img.jpg" alt="hero_img"
    class="absolute inset-0 w-full h-full object-cover" />

  <!-- gradient overlay -->
  <div class="absolute inset-0"
    style="background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 247, 0.96) 49.7%);"></div>

  <!-- bottom wave overlay -->
  <img src="/Assets/Images/Services/service_bottom_bg.png" alt="decorative shape" class="absolute bottom-0 w-full" />

  <!-- content -->
  <div class="relative z-10 container mx-auto px-4 sm:px-6 lg:px-8 text-left md:text-center">
    <h1
      class="text-[38px] leading-[38px] sm:text-[36px] sm:leading-[44px] md:text-[42px] md:leading-[50px] lg:text-[50px] lg:leading-[55px] xl:text-[72px] xl:leading-[70px] text-accent">
      Empowering European Businesses with
      <span class="text-primary font-medium block">Innovative IT Solutions</span>
    </h1>

    <p class="paragraph text-secondary py-3 w-full max-w-[1084px] mx-auto">
      At Transcodezy IT Solutions Pvt. Ltd., we provide custom software, AI, cloud,
      and blockchain solutions that help European businesses scale, comply, and innovate.
      Our expertise ensures every project is future-ready, regulation-compliant, and growth-focused.
    </p>

    <div class="flex flex-col sm:flex-row gap-5 justify-center mt-4">
      <a href="/book_a_free_consultation.html"
        class="py-3 px-6 rounded-[40px] bg-primary text-white font-medium paragraph hover:scale-110 duration-500 w-fit">
        Book a Free Consultation
      </a>
      <a href="/software-services.html"
        class="py-3 px-6 border border-secondary rounded-[40px] text-secondary font-medium paragraph hover:scale-110 duration-500 hover:border-primary w-fit">
        Explore Our Services
      </a>
    </div>
  </div>
</div>
<!-- hero section end -->
