<!-- FAQ section start -->

<div class="bg-[#FFFFFF] py-12 mt-5">
  <div class="container mx-auto px-6 lg:px-12">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 w-full">
      <div>
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
        >
          FAQ
        </h5>
        <div class="pt-4">
          <h1 class="text-4xl font-medium text-[#132028]">
            Frequently Asked Questions
          </h1>
          <p class="text-sm text-[#44464A] w-full lg:w-[450px] mt-2">
            Here are some of the most common questions businesses ask before
            partnering with Transcodezy IT Solutions.
          </p>
        </div>
      </div>
      <div class="accordion pt-4 lg:pt-0">
        <div
          class="accordion-item border-b border-[#1320281F] transition-colors"
        >
          <button
            class="accordion-toggle w-full flex justify-between items-center p-2 text-left text-gray-800 font-medium focus:outline-none"
          >
            <span class="text-lg font-medium"
              >Do you build GDPR-compliant and regulation-ready solutions?</span
            >
            <span class="relative w-5 h-5 flex items-center justify-center">
              <i class="fa-solid fa-plus absolute plus-icon"></i>
              <i class="fa-solid fa-minus absolute minus-icon hidden"></i>
            </span>
          </button>
          <div
            class="accordion-content max-h-0 overflow-hidden transition-all duration-300 text-gray-600"
          >
            <p class="p-2 text-sm">
              Yes Every solution we deliver—whether in healthcare, e-commerce,
              FinTech, or CRM platforms—is designed to meet international
              compliance standards, including GDPR, HIPAA, and PCI DSS,
              depending on client needs.
            </p>
          </div>
        </div>
        <div
          class="accordion-item border-b border-[#1320281F] transition-colors"
        >
          <button
            class="accordion-toggle w-full flex justify-between items-center p-2 text-left text-gray-800 font-medium focus:outline-none"
          >
            <span class="text-lg font-medium"
              >Which countries or regions do you serve?</span
            >
            <span class="relative w-5 h-5 flex items-center justify-center">
              <i class="fa-solid fa-plus absolute plus-icon"></i>
              <i class="fa-solid fa-minus absolute minus-icon hidden"></i>
            </span>
          </button>
          <div
            class="accordion-content max-h-0 overflow-hidden transition-all duration-300 text-gray-600"
          >
            <p class="p-2 text-sm">
              We work with businesses across multiple countries worldwide,
              helping them scale with secure, scalable, and future-ready IT
              solutions. Our focus is on delivering technology that adapts to
              global standards and local regulations.
            </p>
          </div>
        </div>
        <div
          class="accordion-item border-b border-[#1320281F] transition-colors"
        >
          <button
            class="accordion-toggle w-full flex justify-between items-center p-2 text-left text-gray-800 font-medium focus:outline-none"
          >
            <span class="text-lg font-medium"
              >Can Transcodezy support startups as well as enterprises?</span
            >
            <span class="relative w-5 h-5 flex items-center justify-center">
              <i class="fa-solid fa-plus absolute plus-icon"></i>
              <i class="fa-solid fa-minus absolute minus-icon hidden"></i>
            </span>
          </button>
          <div
            class="accordion-content max-h-0 overflow-hidden transition-all duration-300 text-gray-600"
          >
            <p class="p-2 text-sm">
               Absolutely . We’ve successfully delivered 100+ projects ranging
              from early-stage startups to large enterprises, tailoring
              solutions to fit each business’s scale and complexity.
            </p>
          </div>
        </div>
        <div
          class="accordion-item border-b border-[#1320281F] transition-colors"
        >
          <button
            class="accordion-toggle w-full flex justify-between items-center p-2 text-left text-gray-800 font-medium focus:outline-none"
          >
            <span class="text-lg font-medium"
              >What industries do you specialize in?</span
            >
            <span class="relative w-5 h-5 flex items-center justify-center">
              <i class="fa-solid fa-plus absolute plus-icon"></i>
              <i class="fa-solid fa-minus absolute minus-icon hidden"></i>
            </span>
          </button>
          <div
            class="accordion-content max-h-0 overflow-hidden transition-all duration-300 text-gray-600"
          >
            <p class="px-2 pt-2 text-sm">
               We deliver custom software, CRM, cloud, AI, and digital
               transformation solutions for:
            </p>
            <p class="text-sm px-2"><span class="text-sm px-2">~</span> E-commerce  – Marketplaces, payments, loyalty & CRM platforms.</p>
            <p class="text-sm px-2"><span class="text-sm px-2">~</span> Sports Tech & Social Media  – Fan apps, analytics & AI-driven CRMs.</p>
            <p class="text-sm px-2"><span class="text-sm px-2">~</span> Healthcare – Telemedicine, patient data & compliant Healthcare CRMs.</p>
            <p class="text-sm px-2"><span class="text-sm px-2">~</span> E-commerce  – Marketplaces, payments, loyalty & CRM platforms.</p>
            <p class="text-sm px-2"><span class="text-sm px-2">~</span> Manufacturing  – ERP, IoT & supply chain CRMs.</p>
            <p class="text-sm px-2 pb-2"><span class="text-sm px-2">~</span> E-learning  – LMS platforms & student-teacher CRMs.</p>
          </div>
        </div>
        <div
          class="accordion-item border-b border-[#1320281F] transition-colors"
        >
          <button
            class="accordion-toggle w-full flex justify-between items-center p-2 text-left text-gray-800 font-medium focus:outline-none"
          >
            <span class="text-lg font-medium"
              >Do you offer ongoing support after project delivery?</span
            >
            <span class="relative w-5 h-5 flex items-center justify-center">
              <i class="fa-solid fa-plus absolute plus-icon"></i>
              <i class="fa-solid fa-minus absolute minus-icon hidden"></i>
            </span>
          </button>
          <div
            class="accordion-content max-h-0 overflow-hidden transition-all duration-300 text-gray-600"
          >
            <p class="p-2 text-sm">
             Yes . We believe in end-to-end partnerships. From consulting and development to deployment and post-launch support, 
             our team ensures your systems stay secure, scalable, and updated.
            </p>
          </div>
        </div>
        <div
          class="accordion-item border-b border-[#1320281F] transition-colors"
        >
          <button
            class="accordion-toggle w-full flex justify-between items-center p-2 text-left text-gray-800 font-medium focus:outline-none"
          >
            <span class="text-lg font-medium"
              >How can I start working with Transcodezy?</span
            >
            <span class="relative w-5 h-5 flex items-center justify-center">
              <i class="fa-solid fa-plus absolute plus-icon"></i>
              <i class="fa-solid fa-minus absolute minus-icon hidden"></i>
            </span>
          </button>
          <div
            class="accordion-content max-h-0 overflow-hidden transition-all duration-300 text-gray-600"
          >
            <p class="p-2 text-sm">
              Simply Book a Free Consultation on our website. Our team will connect with you, understand your goals, and suggest a tailored technology roadmap.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const accordions = document.querySelectorAll(".accordion-item");
  accordions.forEach((item) => {
    const toggle = item.querySelector(".accordion-toggle");
    const content = item.querySelector(".accordion-content");
    const plusIcon = item.querySelector(".plus-icon");
    const minusIcon = item.querySelector(".minus-icon");

    toggle.addEventListener("click", () => {
      const isOpen = !content.classList.contains("max-h-0");

      if (isOpen) {
        // Closing
        content.classList.add("max-h-0");
        content.classList.remove("max-h-screen");
        item.classList.remove("bg-[#0094EE05]");

        plusIcon.classList.remove("hidden");
        minusIcon.classList.add("hidden");
      } else {
        // Opening
        content.classList.remove("max-h-0");
        content.classList.add("max-h-screen");
        item.classList.add("bg-[#0094EE05]");

        plusIcon.classList.add("hidden");
        minusIcon.classList.remove("hidden");
      }
    });
  });
</script>
