<!-- current openings section start -->

<div class="bg-[#FFFFFF] h-auto py-[50px] lg:py-[80px] xl:py-[100px] 2xl:py-[140px]">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center z-10"
        >
          Current Openings
        </h5>
      </div>
      <div class="none lg:flex justify-between items-center py-8 gap-10">
        <h2 class="text-accent heading font-medium w-full max-w-[740px] ">Current Openings</h2>
        <p class="paragraph text-secondary w-full max-w-[740px]">
          Browse our current openings and find the role that fits your skills and ambitions.
        </p>
      </div>
    </div>
    <!-- Tabs -->
    <div class="flex flex-wrap md:flex-row gap-6 pb-4 mb-8 w-full max-w-[872px]">
      <button class="tab-btn text-primary text-center py-3 px-6 font-medium paragraph border-b-2 border-primary w-[144px] md:max-w-[144px]" data-tab="all">All Positions</button>
      <button class="tab-btn paragraph text-center py-3 px-6 font-medium text-secondary w-[144px] md:max-w-[156px]" data-tab="development">Development</button>
      <button class="tab-btn paragraph text-center py-3 px-6 font-medium text-secondary w-[144px] md:max-w-[104px]" data-tab="design">Design</button>
      <button class="tab-btn paragraph text-center py-3 px-6 font-medium text-secondary w-[144px] md:max-w-[113px]" data-tab="devops">DevOps</button>
      <button class="tab-btn paragraph text-center py-3 px-6 font-medium text-secondary w-[144px] md:max-w-[99px]" data-tab="ai">AI/ML</button>
      <button class="tab-btn paragraph text-center py-3 px-6 font-medium text-secondary w-[144px] md:max-w-[156px]" data-tab="management">Management</button>
    </div>

    <!-- Cards -->
    <div id="cards" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
      
      <!-- Card 1 -->
      <div class="job-card bg-white s rounded-[24px] border border-[#1320283D] p-5 lg:p-10 flex flex-col justify-between relative z-0" data-category="development">
         <img src="../../../Assets/Images/Careers/current_opening_card_bg.png" alt="current_opening_card_bg" class="absolute z-10 inset-0 h-[100%] w-[100%] object-fit" />
        <div class="z-10">
          <h3 class="text-2xl font-medium">Senior Full Stack Developer</h3>
          <p class="paragraph text-secondary pt-3">Development Team</p>
          <p class="paragraph text-secondary pt-3 flex items-center gap-2">
            <i class="fa-solid fa-location-crosshairs text-2xl"></i>
            Surat, India / Remote
          </p>
          <div class="flex flex-wrap gap-2 mt-4 z-10">
            <span class="px-4 py-2 text-[16px] text-secondary border border-[#1320283D] rounded-[40px]">React.js</span>
            <span class="px-4 py-2 text-[16px] text-secondary border border-[#1320283D] rounded-[40px]">Node.js</span>
            <span class="px-4 py-2 text-[16px] text-secondary border border-[#1320283D] rounded-[40px]">Typescript</span>
            <span class="px-4 py-2 text-[16px] text-secondary border border-[#1320283D] rounded-[40px]">AWS</span>
          </div>
        </div>
        <button class="bg-primary paragraph text-white rounded-[40px] py-[12px] px-[24px] mt-6 hover:scale-95 duration-700 cursor-pointer z-10">Apply Now</button>
      </div>

      <!-- Card 2 -->
      <div class="job-card bg-white  rounded-[24px] border border-[#1320283D] p-5 lg:p-10 flex flex-col justify-between relative z-0" data-category="design">
        <img src="../../../Assets/Images/Careers/current_opening_card_bg.png" alt="current_opening_card_bg" class="absolute z-10 inset-0 h-[100%] w-[100%] object-fit" />
        <div class="z-10">
          <h3 class="text-2xl font-medium">UI/UX Designer</h3>
          <p class="paragraph text-secondary pt-3">Design Team</p>
          <p class="paragraph text-secondary pt-3 flex items-center gap-2">
            <i class="fa-solid fa-location-crosshairs text-2xl"></i>
            Surat, India / Hybrid
          </p>
          <div class="flex flex-wrap gap-2 mt-4 z-10">
            <span class="px-4 py-2 text-[16px] text-secondary border border-[#1320283D] rounded-[40px]">Figma</span>
            <span class="px-4 py-2 text-[16px] text-secondary border border-[#1320283D] rounded-[40px]">Adobe XD</span>
            <span class="px-4 py-2 text-[16px] text-secondary border border-[#1320283D] rounded-[40px]">Prototyping</span>
          </div>
        </div>
        <button class="bg-primary paragraph text-white rounded-[40px] py-[12px] px-[24px] mt-6 hover:scale-95 duration-700 cursor-pointer z-10">Apply Now</button>
      </div>

      <!-- Card 3 -->
      <div class="job-card bg-white rounded-[24px] border border-[#1320283D] p-5 lg:p-10 flex flex-col justify-between relative z-0" data-category="development">
        <img src="../../../Assets/Images/Careers/current_opening_card_bg.png" alt="current_opening_card_bg" class="absolute z-10 inset-0 h-[100%] w-[100%] object-fit" />
        <div class="z-10">
          <h3 class="text-2xl font-medium">Python Backend Developer</h3>
          <p class="paragraph text-secondary pt-3">Development Team</p>
          <p class="paragraph text-secondary pt-3 flex items-center gap-2 ">
            <i class="fa-solid fa-location-crosshairs text-2xl"></i>
            Surat, India / Remote
          </p>
          <div class="flex flex-wrap gap-2 mt-4 z-10">
            <span class="px-4 py-2 text-[16px] text-secondary border border-[#1320283D] rounded-[40px]">Python</span>
            <span class="px-4 py-2 text-[16px] text-secondary border border-[#1320283D] rounded-[40px]">Django</span>
            <span class="px-4 py-2 text-[16px] text-secondary border border-[#1320283D] rounded-[40px]">PostgreSQL</span>
          </div>
        </div>
        <button class="bg-primary paragraph text-white rounded-[40px] py-[12px] px-[24px] mt-6 hover:scale-95 duration-700 cursor-pointer z-10">Apply Now</button>
      </div>

    </div>
  </div>
</div>

<script>
    const tabs = document.querySelectorAll('.tab-btn');
    const cards = document.querySelectorAll('.job-card');

    tabs.forEach(tab => {
      tab.addEventListener('click', () => {
        // reset active tab style
        tabs.forEach(t => t.classList.remove('text-primary', 'border-b-2', 'border-primary'));
        tabs.forEach(t => t.classList.add('text-secondary'));
        
        // set active style
        tab.classList.add('text-primary', 'border-b-2', 'border-primary');
        tab.classList.remove('text-secondary');

        const category = tab.getAttribute('data-tab');

        cards.forEach(card => {
          if (category === 'all' || card.getAttribute('data-category') === category) {
            card.style.display = 'flex';
          } else {
            card.style.display = 'none';
          }
        });
      });
    });
  </script>

