<!-- Why Healthcare section start -->

<div class="bg-[#FFFFFF] h-auto py-12">
  <div class="container mx-auto px-8">
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-2 px-4 rounded-3xl text-center z-10"
        >
          Why Healthcare
        </h5>
      </div>
      <div class="py-2">
        <h2 class="text-3xl md:text-4xl font-medium text-[#132028]">
        Our Approach to Smarter, Secure & Compliant Healthcare Systems
        </h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 py-8">
        <div class="z-10 ">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3">
                <img
                    src="../../../Assets/Images/Healthcare/wh_img1.png"
                    alt="wh_img1"
                    class="h-[50px] w-[50px] object-fit"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2">
                    End-to-end telemedicine & mobile health apps with real-time consultations
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3">
                <img
                    src="../../../Assets/Images/Healthcare/wh_img2.png"
                    alt="wh_img2"
                    class="h-[50px] w-[50px] object-fit"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2">
                    AI-powered diagnosis tools for radiology, cardiology & pathology
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3">
                <img
                    src="../../../Assets/Images/Healthcare/wh_img3.png"
                    alt="wh_img3"
                    class="h-[50px] w-[50px] object-fit"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2">
                   Secure EHR platforms with compliance-first architecture
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3">
                <img
                    src="../../../Assets/Images/Healthcare/wh_img4.png"
                    alt="wh_img4"
                    class="h-[50px] w-[50px] object-fit"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2">
                    CRM systems that connect appointments, payments & patient engagement
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3">
                <img
                    src="../../../Assets/Images/Healthcare/wh_img5.png"
                    alt="wh_img5"
                    class="h-[50px] w-[50px] object-fit"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2">
                    Seamless integrations with hospital ERP, IoT medical devices & insurance systems
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3">
                <img
                    src="../../../Assets/Images/Healthcare/wh_img6.png"
                    alt="wh_img6"
                    class="h-[50px] w-[50px] object-fit"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2">
                    Scalable cloud infrastructure for international healthcare enterprises
                    </p>
                </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
