<!-- Why Healthcare section start -->

<div class="bg-[#FFFFFF] h-auto py-[50px] lg:py-[80px] xl:py-[100px] 2xl:py-[140px]">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div>
      <div class="py-6 w-full lg:w-[500px]">
        <h5
          class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center"
        >
          Why Healthcare
        </h5>
      </div>
      <div class="pt-4">
        <h2 class="heading font-medium text-accent pb-8 lg:pb-15">
        Our Approach to Smarter, Secure & Compliant Healthcare Systems
        </h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 xl:gap-10">
        <div class="z-10 ">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/Healthcare/wh_img1.png"
                    alt="wh_img1"
                    class="h-[40px] lg:h-auto w-[40px] lg:w-auto"
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                    End-to-end telemedicine & mobile health apps with real-time consultations
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/Healthcare/wh_img2.png"
                    alt="wh_img2"
                    class="h-[40px] lg:h-auto w-[40px] lg:w-auto"
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                    AI-powered diagnosis tools for radiology, cardiology & pathology
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/Healthcare/wh_img3.png"
                    alt="wh_img3"
                    class="h-[40px] lg:h-auto w-[40px] lg:w-auto"
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                   Secure EHR platforms with compliance-first architecture
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/Healthcare/wh_img4.png"
                    alt="wh_img4"
                    class="h-[40px] lg:h-auto w-[40px] lg:w-auto"
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                    CRM systems that connect appointments, payments & patient engagement
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/Healthcare/wh_img5.png"
                    alt="wh_img5"
                    class="h-[40px] lg:h-auto w-[40px] lg:w-auto"
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                    Seamless integrations with hospital ERP, IoT medical devices & insurance systems
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/Healthcare/wh_img6.png"
                    alt="wh_img6"
                    class="h-[40px] lg:h-auto w-[40px] lg:w-auto"
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                    Scalable cloud infrastructure for international healthcare enterprises
                    </p>
                </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
