
<div class="bg-[#0094EE0F] relative h-auto py-[50px] lg:py-[80px] xl:py-[100px] 2xl:py-[140px] overflow-hidden">
  <div class="absolute inset-y-0 top-0 left-0 z-0 pointer-events-none">
    <img src="../../../Assets/Images/mission_bg-1.png" alt="mission-background" class="h-full w-full object-cover" />
  </div>
  <div class="absolute inset-y-0 top-0 right-0 z-0 pointer-events-none">
    <img src="../../../Assets/Images/mission_bg-2.png" alt="mission-background-2" class="h-full w-full object-cover" />
  </div>

  <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-10">
    <div class="pb-6 w-full lg:w-[500px]">
      <h5 class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-2 px-4 rounded-3xl text-center">
        Blog & Insights
      </h5>
    </div>

    <div class="flex flex-col lg:flex-row justify-between items-start lg:items-center gap-3 lg:gap-0 pb-6">
      <h2 class="text-accent heading font-medium">
        Blog & Insights &mdash; Shaping Europe’s Digital Future
      </h2>
      <div>
        <button id="viewAllBtn"
          class="flex justify-center gap-2 bg-primary py-2 px-4 rounded-3xl text-white paragraph group hover:bg-[#007ED1] transition">
          View All
          <span class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
        </button>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:py-6">
      <div
        class="bg-white flex flex-col border border-[#1320281F] rounded-2xl p-3 lg:p-6 shadow-lg hover:-translate-y-2 duration-700">
        <img src="../../../Assets/Images/Services/cloud&compliance.jpg" alt="cloud&compliance"
          class="w-full h-[300px] object-cover rounded-2xl mb-3" />
        
          <h5 class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-2 px-4 rounded-3xl text-center">
            Cloud & Compliance
          </h5>
          <h2 class="text-2xl font-medium text-accent pt-3">
            How GDPR Shapes Cloud Migration in Europe
          </h2>
          <p class="paragraph text-secondary pt-3 flex-1">
            Migrating to the cloud is essential for scalability, but GDPR brings
            unique challenges. Learn how European companies in the UK, Germany,
            and France can ensure secure data migration, compliance, and
            efficiency.
          </p>
          <button class="paragraph text-secondary font-medium pt-4 group hover:text-primary cursor-pointer">
            <a href="#" class="flex justify-start items-center gap-2">
              Read More
              <span class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]">
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
          </button>
        
      </div>

      <div
        class="bg-white flex flex-col border border-[#1320281F] rounded-2xl p-3 lg:p-6 shadow-lg hover:-translate-y-2 duration-700">
        <img src="../../../Assets/Images/Services/AI&Fintech.jpg" alt="ai&fintech"
          class="w-full h-[300px] object-cover rounded-2xl mb-3" />
        
          <h5 class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-2 px-4 rounded-3xl text-center">
            AI & FinTech
          </h5>
          <h2 class="text-2xl font-medium text-accent pt-3">
            AI in European FinTech &mdash; Balancing Innovation with Compliance
          </h2>
          <p class="paragraph text-secondary pt-3 flex-1">
            AI is driving FinTech growth, from fraud detection to personalized
            banking. But how can European firms comply with the EU AI Act and
            PSD2 while innovating? Explore strategies to leverage AI securely.
          </p>
          <button class="paragraph text-secondary font-medium pt-4 group hover:text-primary cursor-pointer">
            <a href="#" class="flex justify-start items-center gap-2">
              Read More
              <span class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]">
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
          </button>
        
      </div>
      <div
        class="bg-white flex flex-col border border-[#1320281F] rounded-2xl p-3 lg:p-6 shadow-lg hover:-translate-y-2 duration-700">
        <img src="../../../Assets/Images/Services/digital_transformation.jpg" alt="digital_transformation"
          class="w-full h-[300px] object-cover rounded-2xl mb-3" />
        
          <h5 class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-2 px-4 rounded-3xl text-center">
            Digital Transformation
          </h5>
          <h2 class="text-2xl font-medium text-accent pt-3">
            Top 5 Digital Transformation Strategies for European Enterprises
          </h2>
          <p class="paragraph text-secondary pt-3 flex-1">
            From cloud adoption to AI automation, European businesses are
            rapidly modernizing. This blog highlights five proven strategies for
            companies in healthcare, manufacturing, and retail to thrive in the
            digital era.
          </p>
          <button class="paragraph text-secondary font-medium pt-4 group hover:text-primary cursor-pointer">
            <a href="#" class="flex justify-start items-center gap-2">
              Read More
              <span class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]">
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
          </button>
        
      </div>
    </div>
  </div>
</div>