<!-- our culture section start -->
<section id="our-culture" class="ourculture-section">
  <!-- About Us content -->

<div class="bg-[#FFFFFF] h-auto py-12">
  <div class="container mx-auto px-8">
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
        >
          Culture
        </h5>
      </div>
      <div class="none md:flex justify-between py-2">
        <h2 class="text-3xl md:text-4xl font-medium text-[#132028]">Explore Our Culture</h2>
        <p class="text-sm w-full md:w-[520px]">
          At Transcodezy, we foster an environment where creativity thrives,
          collaboration is encouraged, and every team member feels valued. Our
          culture is designed to empower employees while driving business
          success.
        </p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 py-6">
        <!-- Card 1 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[280px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <img
                src="../../../Assets/Images/Careers/showcase_team.png"
                alt="showcase_team"
                class="w-[50px] h-[50px]"
              />
              <div class="pt-4 cards-content">
                <h2 class="text-xl font-medium">Showcase Our Team</h2>
                <p class="text-md text-[#44464A] pt-2">
                  Meet passionate individuals who are the heart of Transcodezy.
                </p>
              </div>
            </div>
            <button
              class="text-[#44464A] text-md font-medium group hover:text-primary"
            >
              <a href="#" class="flex justify-start items-center gap-2">
                View
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                >
                  <i class="fa-solid fa-arrow-right"></i>
                </span>
              </a>
            </button>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[280px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <img
                src="../../../Assets/Images/Careers/training&devlopment.png"
                alt="training&devlopment"
                class="w-[50px] h-[50px]"
              />
              <div class="pt-4 cards-content">
                <h2 class="text-xl font-medium">Training & Development</h2>
                <p class="text-md text-[#44464A] pt-2">
                  Continuous learning programs to help employees grow skills and
                  expertise.
                </p>
              </div>
            </div>
            <button
              class="text-[#44464A] text-md font-medium group hover:text-primary"
            >
              <a href="#" class="flex justify-start items-center gap-2">
                View
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                >
                  <i class="fa-solid fa-arrow-right"></i>
                </span>
              </a>
            </button>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[280px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <img
                src="../../../Assets/Images/Careers/work_culture.png"
                alt="work_culture"
                class="w-[50px] h-[50px]"
              />
              <div class="pt-4 cards-content">
                <h2 class="text-xl font-medium">Work Culture</h2>
                <p class="text-md text-[#44464A] pt-2">
                  Open communication, collaboration, and innovation at every
                  level.
                </p>
              </div>
            </div>
            <button
              class="text-[#44464A] text-md font-medium group hover:text-primary"
            >
              <a href="#" class="flex justify-start items-center gap-2">
                View
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                >
                  <i class="fa-solid fa-arrow-right"></i>
                </span>
              </a>
            </button>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[280px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <img
                src="../../../Assets/Images/Careers/company_trips.png"
                alt="company_trips"
                class="w-[50px] h-[50px]"
              />
              <div class="pt-4 cards-content">
                <h2 class="text-xl font-medium">Company Trips & Events</h2>
                <p class="text-md text-[#44464A] pt-2">
                  Team outings and events to strengthen bonds and celebrate
                  achievements.
                </p>
              </div>
            </div>
            <button
              class="text-[#44464A] text-md font-medium group hover:text-primary"
            >
              <a href="#" class="flex justify-start items-center gap-2">
                View
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                >
                  <i class="fa-solid fa-arrow-right"></i>
                </span>
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
