<!-- our culture section start -->
<section id="our-culture" class="ourculture-section">
  <!-- About Us content -->

<div class="bg-[#FFFFFF] h-auto py-[50px] lg:py-[70px] xl:py-[90px] 2xl:py-[120px]">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div>
      <div class="w-full lg:w-[500px]">
        <h5
          class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center z-10"
        >
          Culture
        </h5>
      </div>
      <div class="none lg:flex justify-between items-center py-6 gap-10">
        <h2 class="text-accent heading font-medium w-full max-w-[740px] pt-0 lg:pt-6">Explore Our Culture</h2>
        <p class="paragraph text-secondary w-full max-w-[740px]">
          At Transcodezy, we foster an environment where creativity thrives,
          collaboration is encouraged, and every team member feels valued. Our
          culture is designed to empower employees while driving business
          success.
        </p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 py-6">
        <!-- Card 1 -->
        <div
          class="bg-white border-2 border-[#1320281F] p-3 lg:p-6 rounded-[24px] hover:-translate-y-4 hover:border-2 hover:border-primary transition-transform duration-700 ease-in-out cursor-pointer"
        >
          <img
            src="../../../Assets/Images/Careers/culture_img1.jpg"
            alt="culture_img1"
            class="h-[300px] w-full object-cover rounded-2xl"
          />
          <div class="pt-4">
            <h2 class="text-2xl font-medium">Showcase Our Team</h2>
            <p class="paragraph text-secondary pt-3">
              Meet passionate individuals who are the heart of Transcodezy.
            </p>
          </div>
        </div>

        <!-- Card 2 -->
        <div
          class="bg-white border-2 border-[#1320281F] p-3 lg:p-6 rounded-[24px] hover:-translate-y-4 hover:border-2 hover:border-primary transition-transform duration-700 ease-in-out cursor-pointer"
        >
          <img
            src="../../../Assets/Images/Careers/culture_img2.jpg"
            alt="culture_img2"
            class="h-[300px] w-full object-cover rounded-2xl"
          />
          <div class="pt-4">
            <h2 class="text-2xl font-medium">Training &amp; Development</h2>
            <p class="paragraph text-secondary pt-3">
              Continuous learning programs to help employees grow skills and expertise.
            </p>
          </div>
        </div>

        <!-- Card 3 -->
        <div
          class="bg-white border-2 border-[#1320281F] p-3 lg:p-6 rounded-[24px] hover:-translate-y-4 hover:border-2 hover:border-primary transition-transform duration-700 ease-in-out cursor-pointer"
        >
          <img
            src="../../../Assets/Images/Careers/culture_img3.jpg"
            alt="culture_img3"
            class="h-[300px] w-full object-cover rounded-2xl"
          />
          <div class="pt-4">
            <h2 class="text-2xl font-medium">Work Culture</h2>
            <p class="paragraph text-secondary pt-3">
              Open communication, collaboration, and innovation at every level.
            </p>
          </div>
        </div>

        <!-- Card 4 -->
        <div
          class="bg-white border-2 border-[#1320281F] p-3 lg:p-6 rounded-[24px] hover:-translate-y-4 hover:border-2 hover:border-primary transition-transform duration-700 ease-in-out cursor-pointer"
        >
          <img
            src="../../../Assets/Images/Careers/culture_img4.jpg"
            alt="culture_img4"
            class="h-[300px] w-full object-cover rounded-2xl"
          />
          <div class="pt-4">
            <h2 class="text-2xl font-medium">Company Trips &amp; Events</h2>
            <p class="paragraph text-secondary pt-3">
              Team outings and events to strengthen bonds and celebrate achievements.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</section>
