<!-- our portfolio section start -->

  <body class="bg-white">
    <div class="bg-[#0094EE0F] relative z-0 h-auto py-16 sm:py-20 lg:py-[100px]">
      <!-- Background Images -->
      <div class="absolute inset-y-0 top-0 left-0 z-0 opacity-70">
        <img
          src="../../../Assets/Images/mission_bg-1.png"
          alt="mission-bg-1"
          class="h-full w-full object-cover"
        />
      </div>
      <div class="absolute inset-y-0 top-0 right-0 z-0 opacity-70">
        <img
          src="../../../Assets/Images/mission_bg-2.png"
          alt="mission-bg-2"
          class="h-full w-full object-cover"
        />
      </div>

      <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-10">
        <!-- Section Title -->
        <div class="pb-4 w-full lg:w-[500px] relative z-10">
          <h5
            class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-3xl text-center"
          >
            Portfolio
          </h5>
        </div>

        <!-- Heading & View All (Hidden on mobile) -->
        <div class="pb-2 relative z-10">
          <h2 class="text-accent heading font-medium">
            Portfolio &mdash; Projects Across Globe
          </h2>
          <div class="flex flex-col lg:flex-row justify-between gap-2 lg:gap-0">
            <p class="paragraph text-secondary w-full max-w-[776px]">
            A showcase of our latest projects across the UK, Germany, Netherlands, France, Spain, and the Balkans. Explore our work
            in Social Media, healthcare, Sports Tech , e-commerce, and more.
            </p>
            <div>
              <button
                id="viewAllBtn"
                class="hidden md:flex justify-center gap-2 bg-primary bg-primary py-3 px-6 paragraph rounded-3xl text-white group"
              >
                View All
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                >
                  <i class="fa-solid fa-arrow-right"></i>
                </span>
              </button>
            </div>
          </div>
        </div>

        <!-- DESKTOP GRID -->
        <div
          class="hidden md:grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-6 relative z-10"
        >
          <!-- Card 1 -->
          <div
            class="flex flex-col bg-white border border-[#1320281F] rounded-2xl p-3 xl:p-6 shadow-lg hover:-translate-y-2 duration-700"
          >
            <img
              src="../../../Assets/Images/network_portfolio.jpg"
              alt="network"
              class="w-full h-[300px] rounded-2xl object-cover"
            />
            <div class="pt-3">
              <h5
                class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
              >
                Social Media & Networking
              </h5>
            </div>
            <h2 class="text-2xl text-accent font-medium pt-2">Networked</h2>
            <p class="paragraph text-secondary pt-2 line-clamp-3 flex-1">
              Scalable community management platform with real-time chat,
              role-based access & secure payments.
            </p>
            <a
              href="/project_details.html"
              class="flex items-center gap-2 pt-4 group hover:text-primary paragraph text-secondary"
            >
              Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              >
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
          </div>

          <!-- Card 2 -->
          <div
            class="flex flex-col bg-white border border-[#1320281F] rounded-2xl p-3 xl:p-6 shadow-lg hover:-translate-y-2 duration-700"
          >
            <img
              src="../../../Assets/Images/cricket_analysis.jpg"
              alt="cricket_analysis"
              class="w-full h-[300px] rounded-2xl object-cover"
            />
            <div class="pt-3">
              <h5
                class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
              >
                Sports
              </h5>
            </div>
            <h2 class="text-2xl text-accent font-medium pt-2">Cricket Analysis</h2>
            <p class="paragraph text-secondary pt-2 line-clamp-3 flex-1">
              Cricket analysis platform to upload, process & analyze match data
              with automated mapping & insights.
            </p>
            <a
              href="/project_details.html"
              class="flex items-center gap-2 pt-4 group hover:text-primary paragraph text-secondary"
            >
              Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              >
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
          </div>

          <!-- Card 3 -->
          <div
            class="flex flex-col bg-white border border-[#1320281F] rounded-2xl p-3 xl:p-6 shadow-lg hover:-translate-y-2 duration-700"
          >
            <img
              src="../../../Assets/Images/agent_xenon.jpg"
              alt="agent_xenon"
             class="w-full h-[300px] rounded-2xl object-cover"
            />
            <div class="pt-3">
              <h5
                class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
              >
                HR Tech
              </h5>
            </div>
            <h2 class="text-2xl text-accent font-medium pt-2">Agent-Xenon</h2>
            <p class="paragraph text-secondary pt-2 line-clamp-3 flex-1">
              HR technology platform for workforce planning & management.
            </p>
            <a
              href="project_details.html"
              class="flex items-center gap-2 pt-4 group hover:text-primary paragraph text-secondary"
            >
              Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              >
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
          </div>
        </div>

        <!-- MOBILE SWIPER SLIDER -->
        <div class="md:hidden py-4 lg:py-8 relative z-50 ">
          <div class="swiper portfolioSwiper">
            <div class="swiper-wrapper">
              <!-- Slide 1 -->
              <div class="swiper-slide">
                <div
                  class="bg-white border border-[#1320281F] rounded-2xl p-3 shadow-lg"
                >
                  <img
                    src="../../../Assets/Images/network_portfolio.jpg"
                    class="w-full h-[220px] rounded-2xl object-cover"
                    alt="Networked"
                  />
                  <div class="pt-3">
                    <h5
                       class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
                    >
                      Social Media & Networking
                    </h5>
                    <h2 class="text-xl text-accent font-medium pt-2">Networked</h2>
                    <p class="text-sm text-secondary pt-2">
                      Scalable community management platform with real-time chat
                      & secure payments.
                    </p>
                    <a
                      href="/project_details.html"
                      class="flex items-center gap-2 pt-4 group text-base text-secondary hover:text-primary "
                    >
                      Read More
                      <span
                        class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                      >
                        <i class="fa-solid fa-arrow-right"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>

              <!-- Slide 2 -->
              <div class="swiper-slide">
                <div
                  class="bg-white border border-[#1320281F] rounded-2xl p-4 shadow-lg"
                >
                  <img
                    src="../../../Assets/Images/cricket_analysis.jpg"
                    class="w-full h-[220px] rounded-2xl object-cover"
                    alt="Cricket Analysis"
                  />
                  <div class="pt-3">
                    <h5
                       class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
                    >
                      Sports
                    </h5>
                    <h2 class="text-xl text-accent font-medium pt-2">Cricket Analysis</h2>
                   <p class="text-sm text-secondary pt-2">
                      Analysis platform for match data, insights & performance.
                    </p>
                    <a
                      href="/project_details.html"
                     class="flex items-center gap-2 pt-4 group text-base text-secondary hover:text-primary "
                    >
                      Read More
                      <span
                        class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                      >
                        <i class="fa-solid fa-arrow-right"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>

              <!-- Slide 3 -->
              <div class="swiper-slide">
                <div
                  class="bg-white border border-[#1320281F] rounded-2xl p-4 shadow-lg"
                >
                  <img
                    src="../../../Assets/Images/agent_xenon.jpg"
                    class="w-full h-[220px] rounded-2xl object-cover"
                    alt="Agent Xenon"
                  />
                  <div class="pt-3">
                    <h5
                       class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
                    >
                      HR Tech
                    </h5>
                    <h2 class="text-xl text-accent font-medium pt-2">Agent-Xenon</h2>
                   <p class="text-sm text-secondary pt-2">
                      HR platform for workforce planning & management.
                    </p>
                    <a
                      href="/project_details.html"
                     class="flex items-center gap-2 pt-4 group text-base text-secondary hover:text-primary "
                    >
                      Read More
                      <span
                        class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                      >
                        <i class="fa-solid fa-arrow-right"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Slider Buttons -->
          <div class="flex flex-row gap-6 pt-5 md:pt-0 relative z-10">
            <button
              id="portfolioPrev"
              class="w-[50px] h-[50px] border border-[#132028] flex justify-center items-center rounded-full disabled:opacity-50 cursor-pointer"
            >
              <i class="fa-solid fa-arrow-left"></i>
            </button>
            <button
              id="portfolioNext"
              class="w-[50px] h-[50px] border border-[#132028] flex justify-center items-center rounded-full disabled:opacity-50 cursor-pointer"
            >
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
      window.addEventListener("load", function () {
        const swiper = new Swiper(".portfolioSwiper", {
          slidesPerView: 1,
          spaceBetween: 20,
          navigation: {
            nextEl: "#portfolioNext",
            prevEl: "#portfolioPrev",
          },
          on: {
            init: function () {
              updateButtonState(this);
            },
            slideChange: function () {
              updateButtonState(this);
            },
          },
        });

        const prevBtn = document.getElementById("portfolioPrev");
        const nextBtn = document.getElementById("portfolioNext");

        function updateButtonState(swiper) {
          prevBtn.disabled = swiper.isBeginning;
          nextBtn.disabled = swiper.isEnd;
          prevBtn.classList.toggle("opacity-40", swiper.isBeginning);
          nextBtn.classList.toggle("opacity-40", swiper.isEnd);
        }
      });
    </script>
  </body>
</html>

