<!-- get in touch section start -->
 
<div class="bg-[#FFFFFF] pb-[60px] lg:pb-[80px] xl:pb-[100px] 2xl:pb-[140px]">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative z-0">
      <div class="bg-accent rounded-3xl overflow-hidden">
        <img
          src="../../../Assets/Images/getintouch.png"
          alt="getintouch-bg"
          class="w-full h-[290px] object-cover rounded-2xl"
        />
      </div>
      <div class="absolute inset-0 flex flex-col justify-center items-center text-center px-4">
        <h1 class="heading font-medium text-white">
          Let’s Build Your Future Together
        </h1>
        <p class="text-[#FFFFFF99] paragraph max-w-[90%] md:max-w-[672px] mt-3">
          Whether you’re a startup in London, a manufacturer in Germany, or an
          e-commerce company in Spain, Transcodezy is your trusted IT partner.
        </p>
        <div class="mt-5 flex justify-center gap-2 bg-primary py-3 px-6 rounded-3xl w-fit text-white paragraph duration-500 group hover:scale-110">
          
            <a href="/book_a_free_consultation.html" >Book a Free Consultation</a>
            <span
              class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              ><i class="fa-solid fa-arrow-right"></i
            ></span>
        </div>
      </div>
    </div>
  </div>
</div>
