<!-- who we are section start -->
<section id="who-we-are" class="who-we-are-section">
  <!-- Who We Are content -->

<div class="bg-[#FFFFFF] py-[50px] lg:py-[80px] xl:py-[100px] 2xl:py-[140px] mt-5">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div>
      <div class="py-6 w-full lg:w-[500px]">
        <h5
          class="bg-white paragraph text-accent border border-accent w-fit py-3 px-6 rounded-[40px]"
        >
          Who We Are
        </h5>
      </div>
      <div class="none lg:flex justify-between pb-5">
        <h2 class="heading font-medium text-accent">
          A Vision-Driven IT Solutions Company
        </h2>
        <p class="paragraph text-secondary font-normal w-full xl:max-w-[720px] pt-0 lg:pt-[40px]">
          We are a mission-focused IT company committed to helping businesses
          embrace digital transformation and next-generation technologies.
        </p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 py-6">
        <!-- Card 1 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-[24px] h-[190px] lg:h-[244px] flex flex-col justify-between p-5 xl:p-8"
          >
            <div>
              <div class="flex justify-center items-center">
                <img
                  src="../../../Assets/Images/Company/innovation-first.png"
                  alt="innovation-first"
                  class="w-[60px] h-[60px]"
                />
                <div class="absolute inset-0 z-10">
                  <img
                    src="../../../Assets/Images/why_choose_cards-bg.png"
                    alt="whychooseusbg"
                    class="h-[100%] w-[100%] object-fit"
                  />
                </div>
              </div>
              <div class="pt-6 cards-content text-center">
                <h2 class="text-2xl text-accent font-medium">
                  Innovation-first approach
                </h2>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-[24px] h-[190px] lg:h-[244px] flex flex-col justify-between p-5 xl:p-8"
          >
            <div>
              <div class="flex justify-center items-center">
                <img
                  src="../../../Assets/Images/Company/client_solutions.png"
                  alt="client_solutions"
                  class="w-[60px] h-[60px]"
                />
              </div>
              <div class="absolute inset-0 z-10">
                  <img
                    src="../../../Assets/Images/why_choose_cards-bg.png"
                    alt="whychooseusbg"
                    class="h-[100%] w-[100%] object-fit"
                  />
                </div>
              <div class="pt-6 cards-content text-center">
                <h2 class="text-2xl text-accent font-medium">Client-centric solutions</h2>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-[24px] h-[190px] lg:h-[244px] flex flex-col justify-between p-5 xl:p-8"
          >
            <div>
              <div class="flex justify-center items-center">
                <img
                  src="../../../Assets/Images/Company/secure_technology.png"
                  alt="secure_technology"
                  class="w-[60px] h-[60px]"
                />
              </div>
              <div class="absolute inset-0 z-10">
                  <img
                    src="../../../Assets/Images/why_choose_cards-bg.png"
                    alt="whychooseusbg"
                    class="h-[100%] w-[100%] object-fit"
                  />
                </div>
              <div class="pt-6 cards-content text-center">
                <h2 class="text-2xl text-accent font-medium">
                  Scalable & secure technology
                </h2>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-[24px] h-[190px] lg:h-[244px] flex flex-col justify-between p-5 xl:p-8"
          >
            <div>
              <div class="flex justify-center items-center">
                <img
                  src="../../../Assets/Images/Company/global_vision.png"
                  alt="global_vision"
                  class="w-[60px] h-[60px]"
                />
              </div>
              <div class="absolute inset-0 z-10">
                  <img
                    src="../../../Assets/Images/why_choose_cards-bg.png"
                    alt="whychooseusbg"
                    class="h-[100%] w-[100%] object-fit"
                  />
                </div>
              <div class="pt-6 cards-content text-center">
                <h2 class="text-2xl text-accent font-medium">
                  Global vision with local European expertise
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
