<!-- who we are section start -->

<div class="bg-[#FFFFFF] h-auto py-12">
  <div class="container mx-auto px-6 lg:px-12">
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
        >
          Who We Are
        </h5>
      </div>
      <div class="none md:flex justify-between py-2">
        <h2 class="text-4xl font-medium text-[#132028] w-full md:w-[450px]">
          A Vision-Driven IT Solutions Company
        </h2>
        <p class="text-sm w-full md:w-[540px]">
          We are a mission-focused IT company committed to helping businesses
          embrace digital transformation and next-generation technologies.
        </p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 py-6">
        <!-- Card 1 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[200px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <div class="flex justify-center items-center">
                <img
                  src="../../../Assets/Images/Company/innovation-first.png"
                  alt="innovation-first"
                  class="w-[50px] h-[50px]"
                />
                <div class="absolute inset-0 z-10">
                  <img
                    src="../../../Assets/Images/why_choose_cards-bg.png"
                    alt="whychooseusbg"
                    class="h-[100%] w-[100%] object-fit"
                  />
                </div>
              </div>
              <div class="pt-4 cards-content flex justify-center text-center">
                <h2 class="text-xl font-medium px-5">
                  Innovation-first approach
                </h2>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[200px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <div class="flex justify-center items-center">
                <img
                  src="../../../Assets/Images/Company/client_solutions.png"
                  alt="client_solutions"
                  class="w-[50px] h-[50px]"
                />
              </div>
              <div class="absolute inset-0 z-10">
                  <img
                    src="../../../Assets/Images/why_choose_cards-bg.png"
                    alt="whychooseusbg"
                    class="h-[100%] w-[100%] object-fit"
                  />
                </div>
              <div class="pt-4 cards-content flex justify-center text-center">
                <h2 class="text-xl font-medium">Client-centric solutions</h2>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[200px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <div class="flex justify-center items-center">
                <img
                  src="../../../Assets/Images/Company/secure_technology.png"
                  alt="secure_technology"
                  class="w-[50px] h-[50px]"
                />
              </div>
              <div class="absolute inset-0 z-10">
                  <img
                    src="../../../Assets/Images/why_choose_cards-bg.png"
                    alt="whychooseusbg"
                    class="h-[100%] w-[100%] object-fit"
                  />
                </div>
              <div class="pt-4 cards-content flex justify-center text-center">
                <h2 class="text-xl font-medium px-5">
                  Scalable & secure technology
                </h2>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[200px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <div class="flex justify-center items-center">
                <img
                  src="../../../Assets/Images/Company/global_vision.png"
                  alt="global_vision"
                  class="w-[50px] h-[50px]"
                />
              </div>
              <div class="absolute inset-0 z-10">
                  <img
                    src="../../../Assets/Images/why_choose_cards-bg.png"
                    alt="whychooseusbg"
                    class="h-[100%] w-[100%] object-fit"
                  />
                </div>
              <div class="pt-4 cards-content flex justify-center text-center">
                <h2 class="text-xl font-medium">
                  Global vision with local European expertise
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
