<!-- techstack section start -->

<div class="bg-[#ffffff] py-[50px] lg:py-[80px] xl:py-[100px] 2xl:py-[140px]">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div>
      <h5
        class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center z-10"
      >
        Tech Stack
      </h5>
      <h2 class="text-accent heading font-medium pt-5 lg:pt-10">Our Tech Stack</h2>
    </div>
    <div class="relative z-10 flex flex-col lg:flex-row justify-between items-center py-5">
      <div class="block md:hidden py-8 z-10">
        <img
          src="../../../Assets/Images/UiUxDesign/techstack_img.png"
          alt="techstack_img"
          class="h-[100%] w-[500px] object-cover"
        />
      </div>
      <div
        class="absolute inset-0 top-[100px] left-[250px] xl:left-[320px] z-[-1] hidden lg:block"
      >
        <img
          src="../../../Assets/Images/UiUxDesign/techStack_bg_line.png"
          alt="techstack_img-line"
          class="w-[480px] xl:w-[755px] h-[350px] object-center"
        />
      </div>
      <div class="py-0 md:py-8 z-10 w-full lg:w-auto flex flex-col gap-[10px] lg:gap-[40px] xl:gap-[60px]">
        <div
          class="w-full lg:w-[250px] xl:w-[321px] border border-[#1320283D] bg-[#0094EE05] mb-0 lg:mb-[180px] rounded-xl p-4 z-10 mb-8  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer"
        >
          <div>
            <h2 class="text-[24px] text-accent font-medium">Design Tools</h2>
            <p class="paragraph text-secondary pt-1">
              Figma, Adobe XD, Sketch, InVision
            </p>
          </div>
        </div>
        <div
          class="w-full lg:w-[262px] xl:w-[340px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-4  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer"
        >
          <div>
            <h2 class="text-[24px] text-accent font-medium">
              Motion & Interaction Design
            </h2>
            <p class="paragraph text-secondary pt-1">
              After Effects, Lottie, Framer Motion
            </p>
          </div>
        </div>
      </div>
      
      <div class="py-0 md:py-8 z-10 flex flex-col hidden md:block">
        <img
          src="../../../Assets/Images/UiUxDesign/techstack_img.png"
          alt="techstack_img"
          class="h-[480px] w-[350px] xl:w-[545px] object-cover"
        />
      </div>
      <div class="py-0 lg:py-8 z-10 w-full lg:w-auto mt-10 md:mt-0">
        <div
          class="w-full lg:w-[230px] xl:w-[302px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-4 mb-12 ml-auto  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer"
        >
          <h2 class="text-[24px] text-accent font-medium">
            Prototyping & Testing
          </h2>
          <p class="paragraph text-secondary pt-1">
            Zeplin, Miro, Hotjar, UserTesting
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
