<!-- future scope section start -->

<div class="bg-[#0094EE0F] relative z-0 h-auto py-16 sm:py-20 lg:py-[100px]">
  <div class="absolute inset-y-0 top-0 left-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-1.png"
    alt="mission-background"
   class="h-full w-full object-cover"
    />
  </div>
  <div class="absolute inset-y-0 top-0 right-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-2.png"
    alt="mission-background-2"
  class="h-full w-full object-cover"
    />
  </div>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div>
    <div class="pb-5 lg:pb-10">
        <h5 class="bg-[#FFFFFF0A] paragraph text-accent border border-accent w-fit py-3 px-6 rounded-[40px]">
          Future Scope & Innovations
        </h5>
      </div>
      <div class="none md:flex justify-between py-2">
       <h2 class="heading font-medium text-accent pb-8 lg:pb-15">
        Future Scope & Innovations
        </h2>
      </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 xl:gap-10">
        <div class="z-10 ">
            <div
                class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3 ">
                <img
                    src="../../../Assets/Images/CloudAndDevopsSolution/future_img1.png"
                    alt="future_scope_img1"
                    class="h-[35px] lg:h-auto w-[35px] lg:w-auto "
                />
       
                <p class="paragraph text-secondary ">
                    Hybrid & Multi-Cloud Deployments across EU regions
                </p>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3 ">
                <img
                    src="../../../Assets/Images/CloudAndDevopsSolution/future_img2.png"
                    alt="future_scope_img2"
                   class="h-[35px] lg:h-auto w-[35px] lg:w-auto "
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                    Predictive Scaling & Auto-Remediation for cloud resources
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3 ">
                <img
                    src="../../../Assets/Images/CloudAndDevopsSolution/future_img3.png"
                    alt="future_scope_img3"
                   class="h-[35px] lg:h-auto w-[35px] lg:w-auto "
                />
                <div class=""> 
                    <p class="paragraph text-secondary ">
                    Advanced Infrastructure as Code with Terraform & CloudFormation
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3 ">
                <img
                    src="../../../Assets/Images/CloudAndDevopsSolution/future_img4.png"
                    alt="future_scope_img4"
                   class="h-[35px] lg:h-auto w-[35px] lg:w-auto "
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                    Real-Time Monitoring & Analytics with Prometheus & Grafana
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3 ">
                <img
                    src="../../../Assets/Images/CloudAndDevopsSolution/future_img5.png"
                    alt="future_scope_img5"
                   class="h-[35px] lg:h-auto w-[35px] lg:w-auto"
                />
                <div class="">
                    <p class="paragraph text-secondary group-hover:text-primary">
                    End-to-End Security Automation using Vault & CSPM
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3 ">
                <img
                    src="../../../Assets/Images/CloudAndDevopsSolution/future_img6.png"
                    alt="future_scope_img6"
                   class="h-[35px] lg:h-auto w-[35px] lg:w-auto "
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                    DevSecOps Integration for secure deployments
                    </p>
                </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>