<!-- FAQ section start -->

<div class="bg-[#FFFFFF] py-12 mt-5 mb-5">
  <div class="container mx-auto px-6 lg:px-12">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 w-full">
      <div>
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
        >
          FAQ
        </h5>
        <div class="pt-4">
          <h1 class="text-4xl font-medium text-[#132028]">
            Frequently Asked Questions
          </h1>
        </div>
      </div>
      <div class="accordion pt-4 lg:pt-0">
        <div
          class="accordion-item border-b border-[#1320281F] transition-colors"
        >
          <button
            class="accordion-toggle w-full flex justify-between items-center p-2 text-left text-gray-800 font-medium focus:outline-none"
          >
            <span class="text-lg font-medium"
              >What types of IT solutions does Transcodezy provide?</span
            >
            <span class="relative w-5 h-5 flex items-center justify-center">
              <i class="fa-solid fa-plus absolute plus-icon"></i>
              <i class="fa-solid fa-minus absolute minus-icon hidden"></i>
            </span>
          </button>
          <div
            class="accordion-content max-h-0 overflow-hidden transition-all duration-300 text-gray-600"
          >
            <p class="p-2 text-sm">
              We deliver custom software, Cloud & DevOps, AI/ML, Blockchain & FinTech, 
              UI/UX design, and digital transformation solutions—secure, scalable, and compliant.
            </p>
          </div>
        </div>
        <div
          class="accordion-item border-b border-[#1320281F] transition-colors"
        >
          <button
            class="accordion-toggle w-full flex justify-between items-center p-2 text-left text-gray-800 font-medium focus:outline-none"
          >
            <span class="text-lg font-medium"
              >Are your solutions GDPR and compliance-ready?</span
            >
            <span class="relative w-5 h-5 flex items-center justify-center">
              <i class="fa-solid fa-plus absolute plus-icon"></i>
              <i class="fa-solid fa-minus absolute minus-icon hidden"></i>
            </span>
          </button>
          <div
            class="accordion-content max-h-0 overflow-hidden transition-all duration-300 text-gray-600"
          >
            <p class="p-2 text-sm">
              Yes. All services—including CRM, cloud, AI, and 
              FinTech apps—meet GDPR, HIPAA, PSD2, and PCI DSS standards.
            </p>
          </div>
        </div>
        <div
          class="accordion-item border-b border-[#1320281F] transition-colors"
        >
          <button
            class="accordion-toggle w-full flex justify-between items-center p-2 text-left text-gray-800 font-medium focus:outline-none"
          >
            <span class="text-lg font-medium"
              >Do you offer CRM solutions for businesses?</span
            >
            <span class="relative w-5 h-5 flex items-center justify-center">
              <i class="fa-solid fa-plus absolute plus-icon"></i>
              <i class="fa-solid fa-minus absolute minus-icon hidden"></i>
            </span>
          </button>
          <div
            class="accordion-content max-h-0 overflow-hidden transition-all duration-300 text-gray-600"
          >
            <p class="p-2 text-sm">
               Absolutely. We build custom CRMs for e-commerce, healthcare, sports tech, 
               and social media to manage customers, loyalty, appointments, and analytics securely.
            </p>
          </div>
        </div>
        <div
          class="accordion-item border-b border-[#1320281F] transition-colors"
        >
          <button
            class="accordion-toggle w-full flex justify-between items-center p-2 text-left text-gray-800 font-medium focus:outline-none"
          >
            <span class="text-lg font-medium"
              >Can you support businesses of all sizes?</span
            >
            <span class="relative w-5 h-5 flex items-center justify-center">
              <i class="fa-solid fa-plus absolute plus-icon"></i>
              <i class="fa-solid fa-minus absolute minus-icon hidden"></i>
            </span>
          </button>
          <div
            class="accordion-content max-h-0 overflow-hidden transition-all duration-300 text-gray-600"
          >
            <p class="px-2 pt-2 text-sm">
              Yes. We work with startups, mid-sized companies, and large enterprises, 
              tailoring solutions to scale and business goals.
            </p>
          </div>
        </div>
        <div
          class="accordion-item border-b border-[#1320281F] transition-colors"
        >
          <button
            class="accordion-toggle w-full flex justify-between items-center p-2 text-left text-gray-800 font-medium focus:outline-none"
          >
            <span class="text-lg font-medium"
              >How do you ensure projects are future-ready and scalable?</span
            >
            <span class="relative w-5 h-5 flex items-center justify-center">
              <i class="fa-solid fa-plus absolute plus-icon"></i>
              <i class="fa-solid fa-minus absolute minus-icon hidden"></i>
            </span>
          </button>
          <div
            class="accordion-content max-h-0 overflow-hidden transition-all duration-300 text-gray-600"
          >
            <p class="p-2 text-sm">
            Using modern tech—React.js, Next.js, Node.js, cloud platforms, AI/ML,
             and blockchain—our modular, scalable designs support growth and integration.
            </p>
          </div>
        </div>
        <div
          class="accordion-item border-b border-[#1320281F] transition-colors"
        >
          <button
            class="accordion-toggle w-full flex justify-between items-center p-2 text-left text-gray-800 font-medium focus:outline-none"
          >
            <span class="text-lg font-medium"
              >Do you provide post-launch support and maintenance?</span
            >
            <span class="relative w-5 h-5 flex items-center justify-center">
              <i class="fa-solid fa-plus absolute plus-icon"></i>
              <i class="fa-solid fa-minus absolute minus-icon hidden"></i>
            </span>
          </button>
          <div
            class="accordion-content max-h-0 overflow-hidden transition-all duration-300 text-gray-600"
          >
            <p class="p-2 text-sm">
              Yes. We monitor, update, optimize performance, and troubleshoot to keep systems secure,
               compliant, and efficient.
            </p>
          </div>
        </div>
        <div
          class="accordion-item border-b border-[#1320281F] transition-colors"
        >
          <button
            class="accordion-toggle w-full flex justify-between items-center p-2 text-left text-gray-800 font-medium focus:outline-none"
          >
            <span class="text-lg font-medium"
              >How long does a typical project take?</span
            >
            <span class="relative w-5 h-5 flex items-center justify-center">
              <i class="fa-solid fa-plus absolute plus-icon"></i>
              <i class="fa-solid fa-minus absolute minus-icon hidden"></i>
            </span>
          </button>
          <div
            class="accordion-content max-h-0 overflow-hidden transition-all duration-300 text-gray-600"
          >
            <p class="p-2 text-sm">
              Small/medium projects: 6–12 weeks; enterprise-level: 3–6 months. Timelines come with detailed milestones.
            </p>
          </div>
        </div>
        <div
          class="accordion-item border-b border-[#1320281F] transition-colors"
        >
          <button
            class="accordion-toggle w-full flex justify-between items-center p-2 text-left text-gray-800 font-medium focus:outline-none"
          >
            <span class="text-lg font-medium"
              >How can I start a project with Transcodezy?</span
            >
            <span class="relative w-5 h-5 flex items-center justify-center">
              <i class="fa-solid fa-plus absolute plus-icon"></i>
              <i class="fa-solid fa-minus absolute minus-icon hidden"></i>
            </span>
          </button>
          <div
            class="accordion-content max-h-0 overflow-hidden transition-all duration-300 text-gray-600"
          >
            <p class="p-2 text-sm">
              Book a Free Consultation online. We’ll define your roadmap and 
              propose tailored IT, CRM, cloud, AI, or FinTech solutions.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const accordions = document.querySelectorAll(".accordion-item");
  accordions.forEach((item) => {
    const toggle = item.querySelector(".accordion-toggle");
    const content = item.querySelector(".accordion-content");
    const plusIcon = item.querySelector(".plus-icon");
    const minusIcon = item.querySelector(".minus-icon");

    toggle.addEventListener("click", () => {
      const isOpen = !content.classList.contains("max-h-0");

      if (isOpen) {
        // Closing
        content.classList.add("max-h-0");
        content.classList.remove("max-h-screen");
        item.classList.remove("bg-[#0094EE05]");

        plusIcon.classList.remove("hidden");
        minusIcon.classList.add("hidden");
      } else {
        // Opening
        content.classList.remove("max-h-0");
        content.classList.add("max-h-screen");
        item.classList.add("bg-[#0094EE05]");

        plusIcon.classList.add("hidden");
        minusIcon.classList.remove("hidden");
      }
    });
  });
</script>
