<!-- our Ecommerce solution section start -->

<div class="bg-[#FFFFFF] py-[50px] lg:py-[80px] xl:py-[100px] 2xl:py-[140px]">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="pb-7 lg:pb-14">
      <h5
        class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center mb-5 lg:mb-10"
      >
        Our E-commerce Solutions
      </h5>
      <div class="py-5 none lg:flex justify-between items-center gap-5">
        <h1 class="text-accent heading font-medium">
          Build, Scale & Globalize Your <span class="block">Online Business</span>
        </h1>
        <p class="paragraph text-secondary w-full max-w-[740px]">
          We empower retailers, wholesalers, and marketplaces with end-to-end
          e-commerce platforms designed to boost sales, expand across Europe,
          and deliver frictionless customer experiences.
        </p>
      </div>
    </div>
    <div class="grid gap-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 py-5">
        
        <!-- Card 1 -->
        <div class="bg-white flex flex-col gap-[12px] rounded-[24px] shadow-sm hover:shadow-lg transition-all duration-300 p-3 lg:p-6 border border-[#1320281F]">
          <img src="../../../Assets/Images/Ecommerce/scalable_marketplace.jpg" alt="Scalable Marketplaces" class="rounded-2xl w-full h-[300px] object-cover">
          <h3 class="font-medium text-accent text-2xl ">Scalable Marketplaces</h3>
          <ul class="paragraph text-secondary list-disc ml-5 space-y-1">
            <li>Multi-vendor marketplace platforms with admin dashboards</li>
            <li>Multi-language & multi-currency support</li>
            <li>GDPR-ready for European compliance</li>
          </ul>
        </div>

        <!-- Card 2 -->
        <div class="bg-white flex flex-col gap-[12px] rounded-[24px] shadow-sm hover:shadow-lg transition-all duration-300 p-3 lg:p-6 border border-[#1320281F]">
          <img src="../../../Assets/Images/Ecommerce/AI_powered.jpg" alt="AI-Powered Personalization" class="rounded-2xl w-full h-[300px] object-cover">
          <h3 class="font-medium text-accent text-2xl ">AI-Powered Personalization</h3>
          <ul class="paragraph text-secondary list-disc ml-5 space-y-1">
            <li>Intelligent product recommendations</li>
            <li>Automated upsell & cross-sell features</li>
            <li>Personalized shopping experiences</li>
          </ul>
        </div>

        <!-- Card 3 -->
        <div class="bg-white flex flex-col gap-[12px] rounded-[24px] shadow-sm hover:shadow-lg transition-all duration-300 p-3 lg:p-6 border border-[#1320281F]">
          <img src="../../../Assets/Images/Ecommerce/CRM.jpg" alt="CRM & Order Management" class="rounded-2xl w-full h-[300px] object-cover">
          <h3 class="font-medium text-accent text-2xl ">CRM & Order Management</h3>
          <ul class="paragraph text-secondary list-disc ml-5 space-y-1">
            <li>Centralized CRM to manage leads, customers & vendors</li>
            <li>Real-time order tracking & payment reconciliation</li>
            <li>Integration with ERP and warehouse systems</li>
          </ul>
        </div>

        <!-- Card 4 -->
        <div class="bg-white flex flex-col gap-[12px] rounded-[24px] shadow-sm hover:shadow-lg transition-all duration-300 p-3 lg:p-6 border border-[#1320281F]">
          <img src="../../../Assets/Images/Ecommerce/secure_payment.jpg" alt="Secure Payments & Compliance" class="rounded-2xl w-full h-[300px] object-cover">
          <h3 class="font-medium text-accent text-2xl ">Secure Payments & Compliance</h3>
          <ul class="paragraph text-secondary list-disc ml-5 space-y-1">
            <li>Multi-currency payment gateway integration</li>
            <li>Cross-border tax and invoicing solutions</li>
          </ul>
        </div>

        <!-- Card 5 -->
        <div class="bg-white flex flex-col gap-[12px] rounded-[24px] shadow-sm hover:shadow-lg transition-all duration-300 p-3 lg:p-6 border border-[#1320281F]">
          <img src="../../../Assets/Images/Ecommerce/logistics.jpg" alt="Logistics & Supply Chain Integration" class="rounded-2xl w-full h-[300px] object-cover">
          <h3 class="font-medium text-accent text-2xl ">Logistics & Supply Chain Integration</h3>
          <ul class="paragraph text-secondary list-disc ml-5 space-y-1">
            <li>Real-time shipment tracking across Europe</li>
            <li>API integrations with 3PL providers</li>
            <li>Smart analytics for logistics optimization</li>
          </ul>
        </div>

      </div>
  </div>
</div>
