<!-- our Ecommerce solution section start -->

<div class="bg-[#FFFFFF] py-12">
  <div class="container mx-auto px-8">
    <div class="py-5">
      <h5
        class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center"
      >
        Our E-commerce Solutions
      </h5>
      <div class="py-5 none lg:flex justify-between items-center gap-5">
        <h1 class="text-3xl md:text-4xl font-medium w-full lg:w-[500px]">
          Build, Scale & Globalize Your Online Business
        </h1>
        <p class="text-md text-[#44464A] w-full lg:w-[650px]">
          We empower retailers, wholesalers, and marketplaces with end-to-end
          e-commerce platforms designed to boost sales, expand across Europe,
          and deliver frictionless customer experiences.
        </p>
      </div>
    </div>
    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 py-5">
        
        <!-- Card 1 -->
        <div class="bg-white rounded-2xl shadow-sm hover:shadow-lg transition-all duration-300 p-5 border border-gray-100">
          <img src="../../../Assets/Images/Ecommerce/scalable_marketplace.jpg" alt="Scalable Marketplaces" class="rounded-xl mb-4 w-full h-55 object-cover">
          <h3 class="text-xl font-semibold text-gray-900 mb-2">Scalable Marketplaces</h3>
          <ul class="text-gray-600 text-md list-disc ml-5 space-y-1">
            <li>Multi-vendor marketplace platforms with admin dashboards</li>
            <li>Multi-language & multi-currency support</li>
            <li>GDPR-ready for European compliance</li>
          </ul>
        </div>

        <!-- Card 2 -->
        <div class="bg-white rounded-2xl shadow-sm hover:shadow-lg transition-all duration-300 p-5 border border-gray-100">
          <img src="../../../Assets/Images/Ecommerce/AI_powered.jpg" alt="AI-Powered Personalization" class="rounded-xl mb-4 w-full h-55 object-cover">
          <h3 class="text-xl font-semibold text-gray-900 mb-2">AI-Powered Personalization</h3>
          <ul class="text-gray-600 text-md list-disc ml-5 space-y-1">
            <li>Intelligent product recommendations</li>
            <li>Automated upsell & cross-sell features</li>
            <li>Personalized shopping experiences</li>
          </ul>
        </div>

        <!-- Card 3 -->
        <div class="bg-white rounded-2xl shadow-sm hover:shadow-lg transition-all duration-300 p-5 border border-gray-100">
          <img src="../../../Assets/Images/Ecommerce/CRM.jpg" alt="CRM & Order Management" class="rounded-xl mb-4 w-full h-55 object-cover">
          <h3 class="text-xl font-semibold text-gray-900 mb-2">CRM & Order Management</h3>
          <ul class="text-gray-600 text-md list-disc ml-5 space-y-1">
            <li>Centralized CRM to manage leads, customers & vendors</li>
            <li>Real-time order tracking & payment reconciliation</li>
            <li>Integration with ERP and warehouse systems</li>
          </ul>
        </div>

        <!-- Card 4 -->
        <div class="bg-white rounded-2xl shadow-sm hover:shadow-lg transition-all duration-300 p-5 border border-gray-100">
          <img src="../../../Assets/Images/Ecommerce/secure_payment.jpg" alt="Secure Payments & Compliance" class="rounded-xl mb-4 w-full h-55 object-cover">
          <h3 class="text-xl font-semibold text-gray-900 mb-2">Secure Payments & Compliance</h3>
          <ul class="text-gray-600 text-md list-disc ml-5 space-y-1">
            <li>Multi-currency payment gateway integration</li>
            <li>Cross-border tax and invoicing solutions</li>
          </ul>
        </div>

        <!-- Card 5 -->
        <div class="bg-white rounded-2xl shadow-sm hover:shadow-lg transition-all duration-300 p-5 border border-gray-100">
          <img src="../../../Assets/Images/Ecommerce/logistics.jpg" alt="Logistics & Supply Chain Integration" class="rounded-xl mb-4 w-full h-55 object-cover">
          <h3 class="text-xl font-semibold text-gray-900 mb-2">Logistics & Supply Chain Integration</h3>
          <ul class="text-gray-600 text-md list-disc ml-5 space-y-1">
            <li>Real-time shipment tracking across Europe</li>
            <li>API integrations with 3PL providers</li>
            <li>Smart analytics for logistics optimization</li>
          </ul>
        </div>

      </div>
  </div>
</div>
