<!-- Why European Enterprises section start -->

<div class="bg-[#FFFFFF] h-auto py-12">
  <div class="container mx-auto px-8">
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-2 px-4 rounded-3xl text-center z-10"
        >
          Why European Enterprises
        </h5>
      </div>
      <div class="py-2">
        <h2 class="text-3xl md:text-4xl font-medium text-[#132028]">
        Our Approach to Future-Ready Social Platforms
        </h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 py-6">
        <div class="z-10 ">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3">
                <img
                    src="../../../Assets/Images/SocialMedia/why_img1.png"
                    alt="why_img1"
                    class="h-[50px] w-[50px] object-fit"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2">
                    From design to deployment — fully managed platform development
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3">
                <img
                    src="../../../Assets/Images/SocialMedia/why_img2.png"
                    alt="why_img2"
                    class="h-[50px] w-[50px] object-fit"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2">
                   GDPR-compliant data privacy and security
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3">
                <img
                    src="../../../Assets/Images/SocialMedia/why_img3.png"
                    alt="why_img3"
                    class="h-[50px] w-[50px] object-fit"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2">
                   AI-powered analytics for engagement optimization
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3">
                <img
                    src="../../../Assets/Images/SocialMedia/why_img4.png"
                    alt="why_img4"
                    class="h-[50px] w-[50px] object-fit"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2">
                    API integrations for ad tech, streaming, and payments
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3">
                <img
                    src="../../../Assets/Images/SocialMedia/why_img5.png"
                    alt="why_img5"
                    class="h-[50px] w-[50px] object-fit"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2">
                    Multi-language and localization support for European markets
                    </p>
                </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
