<!-- Benefits section start -->

<section class="bg-[#0094EE0F] relative z-0 py-12">
  <div class="absolute inset-y-0 top-0 left-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-1.png"
    alt="mission-background"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="absolute inset-y-0 top-0 right-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-2.png"
    alt="mission-background-2"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="container mx-auto px-8 relative z-20">
      
      <!-- Title -->
      <h5 class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-2 px-4 rounded-3xl text-center">
        Benefits
      </h5>

      <!-- Header with nav -->
      <div class="none lg:flex justify-between py-5 mt-2 items-center z-10 gap-10">
        <h2 class="text-3xl md:text-4xl font-medium text-[#132028] w-full lg:w-[800px]">Why Healthcare Enterprises Across the Globe Trust Transcodezy</h2>
        <div class="flex justify-between items-center w-full pt-5">
        <p class="text-md text-[#44464A] w-full lg:w-[580px] pt-4">We don’t just build healthcare platforms — we create secure, compliant, 
            and patient-focused ecosystems that help providers deliver better care while optimizing operations.</p>
        <div class="hidden lg:flex gap-6 z-10">
          <button
            id="prevBtn"
            class="w-[50px] h-[50px] border border-[#132028] flex justify-center items-center rounded-full disabled:opacity-40"
          >
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <button
            id="nextBtn"
            class="w-[50px] h-[50px] border border-[#132028] flex justify-center items-center rounded-full disabled:opacity-40"
          >
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
        </div>
      </div>

      <!-- Swiper -->
      <div class="swiper mt-6 z-10">
        <div class="swiper-wrapper">

          <!-- Card 1 -->
          <div class="swiper-slide bg-white border-2 border-[#1320281F] p-6 rounded-2xl w-full  h-[200px] lg:h-[260px] hover:scale-90 duration-700 cursor-pointer hover:border hover:border-primary">
            <div class="mb-2 ">
                <img src="../../../Assets/Images/Healthcare/benefit_img1.png" alt="Regulatory Compliance" class="h-[50px] w-[50px]"/>
            </div>
              <div class="pt-3 w-full xl:w-[220px]">
                <h2 class="text-xl font-medium">Regulatory Compliance</h2>
                <p class="text-sm text-[#44464A]">GDPR & HIPAA certified workflows Multi-layer encryption for sensitive patient data</p>
              </div>
          </div>

          <!-- Card 2 -->
          <div class="swiper-slide bg-white border-2 border-[#1320281F] p-6 rounded-2xl w-full h-[200px] lg:h-[260px] hover:scale-90 duration-700 cursor-pointer hover:border hover:border-primary">
            <div class="mb-2 ">
                <img src="../../../Assets/Images/Healthcare/benefit_img2.png" alt="Improved Patient Engagement" class="h-[50px] w-[50px] "/>
            </div>
              <div class="pt-3 w-full xl:w-[200px]">
                <h2 class="text-xl font-medium">Improved Patient Engagement</h2>
                <p class="text-sm text-[#44464A]">Self-service portals & 24/7 teleconsultations Automated appointment reminders via SMS/email</p>
              </div>
          </div>

          <!-- Card 3 -->
          <div class="swiper-slide bg-white border-2 border-[#1320281F] p-6 rounded-2xl w-full  h-[200px] lg:h-[260px] hover:scale-90 duration-700 cursor-pointer hover:border hover:border-primary">
            <div class="mb-2">
                <img src="../../../Assets/Images/Healthcare/benefit_img3.png" alt="Operational Efficiency" class="h-[50px] w-[50px] "/>
            </div>
              <div class="pt-3 w-full xl:w-[220px]">
                <h2 class="text-xl font-medium">Operational Efficiency</h2>
                <p class="text-sm text-[#44464A]">Automated workflows for hospitals CRM-driven coordination between departments</p>
              </div>
          </div>

          <!-- Card 4 -->
          <div class="swiper-slide bg-white border-2 border-[#1320281F] p-6 rounded-2xl w-full  h-[200px] lg:h-[260px] hover:scale-90 duration-700 cursor-pointer hover:border hover:border-primary">
            <div class="mb-2">
                <img src="../../../Assets/Images/Healthcare/benefit_img4.png" alt="Computer Vision & Image Recognition" class="h-[50px] w-[50px] "/>
            </div>
              <div class="pt-3 w-full xl:w-[220px]">
                <h2 class="text-xl font-medium">Scalable Digital Platforms</h2>
                <p class="text-sm text-[#44464A]">Designed for large hospitals & international healthcare groups Cloud-native & multilingual accessibility</p>
              </div>
          </div>

          <!-- Card 5 -->
          <div class="swiper-slide bg-white border-2 border-[#1320281F] p-6 rounded-2xl w-full  h-[200px] lg:h-[260px] hover:scale-90 duration-700 cursor-pointer hover:border hover:border-primary">
            <div class="mb-2">
                <img src="../../../Assets/Images/Healthcare/benefit_img1.png" alt="Regulatory Compliance" class="h-[50px] w-[50px]"/>
            </div>
              <div class="pt-3 w-full xl:w-[220px]">
                <h2 class="text-xl font-medium">Regulatory Compliance</h2>
                <p class="text-sm text-[#44464A]">GDPR & HIPAA certified workflows Multi-layer encryption for sensitive patient data</p>
              </div>
          </div>

        </div>
      </div>
       <div class="block lg:hidden flex gap-6 pt-6 relative z-10">
          <button
            id="prevBtn"
            class="w-[50px] h-[50px] border border-[#132028] flex justify-center items-center rounded-full disabled:opacity-40"
          >
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <button
            id="nextBtn"
            class="w-[50px] h-[50px] border border-[#132028] flex justify-center items-center rounded-full disabled:opacity-40"
          >
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
    </div>
    </div>
  </section>



<script>
    const swiper = new Swiper('.swiper', {
      slidesPerView: 1,
      spaceBetween: 30,
      breakpoints: {
        640: { slidesPerView: 2 },
        1024: { slidesPerView: 4 },
      },
      navigation: {
        nextEl: '#nextBtn',
        prevEl: '#prevBtn',
      },
      on: {
        slideChange: function () {
          document.getElementById('prevBtn').disabled = this.isBeginning;
          document.getElementById('nextBtn').disabled = this.isEnd;
        },
      },
    });

    // Initial state
    document.getElementById('prevBtn').disabled = true;
  </script>