<!-- Why Global Manufacturers section start -->

<div class="bg-[#FFFFFF] h-auto py-12">
  <div class="container mx-auto px-6 lg:px-12">
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-2 px-4 rounded-3xl text-center z-10"
        >
          Why Global Manufacturers
        </h5>
      </div>
      <div class="py-2">
        <h2 class="text-4xl font-medium text-[#132028]">
        Our Approach to Smart, Scalable, and Connected Factories
        </h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 py-6">
        <div class="z-10 ">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3">
                <img
                    src="../../../Assets/Images/Manufacturing/wgm_img1.png"
                    alt="wgm_img1"
                    class="h-[50px] w-[50px] object-fit"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2">
                    End-to-end ERP modernization and digital transformation
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3">
                <img
                    src="../../../Assets/Images/Manufacturing/wgm_img2.png"
                    alt="wgm_img2"
                    class="h-[50px] w-[50px] object-fit"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2">
                   OpenAI integration for automated workflows
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3">
                <img
                    src="../../../Assets/Images/Manufacturing/wgm_img3.png"
                    alt="wgm_img3"
                    class="h-[50px] w-[50px] object-fit"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2">
                   CRM implementation to manage all operations from production to payments
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3">
                <img
                    src="../../../Assets/Images/Manufacturing/wgm_img4.png"
                    alt="wgm_img4"
                    class="h-[50px] w-[50px] object-fit"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2">
                   Real-time supply chain and inventory monitoring
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3">
                <img
                    src="../../../Assets/Images/Manufacturing/wgm_img5.png"
                    alt="wgm_img5"
                    class="h-[50px] w-[50px] object-fit"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2">
                    Streamlined monetization from goods to payments
                    </p>
                </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
