<!-- Why Global Manufacturers section start -->

<div class="bg-[#FFFFFF] h-auto py-[50px] lg:py-[80px] xl:py-[100px] 2xl:py-[140px]">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div>
      <div class="py-4 lg:py-6 w-full lg:w-[500px]">
        <h5
          class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center"
        >
          Why Global Manufacturers
        </h5>
      </div>
      <div class="py-4">
        <h2 class="heading font-medium text-accent pb-4 lg:pb-15">
        Our Approach to Smart, Scalable, and Connected Factories
        </h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 xl:gap-10">
        <div class="z-10 ">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/Manufacturing/wgm_img1.png"
                    alt="wgm_img1"
                    class="h-[35px] lg:h-auto w-[35px] lg:w-auto"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2">
                    End-to-end ERP modernization and digital transformation
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/Manufacturing/wgm_img2.png"
                    alt="wgm_img2"
                    class="h-[35px] lg:h-auto w-[35px] lg:w-auto"
                />
                <div class="">
                    <p class="paragraph text-secondary">
                   OpenAI integration for automated workflows
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/Manufacturing/wgm_img3.png"
                    alt="wgm_img3"
                    class="h-[35px] lg:h-auto w-[35px] lg:w-auto"
                />
                <div class="">
                    <p class="paragraph text-secondary">
                   CRM implementation to manage all operations from production to payments
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/Manufacturing/wgm_img4.png"
                    alt="wgm_img4"
                    class="h-[35px] lg:h-auto w-[35px] lg:w-auto"
                />
                <div class="">
                    <p class="paragraph text-secondary">
                   Real-time supply chain and inventory monitoring
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/Manufacturing/wgm_img5.png"
                    alt="wgm_img5"
                    class="h-[35px] lg:h-auto w-[35px] lg:w-auto"
                />
                <div class="">
                    <p class="paragraph text-secondary">
                    Streamlined monetization from goods to payments
                    </p>
                </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
