<!-- future scope section start -->

<div class="bg-[#FFFFFF] h-auto py-12">
  <div class="container mx-auto px-8">
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-2 px-4 rounded-3xl text-center z-10"
        >
          Future Scope
        </h5>
      </div>
      <div class="none md:flex justify-between py-2">
        <h2 class="text-3xl md:text-4xl font-medium text-[#132028]">
        Future Scope in Blockchain & FinTech
        </h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 py-6">
        <div class="z-10 ">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3 group hover:border hover:border-primary duration-700 cursor-pointer">
                <img
                    src="../../../Assets/Images/Blockchain_solutions/fs_img1.png"
                    alt="fs_img1"
                    class="h-[50px] w-[50px] object-fit bg-[#0094EE0F] rounded-lg group-hover:rotate-[360deg] transition-all 0.25s ease-in-out duration-700 cursor-pointer"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2 group-hover:text-primary">
                    Central Bank Digital Currency (CBDC) Development
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3 group hover:border hover:border-primary duration-700 cursor-pointer">
                <img
                    src="../../../Assets/Images/Blockchain_solutions/fs_img2.png"
                    alt="fs_img2"
                    class="h-[50px] w-[50px] object-fit bg-[#0094EE0F] rounded-lg group-hover:rotate-[360deg] transition-all 0.25s ease-in-out duration-700 cursor-pointer"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2 group-hover:text-primary">
                    AI-Powered Fraud Detection & Risk Management
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3 group hover:border hover:border-primary duration-700 cursor-pointer">
                <img
                    src="../../../Assets/Images/Blockchain_solutions/fs_img3.png"
                    alt="fs_img3"
                    class="h-[50px] w-[50px] object-fit bg-[#0094EE0F] rounded-lg group-hover:rotate-[360deg] transition-all 0.25s ease-in-out duration-700 cursor-pointer"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2 group-hover:text-primary">
                    Cross-Border Payment Solutions
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3 group hover:border hover:border-primary duration-700 cursor-pointer">
                <img
                    src="../../../Assets/Images/Blockchain_solutions/fs_img4.png"
                    alt="fs_img4"
                    class="h-[50px] w-[50px] object-fit bg-[#0094EE0F] rounded-lg group-hover:rotate-[360deg] transition-all 0.25s ease-in-out duration-700 cursor-pointer"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2 group-hover:text-primary">
                    Decentralized Finance (DeFi) Platforms
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3 group hover:border hover:border-primary duration-700 cursor-pointer">
                <img
                    src="../../../Assets/Images/Blockchain_solutions/fs_img5.png"
                    alt="fs_img5"
                    class="h-[50px] w-[50px] object-fit bg-[#0094EE0F] rounded-lg group-hover:rotate-[360deg] transition-all 0.25s ease-in-out duration-700 cursor-pointer"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2 group-hover:text-primary">
                    NFT & Tokenization Applications
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3 group hover:border hover:border-primary duration-700 cursor-pointer">
                <img
                    src="../../../Assets/Images/Blockchain_solutions/fs_img6.png"
                    alt="FS_img6"
                    class="h-[50px] w-[50px] object-fit bg-[#0094EE0F] rounded-lg group-hover:rotate-[360deg] transition-all 0.25s ease-in-out duration-700 cursor-pointer"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2 group-hover:text-primary">
                    Blockchain Interoperability Solutions
                    </p>
                </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
