<!-- future scope section start -->

<div class="bg-[#FFFFFF] h-auto py-16 sm:py-20 lg:py-[100px]">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div>
      <div class="pb-5 lg:pb-10">
        <h5
          class="bg-[#FFFFFF0A] paragraph text-accent border border-accent w-fit py-3 px-6 rounded-[40px]"
        >
          Future Scope
        </h5>
      </div>
      <div class="none md:flex justify-between py-2">
        <h2 class="heading font-medium text-accent pb-8 lg:pb-15">
        Future Scope in Blockchain &amp; FinTech
        </h2>
      </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 xl:gap-10">
        <div class="z-10 ">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/Blockchain_solutions/fs_img1.png"
                    alt="FS_img1"
                    class="h-[40px] lg:h-auto w-[40px] lg:w-auto "
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                    Central Bank Digital Currency (CBDC) Development
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/Blockchain_solutions/fs_img2.png"
                    alt="FS_img2"
                    class="h-[40px] lg:h-auto w-[40px] lg:w-auto "
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                    AI-Powered Fraud Detection &amp; Risk Management
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/Blockchain_solutions/fs_img3.png"
                    alt="FS_img3"
                    class="h-[40px] lg:h-auto w-[40px] lg:w-auto  "
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                    Cross-Border Payment Solutions
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/Blockchain_solutions/fs_img4.png"
                    alt="FS_img4"
                    class="h-[40px] lg:h-auto w-[40px] lg:w-auto "
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                    Decentralized Finance (DeFi) Platforms
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/Blockchain_solutions/fs_img5.png"
                    alt="FS_img5"
                    class="h-[40px] lg:h-auto w-[40px] lg:w-auto "
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                    NFT &amp; Tokenization Applications
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/Blockchain_solutions/fs_img6.png"
                    alt="FS_img6"
                    class="h-[40px] lg:h-auto w-[40px] lg:w-auto "
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                    Blockchain Interoperability Solutions
                    </p>
                </div>
            </div>
        </div>
    </div>
      </div>
    </div>
  </div>
</div>

