<!-- mraket edge section start -->

<div class="bg-[#0094EE0F] relative z-0 h-auto py-12">
  <div class="container mx-auto px-8">
    <div class="absolute inset-y-0 top-0 left-0 z-10">
      <img
        src="../../../Assets/Images/mission_bg-1.png"
        alt="mission-background"
        class="h-[100%] w-[100%] object-cover"
      />
    </div>
    <div class="absolute inset-y-0 top-0 right-0 z-10">
      <img
        src="../../../Assets/Images/mission_bg-2.png"
        alt="mission-background-2"
        class="h-[100%] w-[100%] object-cover"
      />
    </div>
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
        >
          Market Edge
        </h5>
      </div>
      <div class="none md:flex justify-between py-2">
        <h2 class="text-3xl md:text-4xl font-medium text-[#132028]">
         Our Edge in European Markets
        </h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 py-6">
        <div class="z-10 ">
          <div class="cards bg-white shadow border rounded-2xl py-8 px-6 h-[250px] lg:h-[270px] xl:h-[250px]">
             <img
              src="../../../Assets/Images/Industries/compliance.png"
              alt="compliance"
              class="w-[50px] h-[50px] "
            />
            <div class="cards-content pt-4">
              <h2 class="text-xl font-medium">Compliance First</h2>
              <p class="text-md text-[#44464A] pt-2">
                GDPR and EU standards built into every solution.
              </p>
            </div>
          </div>
        </div>
        <div class="z-10">
          <div class="cards bg-white shadow border rounded-2xl h-[250px] lg:h-[270px] xl:h-[250px] py-8 px-6">
             <img
              src="../../../Assets/Images/Industries/local_exp.png"
              alt="local_exp"
              class="w-[50px] h-[50px] "
            />
            <div class="cards-content pt-4">
              <h2 class="text-xl font-medium">Local Expertise</h2>
              <p class="text-md text-[#44464A] pt-2">
                Serving businesses in the UK, Germany, France, Netherlands, Spain & Balkans.
              </p>
            </div>
          </div>
        </div>
        <div class=" z-10">
          <div class="cards bg-white shadow border rounded-2xl h-[250px] lg:h-[270px] xl:h-[250px] py-8 px-6">
             <img
              src="../../../Assets/Images/Industries/cross_industry.png"
              alt="cross_industry"
              class="w-[50px] h-[50px] "
            />
            <div class="cards-content pt-4">
              <h2 class="text-xl font-medium">Cross-Industry Experience</h2>
              <p class="text-md text-[#44464A] pt-2">
                Proven success across FinTech, Healthcare, Manufacturing, Sports, and more.
              </p>
            </div>
          </div>
        </div>
        <div class="z-10">
          <div class="cards bg-white shadow border rounded-2xl h-[250px] lg:h-[270px] xl:h-[250px] py-8 px-6">
             <img
              src="../../../Assets/Images/Industries/innovation.png"
              alt="proven-exp"
              class="w-[50px] h-[50px] "
            />
            <div class="cards-content pt-4">
              <h2 class="text-xl font-medium">Innovation at Scale</h2>
              <p class="text-md text-[#44464A] pt-2">
                Leveraging AI, blockchain, IoT, and cloud for future-ready solutions.
              </p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
