<!-- about us section start -->

<div class="bg-[#FFFFFF] py-12 mt-5">
  <div class="container mx-auto px-6 lg:px-12">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 w-full">
      <div>
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-2 px-4 rounded-3xl text-center z-10"
        >
          About Us
        </h5>
        <div class="pt-4 mt-4">
          <h1 class="text-4xl font-medium text-[#132028] w-full lg:w-[500px]">Our Blockchain & FinTech Services</h1>
          <p class="text-md text-[#44464A] w-full mt-2 w-full lg:w-[640px] mb-2">
          At Transcodezy IT Solutions Pvt. Ltd., we deliver secure, scalable, 
          and compliant blockchain and FinTech solutions for enterprises worldwide. From digital wallets to blockchain-powered platforms, 
          our team ensures reliable, innovative, and seamless financial experiences.
          </p>
          <div class="py-2">
            <div class="flex items-center gap-2 text-[#44464A] mb-2">
                <i class="fa-regular fa-circle-check"></i>
                <p class="text-[#44464A]">Blockchain Development & Smart Contracts</p>
            </div>
            <div class="flex items-center gap-2 text-[#44464A] mb-2">
                <i class="fa-regular fa-circle-check"></i>
                <p class="text-[#44464A]">Digital Banking & Wallet Solutions</p>
            </div>
            <div class="flex items-center gap-2 text-[#44464A] mb-2">
                <i class="fa-regular fa-circle-check"></i>
                <p class="text-[#44464A]">Payment Gateway Integration</p>
            </div>
            <div class="flex items-center gap-2 text-[#44464A] mb-2">
                <i class="fa-regular fa-circle-check"></i>
                <p class="text-[#44464A]">FinTech Compliance Solutions</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <img src="../../../Assets/Images/Blockchain_solutions/aboutus_img.jpg" alt="aboutus_img" class="w-[100%] h-[350px] object-cover rounded-2xl" />
      </div> 
    </div>
  </div>
</div>