<!-- about us section start -->

<div class="bg-[#FFFFFF] py-[50px] lg:py-[80px] xl:py-[100px] 2xl:py-[140px] mt-5">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 lg:gap-10 w-full items-center">
      <div>
        <h5
          class="bg-white paragraph text-accent border border-accent w-fit py-3 px-6 rounded-[40px]"
        >
          About Us
        </h5>
        <div class="mt-5 lg:mt-10">
          <h1 class="heading font-medium text-accent">AI & ML Solutions</h1>
          <p class="paragraph text-secondary font-normal w-full xl:max-w-[720px] pt-3">
          At Transcodezy IT Solutions Pvt. Ltd., we empower enterprises across Healthcare,
          FinTech, Manufacturing, E-commerce, and more to leverage AI & ML for:
          </p>
          <div class="pt-6">
            <div class="flex items-start sm:items-center gap-2 mb-2 lg:mb-3">
                <i class="fa-regular fa-circle-check text-secondary text-xl sm:text-2xl"></i>
                <p class="text-secondary paragraph">Automating workflows and business processes</p>
            </div>
            <div class="flex items-start sm:items-center gap-2 mb-2 lg:mb-3">
                <i class="fa-regular fa-circle-check text-secondary text-xl sm:text-2xl"></i>
                <p class="text-secondary paragraph">Predicting market trends and customer behavior</p>
            </div>
            <div class="flex items-start sm:items-center gap-2 mb-2 lg:mb-3">
                <i class="fa-regular fa-circle-check text-secondary text-xl sm:text-2xl"></i>
                <p class="text-secondary paragraph">Enhancing customer experience with AI-driven insights</p>
            </div>
            <div class="flex items-start sm:items-center gap-2 mb-2 lg:mb-3">
                <i class="fa-regular fa-circle-check text-secondary text-xl sm:text-2xl"></i>
                <p class="text-secondary paragraph">Ensuring GDPR and global compliance</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center lg:justify-end">
        <img src="../../../Assets/Images/AIandML/aboutus_img.jpg" alt="aboutus_img" 
        class="w-full max-w-[500px] sm:max-w-[600px] lg:max-w-none h-[260px] sm:h-[360px] lg:h-[420px] rounded-xl object-cover" />
      </div> 
    </div>
  </div>
</div>