<!-- about us section start -->

<div class="bg-[#FFFFFF] py-12 mt-5">
  <div class="container mx-auto px-6 lg:px-12">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 w-full">
      <div>
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-2 px-4 rounded-3xl text-center z-10"
        >
          About Us
        </h5>
        <div class="pt-4 mt-4">
          <h1 class="text-4xl font-medium text-[#132028] w-full lg:w-[500px]">AI & ML Solutions</h1>
          <p class="text-md text-[#44464A] w-full mt-2 w-full lg:w-[640px] mb-2">
          At Transcodezy IT Solutions Pvt. Ltd., we empower enterprises across Healthcare,
          FinTech, Manufacturing, E-commerce, and more to leverage AI & ML for:
          </p>
          <div class="py-2">
            <div class="flex items-center gap-2 text-[#44464A] mb-2">
                <i class="fa-regular fa-circle-check"></i>
                <p class="text-[#44464A]">Automating workflows and business processes</p>
            </div>
            <div class="flex items-center gap-2 text-[#44464A] mb-2">
                <i class="fa-regular fa-circle-check"></i>
                <p class="text-[#44464A]">Predicting market trends and customer behavior</p>
            </div>
            <div class="flex items-center gap-2 text-[#44464A] mb-2">
                <i class="fa-regular fa-circle-check"></i>
                <p class="text-[#44464A]">Enhancing customer experience with AI-driven insights</p>
            </div>
            <div class="flex items-center gap-2 text-[#44464A] mb-2">
                <i class="fa-regular fa-circle-check"></i>
                <p class="text-[#44464A]">Ensuring GDPR and global compliance</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <img src="../../../Assets/Images/AIandML/aboutus_img.jpg" alt="aboutus_img" class="w-[100%] h-[350px] object-cover rounded-2xl" />
      </div> 
    </div>
  </div>
</div>