<!-- blogs section start -->
<section class="bg-[#0094EE0F] relative z-0 py-12">
  <div class="container mx-auto px-6 lg:px-12">
    <div class="absolute inset-y-0 top-0 left-0 z-10">
      <img
        src="../../../Assets/Images/mission_bg-1.png"
        alt="mission-background"
        class="h-[100%] w-[100%] object-cover"
      />
    </div>
    <div class="absolute inset-y-0 top-0 right-0 z-10">
      <img
        src="../../../Assets/Images/mission_bg-2.png"
        alt="mission-background-2"
        class="h-[100%] w-[100%] object-cover"
      />
    </div>
    <!-- Title -->
    <span
      class="border border-[#132028] text-[#132028] py-2 px-4 rounded-3xl text-sm"
      >Blog & Insights</span
    >
    <div class="flex justify-between items-center py-6">
      <div>
        <h2 class="text-3xl md:text-4xl font-mdium mt-3"> Stay Ahead in FinTech: Insights, Trends & Tips</h2>
      </div>

      <!-- Nav Buttons -->
      <div class="hidden md:flex gap-3 z-10">
        <button
          class="blog-prev w-[50px] h-[50px] border border-[#132028] rounded-full flex justify-center items-center "
        >
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button
          class="blog-next w-[50px] h-[50px] border border-[#132028] rounded-full flex justify-center items-center"
        >
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>

    <!-- Swiper -->
    <div class="swiper blogSwiper z-10 py-5">
      <div class="swiper-wrapper">
        <!-- Card 1 -->
        <div class="swiper-slide">
          <div
            class="bg-white border border-[#1320281A] h-[400px] md:h-[430px] lg:h-[480px] xl:h-[410px] shadow-md rounded-2xl overflow-hidden p-4"
          >
            <img
              src="../../../Assets/Images/FinTech/blog_img1.jpg"
              alt="blog_img1"
              class="w-full h-56 object-cover rounded-xl"
            />
            <div class="py-2">
              <h3 class="font-medium text-[#132028] text-xl pr-2">
                The Future of FinTech in Europe
              </h3>
              <p class="text-[#555] text-md pt-2">
                Digital Banks & Blockchain Adoption Discover how Europe’s financial institutions are scaling with blockchain and AI-driven compliance.
              </p>
              <button
              class="text-[#44464A] text-md font-medium pt-3 group hover:text-primary"
            >
              <a herf="#" class="flex justify-start items-center gap-2"
                >Read More
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                  ><i class="fa-solid fa-arrow-right"></i></span
              ></a>
            </button>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="swiper-slide">
          <div
            class="bg-white border border-[#1320281A]  h-[400px] md:h-[430px] lg:h-[480px] xl:h-[410px] shadow-md rounded-2xl overflow-hidden p-4"
          >
            <img
              src="../../../Assets/Images/FinTech/blog_img2.jpg"
              class="w-full h-56 object-cover rounded-xl"
            />
            <div class="py-2">
              <h3 class="font-medium text-[#132028] text-xl">
                PSD2 Compliance: Transforming European Banking
              </h3>
              <p class="text-[#555] text-md pt-2">
                Learn how PSD2 regulations are reshaping payment services and digital banking experiences across Europe.
              </p>
              <button
              class="text-[#44464A] text-md font-medium pt-3 group hover:text-primary"
            >
              <a herf="#" class="flex justify-start items-center gap-2"
                >Read More
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                  ><i class="fa-solid fa-arrow-right"></i></span
              ></a>
            </button>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="swiper-slide">
          <div
            class="bg-white border border-[#1320281A] h-[400px] md:h-[430px] lg:h-[480px] xl:h-[410px] shadow-md rounded-2xl overflow-hidden p-4"
          >
            <img
              src="../../../Assets/Images/FinTech/blog_img3.jpg"
              alt="blog_img3"
              class="w-full h-56 object-cover rounded-xl"
            />
            <div class="py-2">
              <h3 class="font-medium text-[#132028] text-xl">
                AI-Powered Fraud Detection in Modern Finance
              </h3>
              <p class="text-[#555] text-md pt-2">
                Explore how AI and machine learning are helping banks detect fraud in real time and protect customer data.
              </p>
              <button
              class="text-[#44464A] text-md font-medium pt-3 group hover:text-primary"
            >
              <a herf="#" class="flex justify-start items-center gap-2"
                >Read More
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                  ><i class="fa-solid fa-arrow-right"></i></span
              ></a>
            </button>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="swiper-slide">
          <div
            class="bg-white border border-[#1320281A] h-[400px] md:h-[430px] lg:h-[480px] xl:h-[410px] shadow-md rounded-2xl overflow-hidden p-4"
          >
            <img
              src="../../../Assets/Images/FinTech/blog_img1.jpg"
              alt="blog_img1"
              class="w-full h-56 object-cover rounded-xl"
            />
            <div class="py-2">
              <h3 class="font-medium text-[#132028] text-xl pr-2">
                The Future of FinTech in Europe
              </h3>
              <p class="text-[#555] text-md pt-2">
                Digital Banks & Blockchain Adoption Discover how Europe’s financial institutions are scaling with blockchain and AI-driven compliance.
              </p>
              <button
              class="text-[#44464A] text-md font-medium pt-3 group hover:text-primary"
            >
              <a herf="#" class="flex justify-start items-center gap-2"
                >Read More
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                  ><i class="fa-solid fa-arrow-right"></i></span
              ></a>
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block md:hidden flex gap-3 pt-4 md:pt-0 relative z-10">
        <button
          class="blog-prev w-[50px] h-[50px] border border-[#132028] rounded-full flex justify-center items-center hover:bg-[#132028] hover:text-white transition"
        >
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button
          class="blog-next w-[50px] h-[50px] border border-[#132028] rounded-full flex justify-center items-center hover:bg-[#132028] hover:text-white transition"
        >
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
  </div>
</section>

<script>
  const blogSwiper = new Swiper(".blogSwiper", {
    slidesPerView: 3,
    spaceBetween: 25,
    loop: false,
    navigation: {
      nextEl: ".blog-next",
      prevEl: ".blog-prev",
    },
    breakpoints: {
      0: { slidesPerView: 1 },
      640: { slidesPerView: 2 },
      1024: { slidesPerView: 3 },
    },
    on: {
      slideChange: function () {
        const prev = document.querySelector(".blog-prev");
        const next = document.querySelector(".blog-next");

        // Disable prev button at start
        if (this.isBeginning) {
          prev.classList.add("swiper-button-disabled");
        } else {
          prev.classList.remove("swiper-button-disabled");
        }

        // Disable next button at end
        if (this.isEnd) {
          next.classList.add("swiper-button-disabled");
        } else {
          next.classList.remove("swiper-button-disabled");
        }
      },
    },
  });

  // Initialize disabled state
  const prev = document.querySelector(".blog-prev");
  prev.classList.add("swiper-button-disabled");
</script>
