<!-- future scope section start -->

<div class="bg-[#0094EE0F] relative z-0 h-auto py-16 sm:py-20 lg:py-[100px]">
  <div class="absolute inset-y-0 top-0 left-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-1.png"
    alt="mission-background"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="absolute inset-y-0 top-0 right-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-2.png"
    alt="mission-background-2"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-20">
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center z-10"
        >
          Future Scope 
        </h5>
      </div>
      <div class="none md:flex justify-between py-2">
        <h2 class="heading font-medium text-accent pb-8 lg:pb-15">
        Future Scope in UI/UX &amp; Product Design
        </h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 xl:gap-10">
        <div class="z-10 ">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/UiUxDesign/future_img1.png"
                    alt="FS_img1"
                    class="h-[35px] lg:h-auto w-[35px] lg:w-auto "
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                    Voice &amp; Gesture Interfaces for next-generation interaction.
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/UiUxDesign/future_img2.png"
                    alt="FS_img2"
                    class="h-[35px] lg:h-auto w-[35px] lg:w-auto "
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                    AR/VR Product Design for immersive experiences.
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/UiUxDesign/future_img3.png"
                    alt="FS_img3"
                    class="h-[35px] lg:h-auto w-[35px] lg:w-auto  "
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                    AI-powered Personalized UX for global platforms.
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/UiUxDesign/future_img4.png"
                    alt="FS_img4"
                    class="h-[35px] lg:h-auto w-[35px] lg:w-auto "
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                    Inclusive &amp; Accessibility-First Design to meet compliance.
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-white p-6 border border-[#13202821] h-[108px] rounded-2xl lg:rounded-3xl flex flex-row items-center gap-3">
                <img
                    src="../../../Assets/Images/UiUxDesign/future_img5.png"
                    alt="FS_img5"
                    class="h-[35px] lg:h-auto w-[35px] lg:w-auto "
                />
                <div class="">
                    <p class="paragraph text-secondary ">
                    Motion Design &amp; Micro-interactions for engaging product journeys.
                    </p>
                </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
