<!-- future scope section start -->

<div class="bg-[#0094EE0F] relative z-0 h-auto py-12">
  <div class="container mx-auto px-6 lg:px-12">
    <div class="absolute inset-y-0 top-0 left-0 z-10">
      <img
        src="../../../Assets/Images/mission_bg-1.png"
        alt="mission-background"
        class="h-[100%] w-[100%] object-cover"
      />
    </div>
    <div class="absolute inset-y-0 top-0 right-0 z-10">
      <img
        src="../../../Assets/Images/mission_bg-2.png"
        alt="mission-background-2"
        class="h-[100%] w-[100%] object-cover"
      />
    </div>
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-2 px-4 rounded-3xl text-center z-10"
        >
          Future Scope 
        </h5>
      </div>
      <div class="none md:flex justify-between py-2">
        <h2 class="text-4xl font-medium text-[#132028]">
        Future Scope in UI/UX & Product Design
        </h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 py-6">
        <div class="z-10 ">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3 group hover:border hover:border-primary duration-700 cursor-pointer">
                <img
                    src="../../../Assets/Images/UiUxDesign/future_img1.png"
                    alt="future_img1"
                    class="h-[50px] w-[60px] object-fit bg-[#0094EE0F] rounded-lg group-hover:rotate-[360deg] transition-all 0.25s ease-in-out duration-700 cursor-pointer"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2 group-hover:text-primary">
                    Voice & Gesture Interfaces for next-generation interaction.
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3 group hover:border hover:border-primary duration-700 cursor-pointer">
                <img
                    src="../../../Assets/Images/UiUxDesign/future_img2.png"
                    alt="future_img2"
                    class="h-[50px] w-[60px] object-fit bg-[#0094EE0F] rounded-lg group-hover:rotate-[360deg] transition-all 0.25s ease-in-out duration-700 cursor-pointer"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2 group-hover:text-primary">
                    AR/VR Product Design for immersive experiences.
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3 group hover:border hover:border-primary duration-700 cursor-pointer">
                <img
                    src="../../../Assets/Images/UiUxDesign/future_img3.png"
                    alt="future_scope_img3"
                    class="h-[50px] w-[60px] object-fit bg-[#0094EE0F] rounded-lg group-hover:rotate-[360deg] transition-all 0.25s ease-in-out duration-700 cursor-pointer"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2 group-hover:text-primary">
                    AI-powered Personalized UX for global platforms.
                    </p>
                </div>
            </div>
        </div>
        <div class="z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3 group hover:border hover:border-primary duration-700 cursor-pointer">
                <img
                    src="../../../Assets/Images/UiUxDesign/future_img4.png"
                    alt="future_img4"
                    class="h-[50px] w-[60px] object-fit bg-[#0094EE0F] rounded-lg group-hover:rotate-[360deg] transition-all 0.25s ease-in-out duration-700 cursor-pointer"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2 group-hover:text-primary">
                    Inclusive & Accessibility-First Design to meet compliance.
                    </p>
                </div>
            </div>
        </div>
        <div class=" z-10">
            <div class="bg-[#FFFFFF] p-5 border border-[#13202821] rounded-3xl flex justify-start items-center gap-3 group hover:border hover:border-primary duration-700 cursor-pointer">
                <img
                    src="../../../Assets/Images/UiUxDesign/future_img5.png"
                    alt="future_scope_img5"
                    class="h-[50px] w-[60px] object-fit bg-[#0094EE0F] rounded-lg group-hover:rotate-[360deg] transition-all 0.25s ease-in-out duration-700 cursor-pointer"
                />
                <div class="">
                    <p class="text-md text-[#44464A] pt-2 group-hover:text-primary">
                    Motion Design & Micro-interactions for engaging product journeys.
                    </p>
                </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
