<!-- industries section start -->

<div class="bg-[#ffffff] py-10">
  <div class="container mx-auto px-6 lg:px-12">
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
        >
          Industries
        </h5>
      </div>
      <div>
        <h2 class="text-4xl font-medium text-[#132028]">
          Industries We Empower in Europe
        </h2>
      </div>
      <div class="py-8 grid grid-cols-1 lg:grid-cols-2 gap-10">
        <div>
            <img src="../../../Assets/Images/fintech_industries.jpg" alt="fintech" class="h-[300px] w-[100%] rounded-2xl object-cover"/>
        </div>
        <div class="w-full">
            <div class="py-2 border-b border-[#44464A]">
                <h2 class="text-lg font-medium text-[#132028]">FinTech</h2>
                <p class="text-sm text-[#44464A]">Secure banking apps, digital wallets, blockchain</p>
            </div>
             <div class="py-2 border-b">
                <h2 class="text-lg font-medium text-[#132028]">Manufacturing</h2>
                <p class="text-sm text-[#44464A]">IoT & smart ERP systems</p>
            </div>
             <div class="py-2 border-b">
                <h2 class="text-lg font-medium text-[#132028]">Healthcare</h2>
                <p class="text-sm text-[#44464A]">GDPR-compliant telemedicine & platforms</p>
            </div>
             <div class="py-2 border-b">
                <h2 class="text-lg font-medium text-[#132028]">E-commerce</h2>
                <p class="text-sm text-[#44464A]">Scalable digital marketplaces</p>
            </div>
            <div class="py-2 border-b">
                <h2 class="text-lg font-medium text-[#132028]">Education Tech</h2>
                <p class="text-sm text-[#44464A]">Learning platforms & LMS solutions</p>
            </div>
            <div class="py-2 border-b">
                <h2 class="text-lg font-medium text-[#132028]">Sports Tech</h2>
                <p class="text-sm text-[#44464A]">Analytics dashboards & fan engagement</p>
            </div>
            <div class="py-2 border-b">
                <h2 class="text-lg font-medium text-[#132028]">Social Media</h2>
                <p class="text-sm text-[#44464A]">High-performance community platforms</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
