<!-- hero section start -->

<div
  class="hero_sec_wrap relative z-0 bg-[#1320280A] pt-12 lg:pt-23 mt-8 lg:mt-0"
>
  <div class="">
    <div class="absolute inset-0 top-0 left-0 ">
      <img
        src="../../../Assets/Images/hero_sec_bg-design.png"
        alt="banner-bg-design"
        class="w-[100%] h-[100%] object-fit "
      />
    </div>
    <div class="hero_sec_con none lg:flex justify-between items-center z-10">
      <div
        class="flex flex-col items-center lg:items-start text-center lg:text-start mx-auto w-auto lg:w-[40%] gap-[19px] py-6 px-2 lg:px-0 lg:py-0"
      >
       <div class="w-auto py-1 px-4 border border-[#44464A3D] rounded-3xl bg-[#1320280A] z-10">
            <a href="#" class="font-medium text-sm text-[#132028]">Transcodezy team delivering IT solutions across Europe</a>
        </div>
        <h1 class="text-4xl font-medium mt-6 lg:mt-0 z-10">
          Your Trusted IT Solutions Partner
          <span class="text-primary">Across Europe</span>
        </h1>
        <p class="text-md leading-[24.48px] py-2 text-[#44464A] z-10">
          Secure, GDPR-compliant custom software, cloud and AI services across
          The Europe & Globe From regulatory compliance to scalable engineering
          — we deliver solutions that drive growth.
        </p>
        <div class="flex items-center gap-5 z-10">
          <div class="w-auto py-2 px-4 rounded-3xl z-10 bg-primary ">
            <a href="#" class="font-normal text-md text-white">Book a Free Consultation</a>
          </div>
          <div class="w-auto py-2 px-4 border border-[#44464A] rounded-3xl z-10">
            <a href="#" class="font-normal text-md text-[#44464A]">Explore Our Services</a>
          </div>
        </div>
      </div>
      <!-- <div
        class="hero-img bg-primary w-full lg:w-[50%] py-8 z-10 rounded-tl-[50px] rounded-br-[50px] shadow-lg shadow-black transform hover:scale-110 transition duration-300 ease-in-out"
      >
        <img
          src="/Assets/Images/hero_img1.jpg"
          alt="banner-image"
          class="w-[100%] h-[100vh] lg:h-[80vh] object-cover rounded-tl-[50px] rounded-br-[50px] "
        />
      </div> -->
      <div class="hero-img w-[45%] relative z-0">
        <img src="../../../Assets/Images/hero_banner_img.png" alt="hero-banner"  class="w-[100%] h-[100%] object-cover"/>
        <div class="absolute inset-y-0 top-0 right-6 z-10">
          <img src="../../../Assets/Images/hero_banner-border.png" alt="hero-banner-border" class="w-[100%] h-[100%] object-cover" />
        </div>
      </div>
    </div>
  </div>
</div>
