<!-- hero section start -->

<div class="hero_sec_wrap relative z-0 bg-[#1320280A] pt-12 lg:pt-18 xl:pt-23 mt-8 lg:pt-12 xl:mt-0 ">
  <div class="absolute inset-0 top-0 left-0 z-10">
    <img src="../../../Assets/Images/hero_sec_bg-design.png" alt="banner-bg-design"
      class="w-[auto] h-[100%] object-cover " />
  </div>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-10">
    <div
      class="hero_sec_con flex flex-col lg:flex-row justify-between items-start lg:items-center z-10 py-10 xl:py-0 h-[100%] xl:h-[935px]">
    <div class="flex flex-col items-start text-left lg:items-start lg:text-left w-auto xl:w-[60%] gap-3 w-full max-w-[875px]">
      <div class="w-auto py-3 px-6 border border-[#44464A3D] rounded-[40px] lg:rounded-3xl bg-[#1320280A] z-10 ">
        <a href="#" class="font-medium paragraph text-accent text-left">Transcodezy team delivering IT solutions across
          Europe</a>
      </div>
    
      <h1
        class="text-[38px] leading-[38px] sm:text-[36px] sm:leading-[44px] md:text-[42px] md:leading-[50px] lg:text-[50px] lg:leading-[55px] xl:text-[56px] xl:leading-[70px] font-normal z-10 text-left">
        Your Trusted IT Solutions
        <span class="inline-block md:block lg:inline-block">Partner <span class="text-primary font-medium">Across Europe</span></span>
      </h1>
    
      <p class="paragraph py-2 text-secondary z-10 w-full lg:w-[628px] text-left">
        Secure, GDPR-compliant custom software, cloud and AI services across
        The Europe & Globe
        <span class="block">
          From regulatory compliance to scalable engineering
          &mdash; we deliver solutions that drive growth.
        </span>
      </p>
    
      <div class="sm:flex items-start sm:items-center gap-5 z-10">
        <div class="w-auto py-3 px-6 rounded-[40px] z-10 bg-primary hover:scale-110 duration-500 cursor-pointer">
          <a href="/book_a_free_consultation.html" class="font-medium paragraph text-white">Book a Free
            Consultation</a>
        </div>
        <div
          class="w-fit py-3 px-6 border border-secondary rounded-[40px] z-10 mt-3 sm:mt-0 hover:scale-110 duration-500 hover:border hover:border-primary cursor-pointer">
          <a href="/software-services.html" class="font-medium paragraph text-secondary">Explore Our Services</a>
        </div>
      </div>
    </div>

    </div>
    <div class="block xl:hidden pb-8">
      <img src="../../../Assets/Images/hero_img1.jpg" alt="hero_img1" class="h-[100%] w-[100%] rounded-2xl" />
    </div>
  </div>
  <div class="hero-img absolute z-0 right-0 top-0  hidden xl:block ">
    <img src="../../../Assets/Images/hero_banner_img.png" alt="hero-banner" class="w-[100%] h-[100%] object-cover" />
    <div class="absolute inset-y-0 top-0 right-6 z-10">
      <img src="../../../Assets/Images/hero_banner-border.png" alt="hero-banner-border"
        class="w-[100%] h-[100%] object-cover" />
    </div>
  </div>
</div>


<!-- hero section end -->
