<!-- problem and solution section start -->
<div class="bg-[#ffffff] py-[50px] lg:py-[70px] xl:py-[90px] 2xl:py-[120px]">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="py-6">
            <div class="text-accent border border-accent w-fit py-3 px-6 rounded-[40px] paragraph text-center">
                Problem & Solution
            </div>
            <h1 class="heading font-medium text-accent pt-6">Our Problem & Solution</h1>
        </div>

        <!-- Real-Time Chat System Section -->
        <div class="flex flex-col lg:flex-row mb-5 lg:mb-10 gap-10 lg:gap-20">
            <div class="w-full ">
                <img src="../../../Assets/Images/ProjectDetails/realtime_chat_img.jpg" alt="Chat System" class="w-full h-[400px] object-cover rounded-[24px] ">
            </div>
            <div class="w-full flex flex-col gap-8">
                <div class="text-accent border border-accent w-fit py-3 px-6 rounded-[40px] paragraph text-center">
                    <span>Real-Time Chat System</span>
                </div>
                <div>
                <h2 class="text-2xl font-medium text-accent">Problem</h2>
                <p class="text-secondary paragraph pt-2">
                    The platform required a reliable and scalable real-time chat feature but building one from
                    scratch was resource-intensive.
                </p>
                </div>
                <div>
                <h2 class="text-2xl font-medium text-accent ">Solution</h2>
                <p class="text-secondary paragraph pt-2">
                    Integrated a well-structured open-source Mattermost chat system, ensuring smooth,
                    scalable, and reliable communication.
                </p>
                </div>
            </div>
        </div>

        <!-- Access Control Section -->
        <div class="flex flex-col-reverse lg:flex-row mb-5 lg:mb-10  gap-10 lg:gap-20">
            <div class="w-full flex flex-col gap-8">
                <div class="text-accent border border-accent w-fit py-3 px-6 rounded-[40px] paragraph text-center">
                    <span>Access Control</span>
                </div>
                <div>
                <h2 class="text-2xl font-medium text-accent">Problem</h2>
                <p class="text-secondary paragraph pt-2">
                    Different types of users (admins, moderators, members) needed role-based permissions
                    across both the frontend and backend.
                </p>
                </div>
                <div>
                <h2 class="text-2xl font-medium text-accent">Solution</h2>
                <p class="text-secondary paragraph pt-2">
                    Designed and implemented a scalable access control mechanism with role-based rules
                    applied at the UI level (feature visibility) and server level (API/data security).
                </p>
                </div>
            </div>
            <div class="w-full ">
                <img src="../../../Assets/Images/ProjectDetails/access_control.jpg" alt="Access Control" class="w-full h-[400px] object-cover rounded-[24px] ">
            </div>
        </div>
         <div class="flex flex-col lg:flex-row mb-5 lg:mb-10 gap-10 lg:gap-20">
            <div class="w-full ">
                <img src="../../../Assets/Images/ProjectDetails/advance_branding_img.jpg" alt="Chat System" class="w-full h-[400px] object-cover rounded-[24px] ">
            </div>
            <div class="w-full flex flex-col gap-8">
                <div class="text-accent border border-accent w-fit py-3 px-6 rounded-[40px] paragraph text-center">
                    <span>Advanced Branding</span>
                </div>
                <div>
                <h2 class="text-2xl font-medium text-accent">Problem</h2>
                <p class="text-secondary paragraph pt-2">
                    Community owners wanted to fully customize their interface, such as header colors, fonts, and other branding elements.
                </p>
                </div>
                <div>
                <h2 class="text-2xl font-medium text-accent">Solution</h2>
                <p class="text-secondary paragraph pt-2">
                   Built a branding customization engine where preferences are stored as JSON in the database and dynamically applied to CSS variables on app load, giving each community a unique look and feel.
                </p>
                </div>
            </div>
        </div>
         <div class="flex flex-col-reverse lg:flex-row gap-10 lg:gap-20">
            <div class="w-full flex flex-col gap-8">
                <div class="text-accent border border-accent w-fit py-3 px-6 rounded-[40px] paragraph text-center">
                    <span>Access Control</span>
                </div>
                <div>
                <h2 class="text-2xl font-medium text-accent">Problem</h2>
                <p class="text-secondary paragraph pt-2">
                    The client needed to monetize communities so that only paid users could join, while still keeping the existing subscription system intact.
                </p>
                </div>
                <div>
                <h2 class="text-2xl font-medium text-accent">Solution</h2>
                <p class="text-secondary paragraph pt-2">
                   Created custom Stripe-based order flows at the community level, enabling seamless payment-based access and community-specific monetization.
                </p>
                </div>
            </div>
            <div class="w-full ">
                <img src="../../../Assets/Images/ProjectDetails/monetization_img.jpg" alt="Access Control" class="w-[100%] h-[400px] object-cover rounded-[24px]">
            </div>
        </div>

  </div>
</div>
