<!-- footer section start -->

<footer class="bg-[#132028] py-2">
  <div class="container px-8 mx-auto">
    <div class="footer_wrap flex flex-col items-center">
      <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-x-2 pt-[50px]">
        <div class="py-2">
          <img
            src="../../Assets/Images/logo1.png"
            alt="logo"
            class="h-[75px] w-[75px]"
          />
          <p class="pt-2 text-[#FFFFFF]">Your Trusted IT Solutions Partner Across Europe</p>
        </div>
        <div class="py-2">
          <h2 class="text-xl font-semibold pb-2 text-primary">Industries</h2>
          <div class="flex flex-col gap-2 text-md">
            <a href="#" class="text-[#FFFFFF]">Fintech</a>
            <a href="#" class="text-[#FFFFFF]">Manufacturing</a>
            <a href="#" class="text-[#FFFFFF]">Healthcare</a>
            <a href="#" class="text-[#FFFFFF]">E-commerce</a>
            <a href="#" class="text-[#FFFFFF]">E-learning</a>
            <a href="#" class="text-[#FFFFFF]">Sports Tech</a>
            <a href="#" class="text-[#FFFFFF]">Social Media</a>
          </div>
        </div>
        <div class="py-2">
          <h2 class="text-xl font-semibold pb-2 text-primary">Service</h2>
          <div class="flex flex-col gap-2 text-md">
            <a href="#" class="text-[#FFFFFF]">Custom Software</a>
            <a href="#" class="text-[#FFFFFF]">Cloud & DevOps</a>
            <a href="#" class="text-[#FFFFFF]">AI & ML</a>
            <a href="#" class="text-[#FFFFFF]">Blockchain & Fintech </a>
            <a href="#" class="text-[#FFFFFF]">UI/UX Design</a>
            <a href="#" class="text-[#FFFFFF]">Digital Transformation</a>
          </div>
        </div>
        <div class="py-2">
          <h2 class="text-xl font-semibold pb-2 text-primary">Company</h2>
          <div class="flex flex-col gap-2 text-md">
            <a href="#" class="text-[#FFFFFF]">About Us</a>
            <a href="#" class="text-[#FFFFFF]">Insights & Blogs</a>
            <a href="#" class="text-[#FFFFFF]">Contact</a>
            <a href="#" class="text-[#FFFFFF]">Privacy Policy</a>
          </div>
        </div>
        <div class="py-2">
          <h2 class="text-xl font-semibold pb-2 text-primary">Careers</h2>
          <div class="flex flex-col gap-2 text-md">
            <a href="#" class="text-[#FFFFFF]">Our Culture</a>
            <a href="#" class="text-[#FFFFFF]">Open Position</a>
          </div>
        </div>
        <div class="py-2">
          <h2 class="text-xl font-semibold pb-2 text-primary">Contact Us</h2>
          <div class="flex flex-col gap-2 text-md">
            <a href="#">
              <div class="flex items-center gap-4">
                <p class="text-[#FFFFFF]"><i class="fa-solid fa-location-dot"></i></p>
                <p class="text-[#FFFFFF]">
                  301, Ambika Pinnacle, beside Lajamni Chowk, Mota Varachha,
                  Surat - 394101
                </p>
              </div>
            </a>
            <a href="#">
              <div class="flex items-center gap-4">
                <p class="text-[#FFFFFF]"><i class="fa-solid fa-phone"></i></p>
                <p class="text-[#FFFFFF]">+91 9510249833 ,+91 9879868908</p>
              </div>
            </a>
            <a href="#">
              <div class="flex items-center gap-4">
                <p class="text-[#FFFFFF]"><i class="fa-regular fa-envelope"></i></p>
                <p class="text-[#FFFFFF]">info@transcodesolution.com</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom mt-5">
        <div class="border-t border-[#FFFFFF] mb-4">
          <div class="none md:flex justify-between items-center pt-2">
            <p class="text-sm text-[#FFFFFF]">
              © 2025 Transcodezy IT Solutions Pvt. Ltd. All Rights Reserved.
            </p>
            <div class="flex items-center gap-3">
                <div class="text-2xl text-[#FFFFFF] cursor-pointer">
                    <a href="#">
                        <img src="../../Assets/Images/insta_icon.png" alt="instagram"  class="h-[30px] w-[30px] object-cover"/>
                    </a>
                </div>
                <div class="text-2xl text-[#FFFFFF]  cursor-pointer">
                    <a href="#">
                        <img src="../../Assets/Images/facebook_icon.png" alt="facebook"  class="h-[30px] w-[30px] object-cover"/>
                    </a>
                </div>
                <div class="text-2xl text-[#FFFFFF]  cursor-pointer">
                    <a href="#">
                        <img src="../../Assets/Images/linkedin_icon.png" alt="linkedin"  class="h-[30px] w-[30px] object-cover"/>
                    </a>
                </div>
                <div class="text-2xl text-[#FFFFFF] cursor-pointer">
                    <a href="#">
                        <img src="../../Assets/Images/youtube_icon.png" alt="youtube"  class="h-[30px] w-[30px] object-cover"/>
                    </a>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</footer>
