<!-- footer section start -->

<footer class="bg-[#132028] py-2">
  <div class="container px-4 sm:px-6 lg:px-8 mx-auto">
    <div class="footer_wrap flex flex-col items-center">
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-x-2 pt-[50px] w-full">

        <div class="py-2 col-span-2 xl:col-span-1">
          <div class="flex flex-row md:flex-col gap-4">
            <img src="../../Assets/Images/logo1.png" alt="logo" class="h-[75px] w-[75px]" />
            <p class="pt-2 text-white paragraph">Your Trusted IT Solutions Partner Across Europe</p>
          </div>
        </div>

        <div class="py-2">
          <h2 class="text-xl font-semibold pb-2 text-primary paragraph">Industries</h2>
          <div class="flex flex-col gap-2 text-md">
            <a href="#" class="text-white paragraph">Fintech</a>
            <a href="#" class="text-white paragraph">Manufacturing</a>
            <a href="#" class="text-white paragraph">Healthcare</a>
            <a href="#" class="text-white paragraph">E-commerce</a>
            <a href="#" class="text-white paragraph">E-learning</a>
            <a href="#" class="text-white paragraph">Sports Tech</a>
            <a href="#" class="text-white paragraph">Social Media</a>
          </div>
        </div>

        <div class="py-2">
          <h2 class="text-xl font-semibold pb-2 text-primary paragraph">Services</h2>
          <div class="flex flex-col gap-2 text-md">
            <a href="#" class="text-white paragraph">Custom Software</a>
            <a href="#" class="text-white paragraph">Cloud & DevOps</a>
            <a href="#" class="text-white paragraph">AI & ML</a>
            <a href="#" class="text-white paragraph">Blockchain & Fintech</a>
            <a href="#" class="text-white paragraph">UI/UX Design</a>
            <a href="#" class="text-white paragraph">Digital Transformation</a>
          </div>
        </div>

        <div class="py-2">
          <h2 class="text-xl font-semibold pb-2 text-primary paragraph">Company</h2>
          <div class="flex flex-col gap-2 text-md">
            <a href="#" class="text-white paragraph">About Us</a>
            <a href="#" class="text-white paragraph">Insights & Blogs</a>
            <a href="#" class="text-white paragraph">Contact</a>
            <a href="#" class="text-white paragraph">Privacy Policy</a>
          </div>
        </div>

        <div class="py-2">
          <h2 class="text-xl font-semibold pb-2 text-primary paragraph">Careers</h2>
          <div class="flex flex-col gap-2 text-md">
            <a href="#" class="text-white paragraph">Our Culture</a>
            <a href="#" class="text-white paragraph">Open Positions</a>
          </div>
        </div>

        <div class="py-2 col-span-2 xl:col-span-1">
          <h2 class="text-xl font-semibold pb-2 text-primary paragraph">Contact Us</h2>
          <div class="flex flex-col gap-3 text-md">
            <div class="flex items-start gap-3">
              <i class="fa-solid fa-location-dot text-white mt-[2px]"></i>
              <p class="text-white paragraph leading-relaxed">
                301, Ambika Pinnacle, beside Lajamni Chowk, Mota Varachha, Surat - 394101
              </p>
            </div>
            <div class="flex items-start gap-3">
              <i class="fa-solid fa-phone text-white mt-[2px]"></i>
              <p class="text-white paragraph leading-relaxed">+91 9510249833 , +91 9879868908</p>
            </div>
            <div class="flex items-start gap-3">
              <i class="fa-regular fa-envelope text-white mt-[2px]"></i>
              <p class="text-white paragraph leading-relaxed break-words">info@transcodesolution.com</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="footer_bottom mt-5">
      <div class="border-t border-white mb-4">
        <div class="flex flex-row  justify-between pt-6">

          <p class="text-white paragraph text-left">
            © 2025 Transcodezy IT Solutions Pvt. Ltd. All Rights Reserved.
          </p>

          <div class="flex items-center gap-3">
            <a href="#" class="cursor-pointer">
              <img src="../../Assets/Images/insta_icon.png" alt="Instagram" />
            </a>
            <a href="#" class="cursor-pointer">
              <img src="../../Assets/Images/facebook_icon.png" alt="Facebook" />
            </a>
            <a href="#" class="cursor-pointer">
              <img src="../../Assets/Images/linkedin_icon.png" alt="LinkedIn" />
            </a>
            <a href="#" class="cursor-pointer">
              <img src="../../Assets/Images/youtube_icon.png" alt="YouTube" />
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>