<!-- indutries section start -->

<div class="bg-[#FFFFFF] py-[50px] lg:py-[80px] xl:py-[100px] 2xl:py-[140px]">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="pb-7 lg:pb-14">
      <h5
        class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center mb-5 lg:mb-10"
      >
        Industries
      </h5>
        <h1 class="text-accent heading font-medium">
          Industries We Empower
        </h1>
    </div>
    <div class="hidden md:grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-10">
      <div
            class="flex flex-col gap-[12px] bg-white border border-[#1320281F] rounded-2xl p-3 xl:p-6 shadow-lg hover:-translate-y-2 duration-700"
          >
            <img
              src="../../../Assets/Images/Industries/e-commerce.jpg"
              alt="ecommerce"
              class="w-full h-[300px] rounded-2xl object-cover"
            />
            <div class="pt-3">
              <h5
                class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
              >
                E-commerce
              </h5>
            </div>
            <h2 class="text-2xl text-accent font-medium ">Scalable marketplaces for European businesses.</h2>
            <p class="paragraph text-secondary  flex-1">
              We develop multi-language, multi-currency e-commerce platforms with AI-powered recommendations, secure payment integration, 
              and cross-border logistics support. Our solutions help you scale from local markets to pan-European growth.
            </p>
            <a
              href="/ecommerce-indutries.html"
              class="flex items-center gap-2 pt-4 group hover:text-primary paragraph text-secondary font-medium"
            >
              Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              >
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
      </div>
      <div
            class="flex flex-col gap-[12px] bg-white border border-[#1320281F] rounded-2xl p-3 xl:p-6 shadow-lg hover:-translate-y-2 duration-700"
          >
            <img
              src="../../../Assets/Images/Industries/healthcare.jpg"
              alt="healthcare"
              class="w-full h-[300px] rounded-2xl object-cover"
            />
            <div class="pt-3">
              <h5
                class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
              >
                Healthcare
              </h5>
            </div>
            <h2 class="text-2xl text-accent font-medium ">GDPR-compliant platforms for the future of health.</h2>
            <p class="paragraph text-secondary flex-1">
              We build telemedicine platforms, EHR systems, AI-driven diagnosis tools, 
              and secure patient portals that allow healthcare enterprises in Europe to deliver safer, more accessible, and regulation-ready digital care.
            </p>
            <a
              href="/healthcare.html  "
              class="flex items-center gap-2 pt-4 group hover:text-primary paragraph text-secondary font-medium"
            >
              Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              >
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
      </div>
     <div
            class="flex flex-col gap-[12px] bg-white border border-[#1320281F] rounded-2xl p-3 xl:p-6 shadow-lg hover:-translate-y-2 duration-700"
          >
            <img
              src="../../../Assets/Images/Industries/social_media.jpg"
              alt="social_media"
              class="w-full h-[300px] rounded-2xl object-cover"
            />
            <div class="pt-3">
              <h5
                class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
              >
                Social Media
              </h5>
            </div>
            <h2 class="text-2xl text-accent font-medium ">Building communities through scalable platforms.</h2>
            <p class="paragraph text-secondary flex-1">
              We design high-performance social networking applications, content-sharing platforms, 
              and live-streaming tools with real-time engagement, scalability, and GDPR compliance at the forefront.
            </p>
            <a
              href="/social-media-indutries.html"
              class="flex items-center gap-2 pt-4 group hover:text-primary paragraph text-secondary font-medium"
            >
              Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              >
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
      </div>
      <div
            class="flex flex-col gap-[12px] bg-white border border-[#1320281F] rounded-2xl p-3 xl:p-6 shadow-lg hover:-translate-y-2 duration-700"
          >
            <img
              src="../../../Assets/Images/Industries/sports_tech.jpg"
              alt="sports_tech"
              class="w-full h-[300px] rounded-2xl object-cover"
            />
            <div class="pt-3">
              <h5
                class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
              >
                Sports Tech
              </h5>
            </div>
            <h2 class="text-2xl text-accent font-medium ">Where data meets performance.</h2>
            <p class="paragraph text-secondary flex-1">
              We craft fan engagement apps, AI-powered analytics dashboards, and wearable integrations for sports organizations across Europe. 
              Our solutions boost fan loyalty, athlete performance, and sponsorship opportunities.
            </p>
            <a
              href="/sportsTech.html"
              class="flex items-center gap-2 pt-4 group hover:text-primary paragraph text-secondary font-medium"
            >
              Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              >
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
      </div>
      <div
            class="flex flex-col gap-[12px] bg-white border border-[#1320281F] rounded-2xl p-3 xl:p-6 shadow-lg hover:-translate-y-2 duration-700"
          >
            <img
              src="../../../Assets/Images/Industries/e-learning.jpg"
              alt="e-learning"
              class="w-full h-[300px] rounded-2xl object-cover"
            />
            <div class="pt-3">
              <h5
                class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
              >
                E-learning
              </h5>
            </div>
            <h2 class="text-2xl text-accent font-medium ">Digital-first education tailored for Europe.</h2>
            <p class="paragraph text-secondary flex-1">
              From LMS systems and virtual classrooms to gamified multilingual learning platforms, we enable educators 
              and enterprises to deliver engaging, accessible, and adaptive digital learning experiences.
            </p>
            <a
              href="/e-learning.html"
              class="flex items-center gap-2 pt-4 group hover:text-primary paragraph text-secondary font-medium"
            >
              Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              >
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
      </div>
      <div
            class="flex flex-col gap-[12px] bg-white border border-[#1320281F] rounded-2xl p-3 xl:p-6 shadow-lg hover:-translate-y-2 duration-700"
          >
            <img
              src="../../../Assets/Images/Industries/fintech.jpg"
              alt="fintech"
              class="w-full h-[300px] rounded-2xl object-cover"
            />
            <div class="pt-3">
              <h5
                class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
              >
                FinTech
              </h5>
            </div>
            <h2 class="text-2xl text-accent font-medium ">Future-proof financial platforms with security and compliance at the core.</h2>
            <p class="paragraph text-secondary flex-1">
              We design and develop PSD2-ready banking apps, digital wallets, blockchain systems, 
              and AI-powered fraud detection tools that keep European financial institutions secure, scalable, and fully GDPR-compliant.
            </p>
            <a
              href="/fintech-indutries.html"
              class="flex items-center gap-2 pt-4 group hover:text-primary paragraph text-secondary font-medium"
            >
              Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              >
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
      </div>
      <div
            class="flex flex-col gap-[12px] bg-white border border-[#1320281F] rounded-2xl p-3 xl:p-6 shadow-lg hover:-translate-y-2 duration-700"
          >
            <img
              src="../../../Assets/Images/Industries/manufacturing.jpg"
              alt="manufacturing"
              class="w-full h-[300px] rounded-2xl object-cover"
            />
            <div class="pt-3">
              <h5
                class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
              >
               Manufacturing
              </h5>
            </div>
            <h2 class="text-2xl text-accent font-medium ">Smart industry solutions for Industry 4.0.</h2>
            <p class="paragraph text-secondary flex-1">
              From IoT-enabled factories to ERP modernization and predictive maintenance systems, we help European manufacturers optimize production, cut downtime, 
              and achieve operational efficiency with real-time intelligence.
            </p>
            <a
              href="/manufacturing-indutries.html"
              class="flex items-center gap-2 pt-4 group hover:text-primary paragraph text-secondary font-medium"
            >
              Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              >
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
      </div>
    </div>
    <div class="block md:hidden mt-6">
      <div class="swiper industriesSwiper">
        <div class="swiper-wrapper py-3">
          <!-- Repeat all 6 slides -->
          <div class="swiper-slide">
            <div
            class="flex flex-col gap-[12px] bg-white border border-[#1320281F] rounded-2xl p-3 xl:p-6 h-[620px]"
          >
            <img
              src="../../../Assets/Images/Industries/e-commerce.jpg"
              alt="ecommerce"
              class="w-full h-[300px] rounded-2xl object-cover"
            />
            <div class="pt-3">
              <h5
                class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
              >
                E-commerce
              </h5>
            </div>
            <h2 class="text-2xl text-accent font-medium ">Scalable marketplaces for European businesses.</h2>
            <p class="paragraph text-secondary  flex-1">
              We develop multi-language, multi-currency e-commerce platforms with AI-powered recommendations, secure payment integration, 
              and cross-border logistics support. Our solutions help you scale from local markets to pan-European growth.
            </p>
            <a
              href="/ecommerce-indutries.html"
              class="flex items-center gap-2 pt-4 group hover:text-primary paragraph text-secondary font-medium"
            >
              Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              >
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
            </div>
          </div>

          <div class="swiper-slide">
            <div
            class="flex flex-col gap-[12px] bg-white border border-[#1320281F] rounded-2xl p-3 xl:p-6  h-[620px]"
          >
            <img
              src="../../../Assets/Images/Industries/healthcare.jpg"
              alt="healthcare"
              class="w-full h-[300px] rounded-2xl object-cover"
            />
            <div class="pt-3">
              <h5
                class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
              >
                Healthcare
              </h5>
            </div>
            <h2 class="text-2xl text-accent font-medium ">GDPR-compliant platforms for the future of health.</h2>
            <p class="paragraph text-secondary flex-1">
              We build telemedicine platforms, EHR systems, AI-driven diagnosis tools, 
              and secure patient portals that allow healthcare enterprises in Europe to deliver safer, more accessible, and regulation-ready digital care.
            </p>
            <a
              href="/healthcare.html  "
              class="flex items-center gap-2 pt-4 group hover:text-primary paragraph text-secondary font-medium"
            >
              Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              >
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
            </div>
          </div>

          <div class="swiper-slide">
            <div
            class="flex flex-col gap-[12px] bg-white border border-[#1320281F] rounded-2xl p-3 xl:p-6 h-[620px]"
          >
            <img
              src="../../../Assets/Images/Industries/social_media.jpg"
              alt="social_media"
              class="w-full h-[300px] rounded-2xl object-cover"
            />
            <div class="pt-3">
              <h5
                class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
              >
                Social Media
              </h5>
            </div>
            <h2 class="text-2xl text-accent font-medium ">Building communities through scalable platforms.</h2>
            <p class="paragraph text-secondary flex-1">
              We design high-performance social networking applications, content-sharing platforms, 
              and live-streaming tools with real-time engagement, scalability, and GDPR compliance at the forefront.
            </p>
            <a
              href="/social-media-indutries.html"
              class="flex items-center gap-2 pt-4 group hover:text-primary paragraph text-secondary font-medium"
            >
              Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              >
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
            </div>
          </div>

          <div class="swiper-slide">
            <div
            class="flex flex-col gap-[12px] bg-white border border-[#1320281F] rounded-2xl p-3 xl:p-6 h-[620px]"
          >
            <img
              src="../../../Assets/Images/Industries/sports_tech.jpg"
              alt="sports_tech"
              class="w-full h-[300px] rounded-2xl object-cover"
            />
            <div class="pt-3">
              <h5
                class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
              >
                Sports Tech
              </h5>
            </div>
            <h2 class="text-2xl text-accent font-medium ">Where data meets performance.</h2>
            <p class="paragraph text-secondary flex-1">
              We craft fan engagement apps, AI-powered analytics dashboards, and wearable integrations for sports organizations across Europe. 
              Our solutions boost fan loyalty, athlete performance, and sponsorship opportunities.
            </p>
            <a
              href="/sportsTech.html"
              class="flex items-center gap-2 pt-4 group hover:text-primary paragraph text-secondary font-medium"
            >
              Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              >
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
            </div>
          </div>

          <div class="swiper-slide">
            <div
            class="flex flex-col gap-[12px] bg-white border border-[#1320281F] rounded-2xl p-3 xl:p-6  h-[620px]"
          >
            <img
              src="../../../Assets/Images/Industries/e-learning.jpg"
              alt="e-learning"
              class="w-full h-[300px] rounded-2xl object-cover"
            />
            <div class="pt-3">
              <h5
                class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
              >
                E-learning
              </h5>
            </div>
            <h2 class="text-2xl text-accent font-medium ">Digital-first education tailored for Europe.</h2>
            <p class="paragraph text-secondary flex-1">
              From LMS systems and virtual classrooms to gamified multilingual learning platforms, we enable educators 
              and enterprises to deliver engaging, accessible, and adaptive digital learning experiences.
            </p>
            <a
              href="/e-learning.html"
              class="flex items-center gap-2 pt-4 group hover:text-primary paragraph text-secondary font-medium"
            >
              Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              >
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
            </div>
          </div>

          <div class="swiper-slide">
            <div
            class="flex flex-col gap-[12px] bg-white border border-[#1320281F] rounded-2xl p-3 xl:p-6 h-[620px]"
          >
            <img
              src="../../../Assets/Images/Industries/fintech.jpg"
              alt="fintech"
              class="w-full h-[300px] rounded-2xl object-cover"
            />
            <div class="pt-3">
              <h5
                class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
              >
                FinTech
              </h5>
            </div>
            <h2 class="text-2xl text-accent font-medium ">Future-proof financial platforms with security and compliance at the core.</h2>
            <p class="paragraph text-secondary flex-1">
              We design and develop PSD2-ready banking apps, digital wallets, blockchain systems, 
              and AI-powered fraud detection tools that keep European financial institutions secure, scalable, and fully GDPR-compliant.
            </p>
            <a
              href="/fintech-indutries.html"
              class="flex items-center gap-2 pt-4 group hover:text-primary paragraph text-secondary font-medium"
            >
              Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              >
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
            </div>
          </div>

          <div class="swiper-slide">
            <div
            class="flex flex-col gap-[12px] bg-white border border-[#1320281F] rounded-2xl p-3 xl:p-6  h-[620px]"
          >
            <img
              src="../../../Assets/Images/Industries/manufacturing.jpg"
              alt="manufacturing"
              class="w-full h-[300px] rounded-2xl object-cover"
            />
            <div class="pt-3">
              <h5
                class="paragraph text-accent border border-[#1320283D] w-fit py-2 px-4 rounded-3xl"
              >
               Manufacturing
              </h5>
            </div>
            <h2 class="text-2xl text-accent font-medium ">Smart industry solutions for Industry 4.0.</h2>
            <p class="paragraph text-secondary flex-1">
              From IoT-enabled factories to ERP modernization and predictive maintenance systems, we help European manufacturers optimize production, cut downtime, 
              and achieve operational efficiency with real-time intelligence.
            </p>
            <a
              href="/manufacturing-indutries.html"
              class="flex items-center gap-2 pt-4 group hover:text-primary paragraph text-secondary font-medium"
            >
              Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              >
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
            </div>
          </div>
        </div>

        <!-- Buttons -->
        <div class="flex flex-row gap-6 pt-5 md:pt-0 z-10 relative">
          <button
            id="IndPrev"
            class="w-[50px] h-[50px] border border-[#132028] flex justify-center items-center rounded-full disabled:opacity-50 cursor-pointer"
            aria-label="Previous"
            title="Previous"
          >
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <button
            id="IndNext"
            class="w-[50px] h-[50px] border border-[#132028] flex justify-center items-center rounded-full disabled:opacity-50 cursor-pointer"
            aria-label="Next"
            title="Next"
          >
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
</div>


<script>
  const swiper = new Swiper(".industriesSwiper", {
    slidesPerView: 1,
    centeredSlides: true,
    spaceBetween: 15,

    navigation: {
      nextEl: "#IndNext",
      prevEl: "#IndPrev",
    },

    on: {
      slideChange() {
        document.querySelector("#IndPrev").disabled = this.isBeginning;
        document.querySelector("#IndNext").disabled = this.isEnd;
      }
    }
  });

  // Disable prev initially
  document.querySelector("#IndPrev").disabled = true;
</script>

