<!-- indutries section start -->

<div class="bg-[#FFFFFF] relative z-0 h-auto py-12">
  <div class="container mx-auto px-8">
    <div class="py-5">
      <h5
        class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center"
      >
        Industries
      </h5>
      <div class="py-5">
        <h1 class="text-4xl font-medium w-full lg:w-[500px]">
          Industries We Empower
        </h1>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-6">
      <div
        class="bg-[#ffffff] h-auto border border-[#1320281F] rounded-2xl p-4 z-10 shadow-lg shadow-[#00000040] hover:-translate-y-2 duration-700"
      >
        <img
          src="../../../Assets/Images/Industries/e-commerce.jpg"
          alt="e-commerce"
          class="w-[430px] h-[280px] rounded-2xl"
        />
        <div class="pt-3 flex flex-col flex-1 justify-between">
          <div>
            <h5
              class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
            >
              E-commerce
            </h5>
            <h2 class="text-xl font-medium pt-2">
              Scalable marketplaces for European businesses.
            </h2>
            <p class="text-md text-[#44464A] pt-2">
              We develop multi-language, multi-currency e-commerce platforms
              with AI-powered recommendations, secure payment integration, and
              cross-border logistics support. Our solutions help you scale from
              local markets to pan-European growth.
            </p>
            <button
              class="pt-4"
            >
              <a
                href="#"
                class="flex justify-start items-center gap-2 text-[#44464A] text-md font-medium group hover:text-primary"
              >
                Read More
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                >
                  <i class="fa-solid fa-arrow-right"></i>
                </span>
              </a>
            </button>
          </div>
        </div>
      </div>
      <div
        class="bg-[#ffffff] h-auto border border-[#1320281F] rounded-2xl p-4 z-10 shadow-lg shadow-[#00000040] hover:-translate-y-2 duration-700"
      >
        <img
          src="../../../Assets/Images/Industries/healthcare.jpg"
          alt="healthcare"
          class="w-[430px] h-[280px] rounded-2xl"
        />
        <div class="pt-3 flex flex-col flex-1 justify-between">
          <div>
            <h5
              class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
            >
              Healthcare
            </h5>
            <h2 class="text-xl font-medium pt-2">
              GDPR-compliant platforms for the future of health.
            </h2>
            <p class="text-md text-[#44464A] pt-2">
              We build telemedicine platforms, EHR systems, AI-driven diagnosis tools, 
              and secure patient portals that allow healthcare enterprises in Europe to deliver safer, 
              more accessible, and regulation-ready digital care.
            </p>
            <button
              class="pt-9"
            >
              <a
                href="#"
                class="flex justify-start items-center gap-2 text-[#44464A] text-md font-medium group hover:text-primary"
              >
                Read More
                <span
                  class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                >
                  <i class="fa-solid fa-arrow-right"></i>
                </span>
              </a>
            </button>
          </div>
        </div>
      </div>
      <div
        class="bg-[#ffffff] h-auto border border-[#1320281F] rounded-2xl p-4 z-10 shadow-lg shadow-[#00000040] hover:-translate-y-2 duration-700"
      >
        <img
          src="../../../Assets/Images/Industries/social_media.jpg"
          alt="social_media"
          class="w-[430px] h-[280px] rounded-2xl"
        />
        <div class="pt-3">
          <h5
            class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
          >
            Social Media
          </h5>
          <h2 class="text-xl font-medium pt-2">
            Building communities through scalable platforms.
          </h2>
          <p class="text-md text-[#44464A] pt-2">
            We design high-performance social networking applications,
            content-sharing platforms, and live-streaming tools with real-time
            engagement, scalability, and GDPR compliance at the forefront.
          </p>
          <button
            class="text-[#44464A] text-md font-medium pt-9 group hover:text-primary"
          >
            <a herf="#" class="flex justify-start items-center gap-2"
              >Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                ><i class="fa-solid fa-arrow-right"></i></span
            ></a>
          </button>
        </div>
      </div>
      <div
        class="bg-[#ffffff] h-auto border border-[#1320281F] rounded-2xl p-4 z-10 shadow-lg shadow-[#00000040] hover:-translate-y-2 duration-700"
      >
        <img
          src="../../../Assets/Images/Industries/sports_tech.jpg"
          alt="sports_tech"
          class="w-[430px] h-[280px] rounded-2xl"
        />
        <div class="pt-3">
          <h5
            class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
          >
            Sports Tech
          </h5>
          <h2 class="text-xl font-medium pt-2">
            Where data meets performance.
          </h2>
          <p class="text-md text-[#44464A] pt-2">
            We craft fan engagement apps, AI-powered analytics dashboards, and
            wearable integrations for sports organizations across Europe. Our
            solutions boost fan loyalty, athlete performance, and sponsorship
            opportunities.
          </p>
          <button
            class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary"
          >
            <a herf="#" class="flex justify-start items-center gap-2"
              >Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                ><i class="fa-solid fa-arrow-right"></i></span
            ></a>
          </button>
        </div>
      </div>
      <div
        class="bg-[#ffffff] h-auto border border-[#1320281F] rounded-2xl p-4 z-10 shadow-lg shadow-[#00000040] hover:-translate-y-2 duration-700"
      >
        <img
          src="../../../Assets/Images/Industries/e-learning.jpg"
          alt="e-learning"
          class="w-[430px] h-[280px] rounded-2xl"
        />
        <div class="pt-3">
          <h5
            class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
          >
            E-learning
          </h5>
          <h2 class="text-xl font-medium pt-2">
            Digital-first education tailored for Europe.
          </h2>
          <p class="text-md text-[#44464A] pt-2">
            From LMS systems and virtual classrooms to gamified multilingual
            learning platforms, we enable educators and enterprises to deliver
            engaging, accessible, and adaptive digital learning experiences.
          </p>
          <button
            class="text-[#44464A] text-md font-medium pt-10 group hover:text-primary"
          >
            <a herf="#" class="flex justify-start items-center gap-2"
              >Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                ><i class="fa-solid fa-arrow-right"></i></span
            ></a>
          </button>
        </div>
      </div>
      <div
        class="bg-[#ffffff] h-auto border border-[#1320281F] rounded-2xl p-4 z-10 shadow-lg shadow-[#00000040] hover:-translate-y-2 duration-700"
      >
        <img
          src="../../../Assets/Images/Industries/fintech.jpg"
          alt="fintech"
          class="w-[430px] h-[280px] rounded-2xl"
        />
        <div class="pt-3">
          <h5
            class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
          >
            FinTech
          </h5>
          <h2 class="text-xl font-medium pt-2">
            Future-proof financial platforms with security and compliance at the
            core.
          </h2>
          <p class="text-md text-[#44464A] pt-2">
            We design and develop PSD2-ready banking apps, digital wallets,
            blockchain systems, and AI-powered fraud detection tools that keep
            European financial institutions secure, scalable, and fully
            GDPR-compliant.
          </p>
          <button
            class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary"
          >
            <a herf="#" class="flex justify-start items-center gap-2"
              >Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                ><i class="fa-solid fa-arrow-right"></i></span
            ></a>
          </button>
        </div>
      </div>
      <div
        class="bg-[#ffffff] h-auto border border-[#1320281F] rounded-2xl p-4 z-10 shadow-lg shadow-[#00000040] hover:-translate-y-2 duration-700"
      >
        <img
          src="../../../Assets/Images/Industries/manufacturing.jpg"
          alt="manufacturing"
          class="w-[430px] h-[280px] rounded-2xl"
        />
        <div class="pt-3">
          <h5
            class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
          >
            Manufacturing
          </h5>
          <h2 class="text-xl font-medium pt-2">
            Smart industry solutions for Industry 4.0.
          </h2>
          <p class="text-md text-[#44464A] pt-2">
            From IoT-enabled factories to ERP modernization and predictive
            maintenance systems, we help European manufacturers optimize
            production, cut downtime, and achieve operational efficiency with
            real-time intelligence.
          </p>
          <button
            class="text-[#44464A] text-md font-medium pt-4 group hover:text-primary"
          >
            <a herf="#" class="flex justify-start items-center gap-2"
              >Read More
              <span
                class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
                ><i class="fa-solid fa-arrow-right"></i></span
            ></a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
