<div class="bg-[#0094EE0F] py-12 relative z-0">
  <div class="absolute inset-y-0 top-0 left-0 z-0">
    <img
      src="../../../Assets/Images/mission_bg-1.png"
      alt="mission-background"
      class="h-full w-full object-cover"
    />
  </div>

  <!-- Right BG -->
  <div class="absolute inset-y-0 top-0 right-0 z-0">
    <img
      src="../../../Assets/Images/mission_bg-2.png"
      alt="mission-background-2"
      class="h-full w-full object-cover"
    />
  </div>
  <div class="container mx-auto px-6 lg:px-12 relative z-10">
    <div class="flex flex-col lg:flex-row mb-16 gap-8 py-8 z-10">
      <div class="w-full lg:w-1/2">
        <img
          src="../../../Assets/Images/BecomeAPartner/global_automation.jpg"
          alt="Automation"
          class="w-full h-[450px] object-cover rounded-xl"
        />
      </div>
      <div class="w-full lg:w-1/2">
        <div
          class="inline-block px-4 py-2 rounded-full border border-gray-300 mb-4"
        >
          <span class="text-gray-800 font-medium"
            >Global Workflows</span
          >
        </div>
        <h1
          class="text-4xl font-medium text-[#132028] mb-3 w-full xl:w-[550px]"
        >
          Automation Meets Intelligence — Powered by AI & OpenAI Integration
        </h1>
        <p class="text-[#44464A] w-full xl:w-[620px]">
           Transcodezy integrates OpenAI APIs, AI-driven analytics, and automation-based workflows to create seamless digital ecosystems for global partners.
        </p>
        <p class="text-[#44464A] mb-4 w-full xl:w-[650px]">
         Our systems optimize productivity and streamline collaboration, helping European and international partners manage everything from one centralized hub.
        </p>
        <ul class="text-gray-600 text-md list-disc ml-4 space-y-2">
          <li>
            Automated partner and client onboarding
          </li>
          <li>
           Predictive analytics for project success rates
          </li>
          <li>
            Smart CRM dashboards with AI insights
          </li>
          <li>Multilingual support for European markets</li>
          <li>Secure cloud-based collaboration tools</li>
        </ul>
      </div>
    </div>
  </div>
</div>
