<!-- get in touch section start -->

<div class="bg-[#FFFFFF] py-12">
  <div class="container mx-auto px-8">
    <div class="py-6 relative z-0">
      <div class="bg-[#132028] rounded-2xl">
        <img
          src="../../../Assets/Images/getintouch.png"
          alt="getintouch-bg"
          class="w-[100%] h-[250px] object-cover rounded-2xl"
        />
      </div>
      <div class="py-5 absolute inset-0 top-[8px] md:top-[35px] lg:top-[50px] left-0 z-10 px-2 ">
        <h1 class="text-xl md:text-4xl font-medium text-center text-[#FFFFFF] w-full  mx-auto ">
          Ready to Transform Education Digitally?
        </h1>
        <p class="text-sm lg:text-md text-center w-full lg:w-[810px] mx-auto pt-3 text-[#FFFFFF99] px-2 md:px-0">
         Transcodezy IT Solutions Pvt. Ltd. helps institutions, enterprises, and startups build innovative, secure, 
         and scalable Ed-Tech platforms for learners across Europe and the globe.
         From AI-driven learning to immersive virtual classrooms, we empower education through technology.
        </p>
        <div class="flex justify-center items-center pt-4 hover:scale-110 duration-700 cursor-pointer">
          <button
            class="flex justify-center gap-2 bg-primary py-2 px-4 rounded-3xl w-fit text-white text-sm group"
          >
            Start Your Ed-Tech Journey
            <span
              class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              ><i class="fa-solid fa-arrow-right"></i
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>