<!-- Benefits section start -->

<div class="bg-[#0094EE0F] relative z-0 h-auto py-16 sm:py-20 lg:py-[100px]">
  <div class="absolute inset-y-0 top-0 left-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-1.png"
    alt="mission-background"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="absolute inset-y-0 top-0 right-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-2.png"
    alt="mission-background-2"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-20">
    <div>
      <div class="py-4 lg:py-6 w-full lg:w-[500px]">
        <h5
          class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center"
        >
          Benefits
        </h5>
      </div>
      <div class="py-3 lg:py-6 none lg:flex justify-between items-center gap-10">
        <h2 class="text-accent heading font-medium w-full max-w-[740px]">Why Manufacturers Worldwide Choose Transcodezy</h2>
        <p class="paragraph text-secondary w-full max-w-[740px] pt-4 lg:pt-12">
            We provide solutions that combine technology, efficiency, and actionable insights to help manufacturers globally succeed in Industry 4.0.</p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 py-6">
        <!-- Card 1 -->
        <div class="z-10">
          <div
            class="bg-white border border-[#1320283D] rounded-[24px] p-5 xl:p-8 h-full hover:scale-95 duration-700 cursor-pointer hover:border hover:border-primary"
          >
            <div>
              <img
                src="../../../Assets/Images/Manufacturing/benefit_img1.png"
                alt="Increased Operational Efficiency"
                class="w-[60px] h-[60px]"
              />
              <div class="pt-8">
                <h2 class="text-2xl text-accent font-medium">Increased Operational Efficiency</h2>
                <p class="text-secondary paragraph pt-2">
                 Optimize production workflows and minimize downtime.
                 <span class="block">Implement automated workflows via OpenAI and CRM systems.</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="z-10">
          <div
            class="bg-white border border-[#1320283D] rounded-[24px] p-5 xl:p-8 h-full hover:scale-95 duration-700 cursor-pointer hover:border hover:border-primary"
          >
            <div>
              <img
                src="../../../Assets/Images/Manufacturing/benefit_img2.png"
                alt="Cost Reduction & Resource Optimization"
                class="w-[60px] h-[60px]"
              />
              <div class="pt-8">
                <h2 class="text-2xl text-accent font-medium">Cost Reduction & Resource Optimization</h2>
                <p class="text-secondary paragraph pt-2">
                  Reduce maintenance and operational costs.
                  <span class="block">Streamline workforce utilization and asset management.</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="z-10">
          <div
            class="bg-white border border-[#1320283D] rounded-[24px] p-5 xl:p-8 h-full hover:scale-95 duration-700 cursor-pointer hover:border hover:border-primary"
          >
            <div>
              <img
                src="../../../Assets/Images/Manufacturing/benefit_img3.png"
                alt="Real-Time Data Insights"
                class="w-[60px] h-[60px]"
              />
              <div class="pt-8">
                <h2 class="text-2xl text-accent font-medium">Real-Time Data Insights</h2>
                <p class="text-secondary paragraph pt-2">
                  Monitor production KPIs and business metrics in real-time.
                  <span class="block">Enable predictive decision-making for smarter operations.</span> 
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="z-10">
          <div
            class="bg-white border border-[#1320283D] rounded-[24px] p-5 xl:p-8 h-full hover:scale-95 duration-700 cursor-pointer hover:border hover:border-primary"
          >
            <div>
              <img
                src="../../../Assets/Images/Manufacturing/benefit_img4.png"
                alt="Scalable & Future-Ready Solutions"
                class="w-[60px] h-[60px]"
              />
              <div class="pt-8">
                <h2 class="text-2xl text-accent font-medium">Scalable & Future-Ready Solutions</h2>
                <p class="text-secondary paragraph pt-2">
                Flexible platforms designed for high-volume manufacturing.
                <span class="block">Prepare your factory for future automation and digital transformation.</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
