<!-- hero section start -->

<div
  class="hero_sec_wrap relative z-0 bg-[#1320280A] px-4 sm:px-6 lg:px-8 py-[80px] xl:py-[130px] 2xl:py-[150px] h-[850px] md:h-[985px] mt-5 flex items-center justify-center overflow-hidden mt-8 lg:mt-0 "
>
<div class="absolute inset-0 top-0 left-0 ">
  <img
    src="../../../Assets/Images/hero_sec_bg-design.png"
    alt="banner-bg-design"
    class="w-[auto] h-[100%] object-cover "
  />
</div>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-10">
    <div class="hero_sec_con flex flex-col lg:flex-row justify-between items-center gap-5 z-10 py-8 lg:py-0">
      <div
        class="flex flex-col items-start text-left w-auto xl:w-[40%] gap-5 py-6 px-2 lg:px-0 lg:py-0"
      >
        <h1 class="text-[38px] leading-[38px] sm:text-[36px] sm:leading-[44px] md:text-[42px] md:leading-[50px] lg:text-[50px] lg:leading-[55px] xl:text-[60px] xl:leading-[65px] text-accent">
          Networked
        </h1>
        <p class="paragraph text-secondary w-full max-w-[679px] ">
          We developed a scalable community management platform that enables owners to create and manage communities with features like real-time chat, 
          role-based access control, advanced branding customization, and monetization through secure payments. 
          The system allows seamless communication, flexible customization, and revenue generation, all within a single platform.
        </p>
        <p class="paragraph text-secondary w-full max-w-[679px] "><span class="font-medium">Project: </span>Web Application | Web & Mobile User Interfaces</p>
        <p class="paragraph text-secondary  w-full max-w-[679px] "><span class="font-medium">Industry:</span> Social Media & Networking Platform</p>
        <div class="mt-4 w-fit px-6 py-3 bg-primary  rounded-[40px] hover:scale-110 duration-700 transition overflow-hidden">
            <a href="/book_a_free_consultation.html" class="paragraph text-white">Go to website</a>
          </div>
      </div>

      <div class="hero-img ">
         <img src="../../../Assets/Images/ProjectDetails/hero_bg_img.png" alt="hero_img" class="w-full h-auto xl:h-[500px] object-cover"/>
  </div>
    </div>
  </div>
  
</div>