<!-- our director section start -->
<section id="our-team" class="our-director-section">
  <!-- Our Team content -->

<div class="bg-[#0094EE0F] relative z-0 h-auto py-12">
  <div class="absolute inset-y-0 top-0 left-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-1.png"
    alt="mission-background"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="absolute inset-y-0 top-0 right-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-2.png"
    alt="mission-background-2"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="container mx-auto px-8">
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
        >
          Our Director
        </h5>
      </div>
      <div class="none md:flex justify-between py-2">
        <h2 class="text-3xl md:text-4xl font-medium text-[#132028]">
          Experts Driving Innovation
        </h2>
        <p class="text-sm w-full md:w-[570px]">
          Our European IT experts combine technical excellence with deep
          industry knowledge. Collaboration, creativity, and problem-solving are
          at the heart of everything we do, ensuring high-impact, results-driven
          projects.
        </p>
      </div>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 p-6 max-w-7xl w-full"
      >
        <!-- Card 1 -->
        <div
          class="relative z-10 w-full h-[480px] rounded-2xl shadow-lg overflow-hidden group cursor-pointer"
        >
          <img
            src="../../../Assets/Images/Company/CEO-img.png"
            alt="Profile"
            class="w-full h-full object-cover transition-all duration-500"
          />
          <div class="absolute inset-0 bg-gradient-to-b from-[#00000000] to-[#000000] z-10"></div>
          <div class="absolute inset-x-0 bottom-5 left-[20px] z-10 group-hover:hidden transition-all duration-700 ease-in-out">
            <h2 class="text-xl font-semibold text-[#FFFFFF]">Dharmesh Kumbhani </h2>
            <p class="text-md font-medium text-[#FFFFFF] ">CEO</p>
          </div>

          <div
            class="absolute inset-0 z-10 flex flex-col justify-center items-center text-center px-4 bg-black/70 text-white translate-x-full group-hover:translate-x-0 transition-all duration-700 ease-in-out"
          >
            <h2 class="text-2xl font-semibold mb-2">Dharmesh Kumbhani</h2>
            <h3 class="text-lg font-medium mb-3">CEO</h3>
            <p class="text-sm leading-relaxed">
              Hi, I’m Dharmesh, CEO of Transcodezy IT Solutions Pvt. Ltd.Embark
              on a journey of collaboration and innovation! I am eager to share
              my experiences, engage in discussions about the challenges you're
              tackling, and explore how we can work together to bring your ideas
              to life. Reach out to me, and let's discuss your project needs and
              aspirations
            </p>
          </div>
        </div>

        <!-- Card 2 -->
        <div
          class="relative z-10 w-full h-[480px] rounded-2xl shadow-lg overflow-hidden group cursor-pointer"
        >
          <img
            src="../../../Assets/Images/Company/CTO-img.png"
            alt="Profile"
            class="w-full h-full object-cover transition-all duration-500"
          />
          <div class="absolute inset-0 bg-gradient-to-b from-[#00000000] to-[#000000] z-10"></div>
          <div class="absolute inset-x-0 bottom-5 left-[20px] z-10 group-hover:hidden transition-all duration-700 ease-in-out">
            <h2 class="text-xl font-semibold text-[#FFFFFF]">Shubham Sutariya </h2>
            <p class="text-md font-medium text-[#FFFFFF] ">CTO</p>
          </div>

          <div
            class="absolute inset-0 z-10 flex flex-col justify-center items-center text-center px-4 bg-black/70 text-white translate-x-full group-hover:translate-x-0 transition-all duration-700 ease-in-out"
          >
            <h2 class="text-2xl font-semibold mb-2">Shubham Sutariya</h2>
            <h3 class="text-lg font-medium mb-3">CTO</h3>
            <p class="text-sm leading-relaxed">
              I am Shubham Sutariya, CTO of Transcodezy IT Solutions Pvt. Ltd.
              Passionate about technology and innovation, I’m here to drive
              cutting-edge solutions that empower your business. Let’s connect
              and explore how we can turn your vision into reality.
            </p>
          </div>
        </div>

        <!-- Card 3 -->
        <div
          class="relative z-10 w-full h-[480px] rounded-2xl shadow-lg overflow-hidden group cursor-pointer"
        >
          <img
            src="../../../Assets/Images/Company/COO-img.png"
            alt="Profile"
            class="w-full h-full object-cover transition-all duration-500"
          />
          <div class="absolute inset-0 bg-gradient-to-b from-[#00000000] to-[#000000] z-10"></div>
          <div class="absolute inset-x-0 bottom-5 left-[20px] z-10 group-hover:hidden transition-all duration-700 ease-in-out">
            <h2 class="text-xl font-semibold text-[#FFFFFF]">Arpit Nakrani </h2>
            <p class="text-md font-medium text-[#FFFFFF] ">COO</p>
          </div>

          <div
            class="absolute inset-0 z-10 flex flex-col justify-center items-center text-center px-4 bg-black/70 text-white translate-x-full group-hover:translate-x-0 transition-all duration-700 ease-in-out"
          >
            <h2 class="text-2xl font-semibold mb-2">Arpit Nakrani</h2>
            <h3 class="text-lg font-medium mb-3">COO</h3>
            <p class="text-sm leading-relaxed">
              I am Arpit Nakrani, COO of Transcodezy IT Solutions Pvt. Ltd.
              Dedicated to operational excellence and seamless project delivery,
              I ensure your solutions are executed efficiently and with the
              highest quality. Let’s collaborate to achieve your business goals
              together.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
