<!-- our director section start -->
<section id="our-team" class="our-director-section">
  <div class="bg-[#0094EE0F] relative z-0 h-auto py-16 sm:py-20 lg:py-[100px] overflow-hidden">
    
    <!-- Background Images -->
    <div class="absolute inset-y-0 top-0 left-0 z-10">
      <img src="../../../Assets/Images/mission_bg-1.png" alt="mission-background"
        class="h-full w-full object-cover" />
    </div>
    <div class="absolute inset-y-0 top-0 right-0 z-10">
      <img src="../../../Assets/Images/mission_bg-2.png" alt="mission-background-2"
        class="h-full w-full object-cover" />
    </div>

    <!-- Content -->
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-20">
      <!-- Section Title -->
      <div class="py-6 text-center md:text-left">
        <h5
          class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit mx-auto md:mx-0 py-3 px-6 rounded-[40px] text-center">
          Our Director
        </h5>
      </div>

      <div class="flex flex-col md:flex-row justify-between items-center py-6 gap-10 text-center md:text-left">
        <h2 class="text-accent heading font-medium w-full max-w-[740px] pt-0 lg:pt-6">
          Experts Driving Innovation
        </h2>
        <p class="paragraph text-secondary w-full max-w-[740px]">
          Our European IT experts combine technical excellence with deep industry knowledge.
          Collaboration, creativity, and problem-solving are at the heart of everything we do,
          ensuring high-impact, results-driven projects.
        </p>
      </div>

      <!-- Director Cards -->
      <div class="flex flex-wrap xl:flex-nowrap justify-center items-start gap-8 relative z-10 py-6">

        <!-- Card 1 -->
        <div
          class="group relative z-0 bg-white rounded-[24px] shadow-lg overflow-hidden transition-all duration-500 hover:shadow-2xl h-[480px] w-full sm:w-[359px] hover:w-[721px] flex flex-col md:flex-row cursor-pointer z-0 hover:border hover:border-primary">
          <img src="../../../Assets/Images/Company/CEO-img.png" alt="CEO"
            class="w-full md:w-[370px] h-[480px] object-cover transition-all duration-500 group-hover:opacity-90" />
          <div class="absolute inset-0 bg-gradient-to-b from-[#00000000] to-[#00000080] transition-all duration-500 group-hover:opacity-0"></div>
          <div class="absolute inset-0 left-[20px] top-[410px] z-10 group-hover:hidden">
            <h1 class="text-2xl text-white font-medium mb-1">Dharmesh Kumbhani </h1>
            <h5 class="paragraph text-white z-10">CEO</h5>
          </div>
          <div
            class="absolute md:static inset-0 z-10 bg-white md:bg-transparent p-6 flex flex-col detail-box opacity-0 md:opacity-100 group-hover:opacity-100 transition-all duration-500 md:w-[341px] ">
            <h1 class="text-[22px] sm:text-[24px] text-accent font-medium z-10">
              Dharmesh Kumbhani
            </h1>
            <h5 class="paragraph text-accent mb-2 z-10">CEO</h5>
            <p class="text-[16px] text-secondary leading-relaxed">
              Hi, I’m Dharmesh, CEO of Transcodezy IT Solutions Pvt. Ltd.Embark on a journey of collaboration and innovation! I am eager to share my experiences, 
              engage in discussions about the challenges you're tackling, and explore how we can work together to bring your ideas to life. Reach out to me, 
              and let's discuss your project needs and aspirations
            </p>
          </div>
        </div>

        <!-- Card 2 -->
        <div
          class="group relative bg-white rounded-[24px] shadow-lg overflow-hidden transition-all duration-500 hover:shadow-2xl h-[480px] w-full sm:w-[359px] hover:w-[721px] flex flex-col md:flex-row cursor-pointer hover:border hover:border-primary">
          <img src="../../../Assets/Images/Company/CTO-img.png" alt="CTO"
            class="w-full md:w-[370px] h-[480px] object-cover transition-all duration-500 group-hover:opacity-90" />
            <div class="absolute inset-0 bg-gradient-to-b from-[#00000000] to-[#00000080] transition-all duration-500 group-hover:opacity-0"></div>
            <div class="absolute inset-0 left-[20px] top-[410px] z-10 group-hover:hidden">
            <h1 class="text-2xl text-white font-medium mb-1">Shubham Sutariya </h1>
            <h5 class="paragraph text-white  z-10">CTO</h5>
          </div>
          <div
            class="absolute md:static inset-0 bg-white md:bg-transparent p-6 flex flex-col detail-box opacity-0 md:opacity-100  group-hover:opacity-100 transition-all duration-500 md:w-[341px] ">
            <h1 class="text-[22px] sm:text-[24px] text-accent font-medium">
              Shubham Sutariya
            </h1>
            <h5 class="paragraph text-accent mb-2">CTO</h5>
            <p class="text-[16px] text-secondary leading-relaxed">
              I am Shubham Sutariya, CTO of Transcodezy IT Solutions Pvt. Ltd. Passionate about technology and innovation, 
              I’m here to drive cutting-edge solutions that empower your business. Let’s connect and explore how we can turn your vision into reality.
            </p>
          </div>
        </div>

        <!-- Card 3 -->
        <div
          class="group relative bg-white rounded-[24px] shadow-lg overflow-hidden transition-all duration-500 hover:shadow-2xl h-[480px] w-full sm:w-[359px] hover:w-[721px] flex flex-col md:flex-row cursor-pointer hover:border hover:border-primary">
          <img src="../../../Assets/Images/Company/COO-img.png" alt="COO"
            class="w-full md:w-[370px] h-[480px] object-cover transition-all duration-500 group-hover:opacity-90" />
            <div class="absolute inset-0 bg-gradient-to-b from-[#00000000] to-[#00000080] transition-all duration-500 group-hover:opacity-0"></div>
            <div class="absolute inset-0 left-[20px] top-[410px] z-10 group-hover:hidden">
            <h1 class="text-2xl text-white font-medium mb-1">Arpit Nakrani</h1>
            <h5 class="paragraph text-white  z-10">COO</h5>
          </div>
          <div
            class="absolute md:static inset-0 bg-white md:bg-transparent p-6 flex flex-col detail-box opacity-0 md:opacity-100  group-hover:opacity-100 transition-all duration-500 md:w-[341px] ">
            <h1 class="text-[22px] sm:text-[24px] text-accent font-medium">
              Arpit Nakrani
            </h1>
            <h5 class="paragraph text-accent mb-2">COO</h5>
            <p class="text-[16px] text-secondary leading-relaxed">
              I am Arpit Nakrani, COO of Transcodezy IT Solutions Pvt. Ltd. Dedicated to operational excellence and seamless project delivery, 
              I ensure your solutions are executed efficiently and with the highest quality. Let’s collaborate to achieve your business goals together.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- our director section end -->

