<!-- about us section start -->
<section id="about-us" class="about-section">
  <!-- About Us content -->

<div class="bg-[#FFFFFF] py-[50px] lg:py-[80px] xl:py-[100px] 2xl:py-[140px] mt-5">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 lg:gap-[80px] w-full ">
      <div>
        <h5
          class="bg-white paragraph text-accent border border-accent w-fit py-3 px-6 rounded-[40px]"
        >
          About Us
        </h5>
        <div class="mt-5 lg:mt-10">
          <h1 class="heading font-medium text-accent">Transforming Businesses with Technology Across Europe</h1>
          <p class="paragraph text-secondary font-normal w-full xl:max-w-[720px] pt-3">
           At Transcodezy IT Solutions Pvt. Ltd., we help European enterprises innovate, scale, and stay competitive with secure, 
           GDPR-compliant, and scalable IT solutions. From custom software, AI & ML platforms, ERP & CRM systems, cloud & DevOps solutions, 
           to e-commerce and FinTech applications, we turn business challenges into opportunities for growth.
          </p>
        </div>
      </div>
      <div>
        <img src="../../../Assets/Images/Company/aboutus_img.jpg" alt="aboutus_img" 
        class="w-full max-w-[500px] sm:max-w-full lg:max-w-none h-[260px] sm:h-[360px] lg:h-[420px] rounded-xl object-cover" />
      </div> 
    </div>
  </div>
</div>
</section>

