<!-- about us section start -->
<section id="about-us" class="about-section">
  <!-- About Us content -->

<div class="bg-[#FFFFFF] py-12 mt-5">
  <div class="container mx-auto px-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 w-full">
      <div>
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-2 px-4 rounded-3xl text-center z-10"
        >
          About Us
        </h5>
        <div class="pt-4 mt-4">
          <h1 class="text-3xl md:text-4xl font-medium text-[#132028] w-full lg:w-[500px]">Transforming Businesses with Technology Across Europe</h1>
          <p class="text-md text-[#44464A] w-full mt-2 w-full xl:w-[640px]">
           At Transcodezy IT Solutions Pvt. Ltd., we help European enterprises innovate, scale, and stay competitive with secure, 
           GDPR-compliant, and scalable IT solutions. From custom software, AI & ML platforms, ERP & CRM systems, cloud & DevOps solutions, 
           to e-commerce and FinTech applications, we turn business challenges into opportunities for growth.
          </p>
        </div>
      </div>
      <div>
        <img src="../../../Assets/Images/Company/aboutus_img.jpg" alt="aboutus_img" class="w-[100%] h-[100%] object-cover rounded-2xl" />
      </div> 
    </div>
  </div>
</div>
</section>

