<!-- Benefits section start -->

<div class="bg-[#0094EE0F] relative z-0 h-auto py-16 sm:py-20 lg:py-[100px]">
  <div class="absolute inset-y-0 top-0 left-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-1.png"
    alt="mission-background"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="absolute inset-y-0 top-0 right-0 z-10">
    <img
    src="../../../Assets/Images/mission_bg-2.png"
    alt="mission-background-2"
    class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-20">
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center"
        >
          Benefits
        </h5>
      </div>
      <div class="py-6 none lg:flex justify-between items-center gap-10 ">
        <h2 class="text-accent heading font-medium w-full max-w-[740px]">Why Global Institutions Choose Transcodezy for Digital Learning</h2>
        <p class="paragraph text-secondary w-full max-w-[740px] pt-6 lg:pt-12">
            Our solutions go beyond technology — they’re designed to inspire learning, simplify management, and drive measurable educational outcomes.</p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 py-6">
        <!-- Card 1 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border border-[#1320281F] rounded-[24px] p-5 xl:p-10 h-full hover:scale-95 duration-700 cursor-pointer hover:border hover:border-primary"
          >
            <div>
              <img
                src="../../../Assets/Images/E-learning/benefit_img1.png"
                alt="Scalable Global Reach"
                class="w-[60px] h-[60px]"
              />
              <div class="pt-8 cards-content">
                <h2 class="text-2xl text-accent font-medium">Scalable Global Reach</h2>
                <p class="text-secondary paragraph pt-2">
                 Multi-language & multi-currency support.
                 <span class="block">Designed for global institutions & remote learners.</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border border-[#1320281F] rounded-[24px] p-5 xl:p-10 h-full hover:scale-95 duration-700 cursor-pointer hover:border hover:border-primary"
          >
            <div>
              <img
                src="../../../Assets/Images/E-learning/benefit_img2.png"
                alt="Engaging Learner Experience"
                class="w-[60px] h-[60px]"
              />
              <div class="pt-8 cards-content">
                <h2 class="text-2xl text-accent font-medium">Engaging Learner Experience</h2>
                <p class="text-secondary paragraph pt-2">
                  Gamified interfaces & real-time analytics.
                  <span class="block">Mobile-first design for accessibility.</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border border-[#1320281F] rounded-[24px] p-5 xl:p-10 h-full hover:scale-95 duration-700 cursor-pointer hover:border hover:border-primary"
          >
            <div>
              <img
                src="../../../Assets/Images/E-learning/benefit_img3.png"
                alt="Secure & GDPR-Compliant Platforms"
                class="w-[60px] h-[60px]"
              />
              <div class="pt-8 cards-content">
                <h2 class="text-2xl text-accent font-medium">Secure & GDPR-Compliant Platforms</h2>
                <p class="text-secondary paragraph pt-2">
                  European data privacy compliance.
                  <span class="block">Secure cloud hosting & user authentication.</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border border-[#1320281F] rounded-[24px] p-5 xl:p-10 h-full hover:scale-95 duration-700 cursor-pointer hover:border hover:border-primary"
          >
            <div>
              <img
                src="../../../Assets/Images/E-learning/benefit_img4.png"
                alt="Analytics-Driven Decision Making"
                class="w-[60px] h-[60px]"
              />
              <div class="pt-8 cards-content">
                <h2 class="text-2xl text-accent font-medium">Analytics-Driven Decision Making</h2>
                <p class="text-secondary paragraph pt-2">
               Track learner performance & engagement metrics.
               <span class="block">AI insights for curriculum optimization.</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
