<!-- our Mission section start -->
<section id="our-mission" class="our-mission-section">
  <!-- Mission content -->

<div class="bg-[#0094EE0F] relative z-0 h-auto py-16 sm:py-20 lg:py-[80px]">
  <div class="absolute inset-y-0 top-0 left-0 z-10">
    <img
      src="../../../Assets/Images/mission_bg-1.png"
      alt="mission-background"
      class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="absolute inset-y-0 top-0 right-0 z-10">
    <img
      src="../../../Assets/Images/mission_bg-2.png"
      alt="mission-background-2"
      class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-20">
    <div class="flex flex-col lg:flex-row gap-8 py-6">
      <div>
        <div class=" w-full max-w-[730px]">
          <h5
            class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center"
          >
            Our Mission
          </h5>
        </div>
        <div class="py-4">
          <h2
            class="text-accent heading font-medium w-full max-w-[730px] pt-0 lg:pt-6"
          >
            Accelerating Digital Transformation Across Europe
          </h2>
          <p class="paragraph text-secondary w-full max-w-[730px] pt-2">
            Our mission is to deliver next-level IT solutions that empower
            enterprises to grow smarter, faster, and stronger.
          </p>
        </div>
      </div>
      <div>
        <div class="relative border-l border-dashed border-primary ml-5 h-auto md:h-[340px] w-full max-w-[692px]">
          <!-- Item 1 -->
          <div class="mb-10 ml-6">
            <div
              class="absolute w-7 h-7 bg-primary rounded-full -left-[15px] top-0 "
            ></div>
            <h3 class="text-2xl text-accent font-medium">CRM</h3>
            <p class="text-secondary paragraph ">
              Enhance customer engagement &amp; retention
            </p>
          </div>

          <!-- Item 2 -->
          <div class="mb-10 ml-6">
            <div
              class="absolute w-7 h-7 bg-primary rounded-full -left-[15px] top-[110px]"
            ></div>
            <h3 class="text-2xl text-accent font-medium">ERP</h3>
            <p class="text-secondary paragraph">Optimize operational efficiency</p>
          </div>

          <!-- Item 3 -->
          <div class="mb-10 ml-6">
            <div
              class="absolute w-7 h-7 bg-primary rounded-full -left-[15px] top-[210px]"
            ></div>
            <h3 class="text-2xl text-accent font-medium">AI &amp; ML</h3>
            <p class="text-secondary paragraph">
              Predictive insights &amp; automation
            </p>
          </div>

          <!-- Item 4 -->
          <div class="ml-6">
            <div
              class="absolute w-7 h-7 bg-primary rounded-full -left-[15px] bottom-0"
            ></div>
            <h3 class="text-2xl text-accent font-medium">Cloud &amp; DevOps</h3>
            <p class="text-secondary paragraph">Scalable, secure infrastructure</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>