<!-- our Mission section start -->
<section id="our-mission" class="our-mission-section">
  <!-- Mission content -->

<div class="bg-[#0094EE0F] relative z-0 h-auto py-12">
  <div class="absolute inset-y-0 top-0 left-0 z-10">
    <img
      src="../../../Assets/Images/mission_bg-1.png"
      alt="mission-background"
      class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="absolute inset-y-0 top-0 right-0 z-10">
    <img
      src="../../../Assets/Images/mission_bg-2.png"
      alt="mission-background-2"
      class="h-[100%] w-[100%] object-cover"
    />
  </div>
  <div class="container mx-auto px-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 py-6">
      <div>
        <div class="py-5 w-full lg:w-[500px]">
          <h5
            class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
          >
            Our Mission
          </h5>
        </div>
        <div class="py-4">
          <h2
            class="text-3xl md:text-4xl font-medium text-[#132028] w-full xl:w-[570px]"
          >
            Accelerating Digital Transformation Across Europe
          </h2>
          <p class="text-sm w-full xl:w-[570px] mt-2">
            Our mission is to deliver next-level IT solutions that empower
            enterprises to grow smarter, faster, and stronger.
          </p>
        </div>
      </div>
      <div>
        <div class="relative border-l-2 border-dashed border-primary ml-5">
          <!-- Item 1 -->
          <div class="mb-10 ml-6">
            <div
              class="absolute w-7 h-7 bg-primary rounded-full -left-[14px] top-0"
            ></div>
            <h3 class="text-lg font-semibold">CRM</h3>
            <p class="text-gray-600 text-sm">
              Enhance customer engagement &amp; retention
            </p>
          </div>

          <!-- Item 2 -->
          <div class="mb-10 ml-6">
            <div
              class="absolute w-7 h-7 bg-primary rounded-full -left-[14px] top-[100px]"
            ></div>
            <h3 class="text-lg font-semibold">ERP</h3>
            <p class="text-gray-600 text-sm">Optimize operational efficiency</p>
          </div>

          <!-- Item 3 -->
          <div class="mb-10 ml-6">
            <div
              class="absolute w-7 h-7 bg-primary rounded-full -left-[14px] top-[190px]"
            ></div>
            <h3 class="text-lg font-semibold">AI &amp; ML</h3>
            <p class="text-gray-600 text-sm">
              Predictive insights &amp; automation
            </p>
          </div>

          <!-- Item 4 -->
          <div class="ml-6">
            <div
              class="absolute w-7 h-7 bg-primary rounded-full -left-[14px] bottom-0"
            ></div>
            <h3 class="text-lg font-semibold">Cloud &amp; DevOps</h3>
            <p class="text-gray-600 text-sm">Scalable, secure infrastructure</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>