<!-- get in touch section start -->

<div class="bg-[#FFFFFF] py-8 ">
  <div class="container mx-auto px-8">
    <div class="py-6 relative z-0">
      <div class="bg-[#132028] rounded-2xl">
        <img
          src="../../../Assets/Images/getintouch.png"
          alt="getintouch-bg"
          class="w-[100%] h-[250px] object-cover rounded-2xl"
        />
      </div>
      <div class="py-5 absolute inset-0 top-[25px] md:top-[50px] left-0 z-10 ">
        <h1 class="text-xl md:text-3xl font-medium text-center text-[#FFFFFF]">
          Let’s Build the Future of Your Industry Together
        </h1>
        <p class="text-md text-center w-full md:w-[600px] mx-auto pt-3 text-[#FFFFFF99] ">
          Whether you’re a startup in London, a manufacturer in Germany, or an
          e-commerce company in Spain, Transcodezy is your trusted IT partner.
        </p>
        <div class="flex justify-center items-center pt-4">
          <button
            class="flex justify-center gap-2 bg-primary py-2 px-4 rounded-3xl w-fit text-white text-sm group"
          >
            Book a Free Consultation
            <span
              class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              ><i class="fa-solid fa-arrow-right"></i
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
