<!-- techstack section start -->

<div class="bg-[#ffffff] py-10">
   <div class="container mx-auto px-6 lg:px-12">
      <div>
        <h5 class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10">
          Tech Stack
        </h5>
        <h2 class="text-3xl font-medium text-[#132028] pt-4">
          Technology That Powers Innovation
        </h2>
      </div>
      <div class="relative z-10 flex flex-wrap justify-between items-center py-5">
        <div class="absolute inset-0 top-[80px] left-[290px] z-[-1] hidden md:block">
                <img src="../../../Assets/Images/techstck_img-line.png" alt="techstack_img-line"  class="w-[580px] h-[250px] object-center"/>
            </div>
        <div class="py-8 z-10">
            <div class="w-[290px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-3 z-10 mb-8 shadow-lg shadow-[#00000040] transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-lg text-[#132028] font-medium">Frontend</h2>
               <p class="text-sm text-[#44464A] pt-1">React.js, Next.js, TypeScript, Tailwind CSS</p>
            </div>
            <div class="w-[305px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-3 mb-8 shadow-lg shadow-[#00000040] transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-lg text-[#132028] font-medium">Backend</h2>
               <p class="text-sm text-[#44464A] pt-1">Node.js, Express.js, .NET Core, Python, PHP</p>
            </div>
            <div class="w-[291px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-3 shadow-lg shadow-[#00000040] transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-lg text-[#132028] font-medium">Databases</h2>
               <p class="text-sm text-[#44464A] pt-1">MySQL, PostgreSQL, MongoDB, Firebase</p>
            </div>
        </div>
        <div class="py-8 z-10">
            <img src="../../../Assets/Images/techstack_img.png" alt="techstack_img" class="h-[300px] w-[400px] object-cover" />
        </div>
        <div class="py-8 z-10">
             <div class="w-[325px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-3 mb-8 ml-auto shadow-lg shadow-[#00000040] transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-lg text-[#132028] font-medium">Cloud & DevOps</h2>
               <p class="text-sm text-[#44464A] pt-1">AWS, Microsoft Azure, Google Cloud, Docker, Kubernetes, CI/CD</p>
            </div>
            <div class="w-[315px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-3 mb-8 ml-auto shadow-lg shadow-[#00000040] transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-lg text-[#132028] font-medium">AI/ML</h2>
               <p class="text-sm text-[#44464A] pt-1">TensorFlow, PyTorch, OpenAI, NLP solutions</p>
            </div>
            <div class="w-[340px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-3 ml-auto shadow-lg shadow-[#00000040] transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-lg text-[#132028] font-medium">Blockchain</h2>
               <p class="text-sm text-[#44464A] pt-1">Ethereum, Hyperledger, Smart Contracts, Web3</p>
            </div>
        </div>
      </div>
   </div>
</div>