<!-- get in touch section start -->

<div class="bg-[#FFFFFF] py-12">
  <div class="container mx-auto px-8">
    <div class="py-6 relative z-0">
      <div class="bg-[#132028] rounded-2xl">
        <img
          src="../../../Assets/Images/getintouch.png"
          alt="getintouch-bg"
          class="w-[100%] h-[250px] object-cover rounded-2xl"
        />
      </div>
      <div class="py-5 absolute inset-0 top-1 sm:top-[20px] md:top-[30px] lg:top-[48px] left-0 z-10 px-2 lg:px-0">
        <h1 class="text-xl md:text-4xl font-medium text-center text-[#FFFFFF] w-full  mx-auto">
          Ready to Revolutionize Your Sports Tech Experience?
        </h1>
        <p class="text-sm lg:text-md text-center w-full lg:w-[850px] mx-auto pt-3 text-[#FFFFFF99] px-2 md:px-0">
        Transcodezy IT Solutions empowers sports organizations across Europe with secure, scalable, and intelligent sports technology platforms. 
        From AI-driven analytics to fan engagement apps and sponsorship optimization, we deliver tools that grow with your team.
        </p>
        <div class="flex justify-center items-center pt-4 hover:scale-110 duration-700 cursor-pointer">
          <button
            class="flex justify-center gap-2 bg-primary py-2 px-4 rounded-3xl w-fit text-white text-sm group"
          >
            Start Your Sports Tech Journey
            <span
              class="transition-transform duration-500 ease-in-out group-hover:rotate-[50deg]"
              ><i class="fa-solid fa-arrow-right"></i
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>