<div
  id="consultationModal"
  class="flex items-center justify-center backdrop-blur-md px-4 sm:px-6 lg:px-8 py-[80px] lg:py-[100px] xl:py-[130px] 2xl:py-[150px] mt-5"
>
  <div
    class="bg-[#eaeaea] rounded-[24px] p-12 h-auto lg:min-h-[880px] w-full lg:max-w-[1240px]"
  >
    <!-- Close Button -->
    <div id="closeModalBtn" class="flex justify-end text-3xl text-[#292D32]">
      <i class="fa-solid fa-xmark"></i>
    </div>

    <!-- Title -->
    <h1
      class="text-[38px] leading-[38px] sm:text-[36px] sm:leading-[44px] md:text-[50px] md:leading-[50px] xl:text-[72px] lg:leading-[54px] text-accent"
    >
      Drop Us a Message
    </h1>

    <!-- Description -->
    <p class="paragraph text-secondary py-5 w-full lg:max-w-[840px] py-6">
      Start your project with confidence! Schedule a consultation with our
      European IT experts to discuss your business goals and explore tailored
      digital solutions that drive measurable impact.
    </p>

    <div class="flex flex-col lg:flex-row gap-[20px] lg:gap-[40px] w-full">
      <!-- Form Section -->
      <div
        class="w-full bg-[#132028] rounded-[24px] p-8 h-auto lg:h-[588px]"
      >
        <h2 class="text-[32px] font-medium text-white">Consult Your Project</h2>
        <form class="space-y-4 md:space-y-6 py-6">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <input
              type="text"
              placeholder="First Name"
              class="w-full p-3 rounded-xl paragraph bg-[#FFFFFF14] text-white placeholder-[#FFFFFF66] focus:outline-none focus:ring-2 focus:ring-primary z-10"
            />
            <input
              type="text"
              placeholder="Last Name"
              class="w-full p-3 rounded-xl paragraph bg-[#FFFFFF14] text-white placeholder-[#FFFFFF66] focus:outline-none focus:ring-2 focus:ring-primary z-10"
            />
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <input
              type="email"
              placeholder="Email"
              class="w-full p-3 rounded-xl paragraph bg-[#FFFFFF14] text-white placeholder-[#FFFFFF66] focus:outline-none focus:ring-2 focus:ring-primary z-10"
            />
            <input
              type="text"
              placeholder="Company"
              class="w-full p-3 rounded-xl paragraph bg-[#FFFFFF14] text-white placeholder-[#FFFFFF66] focus:outline-none focus:ring-2 focus:ring-primary z-10"
            />
          </div>
          <div class="relative w-full">
            <select
              class="bg-[#FFFFFF14] text-[#FFFFFF66] paragraph appearance-none border-none py-4 px-3 pr-10 rounded-xl leading-tight w-full focus:outline-none focus:ring-2 focus:ring-primary"
            >
              <option class="text-accent paragraph p-3">
                How did you hear about us?
              </option>
              <option class="text-accent paragraph p-3">Google</option>
              <option class="text-accent paragraph p-3">LinkedIn</option>
              <option class="text-accent paragraph p-3">Referral</option>
              <option class="text-accent paragraph p-3">Other</option>
            </select>

            <!-- Icon inside select -->
            <div
              class="pointer-events-none absolute inset-y-0 right-3 flex items-center"
            >
              <i class="fa fa-chevron-down text-[#FFFFFF66]"></i>
            </div>
          </div>
          <textarea
            placeholder="Tell us more about your project..."
            class="w-full bg-[#FFFFFF14] paragraph text-white rounded-xl p-3 placeholder-[#FFFFFF66] h-32 focus:outline-none focus:ring-2 focus:ring-primary"
          ></textarea>
          <!-- Submit Button -->
          <div
            class="mt-4 w-fit px-6 py-3 bg-primary paragraph text-white rounded-[40px] hover:scale-110 duration-700 transition overflow-hidden"
          >
            <a href="#">Submit</a>
          </div>
        </form>
      </div>

      <!-- Image Section -->
      <div class="w-full ">
        <img
          src="../../Assets/Images/bookafreeconsultation/form_bg_img.jpg"
          alt="Consultation"
          class="w-full h-[588px] object-cover rounded-[24px]"
        />
      </div>
    </div>
  </div>
</div>

<script>
  // Get elements
  const closeBtn = document.getElementById("closeModalBtn");

  closeBtn.addEventListener("click", () => {
    window.location.href = "/";
  });
</script>
