<!-- Benefits section start -->

<div class="bg-[#0094EE0F] relative z-0 h-auto py-12">
  <div class="container mx-auto px-6 lg:px-12">
    <div class="absolute inset-y-0 top-0 left-0 z-10">
      <img
        src="../../../Assets/Images/mission_bg-1.png"
        alt="mission-background"
        class="h-[100%] w-[100%] object-cover"
      />
    </div>
    <div class="absolute inset-y-0 top-0 right-0 z-10">
      <img
        src="../../../Assets/Images/mission_bg-2.png"
        alt="mission-background-2"
        class="h-[100%] w-[100%] object-cover"
      />
    </div>
    <div>
      <div class="py-5 w-full lg:w-[500px]">
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center z-10"
        >
          Benefits
        </h5>
      </div>
      <div class="py-5 none lg:flex justify-between ">
        <h2 class="text-4xl font-medium text-[#132028] w-full lg:w-[600px]">Why Sports Organizations Choose Transcodezy</h2>
        <p class="text-md  text-[#44464A] w-full lg:w-[680px] pt-8">Our platforms combine intelligence, engagement, and secure operations to help clubs and leagues excel on and off the field.</p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 py-6">
        <!-- Card 1 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[230px] lg:h-[300px] xl:h-[250px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <img
                src="../../../Assets/Images/Sportstech/benefit_img1.png"
                alt="Enhanced Fan Loyalty"
                class="w-[50px] h-[50px]"
              />
              <div class="pt-4 cards-content">
                <h2 class="text-xl font-medium">Enhanced Fan Loyalty</h2>
                <p class="text-md text-[#44464A] pt-2 leading-relaxed">
                 Personalized experiences across devices Gamification and loyalty programs
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[230px] lg:h-[300px] xl:h-[250px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <img
                src="../../../Assets/Images/Sportstech/benefit_img2.png"
                alt="Data-Driven Athlete Performance"
                class="w-[50px] h-[50px]"
              />
              <div class="pt-4 cards-content">
                <h2 class="text-xl font-medium">Data-Driven Athlete Performance</h2>
                <p class="text-md text-[#44464A] pt-2 leading-relaxed">
                  AI insights for training & injury prevention Real-time performance dashboards
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[230px] lg:h-[300px] xl:h-[250px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <img
                src="../../../Assets/Images/Sportstech/benefit_img3.png"
                alt="Secure & Compliant Platforms"
                class="w-[50px] h-[50px]"
              />
              <div class="pt-4 cards-content">
                <h2 class="text-xl font-medium">Secure & Compliant Platforms</h2>
                <p class="text-md text-[#44464A] pt-2 leading-relaxed space-y-1">
                  GDPR-ready for European sports organizations Secure fan and athlete data storage
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="z-10">
          <div
            class="cards bg-white shadow border rounded-2xl h-[230px] lg:h-[300px] xl:h-[250px] flex flex-col justify-between py-8 px-6"
          >
            <div>
              <img
                src="../../../Assets/Images/Sportstech/benefit_img4.png"
                alt="Revenue Growth & Sponsorship"
                class="w-[50px] h-[50px]"
              />
              <div class="pt-4 cards-content">
                <h2 class="text-xl font-medium">Revenue Growth & Sponsorship</h2>
                <p class="text-md text-[#44464A] pt-2">
               Data-powered sponsorship insights Ticketing & merchandising integration
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
