<div class="bg-[#ffffff] py-[50px] lg:py-[80px] xl:py-[100px] 2xl:py-[140px]">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div>
      <h5
        class="paragraph text-accent bg-[#FFFFFF0A] border border-accent w-fit py-3 px-6 rounded-[40px] text-center z-10"
      >
        Technologies Used
      </h5>
      <h2 class="text-accent heading font-medium pt-5 lg:pt-10">Our Technologies Used</h2>
    </div>
    <div class="relative z-10 flex flex-col lg:flex-row justify-between items-center py-5">
      <div class="block md:hidden py-6 z-10">
        <img
          src="../../../Assets/Images/UiUxDesign/techstack_img.png"
          alt="techstack_img"
          class="h-[100%] w-[500px] object-cover"
        />
      </div>
      <div
        class="absolute inset-0 top-[130px] left-[210px] xl:left-[230px] z-[-1] hidden lg:block"
      >
        <img
          src="../../../Assets/Images/ProjectDetails/techonologies_bg_line.png"
          alt="technologies_bg_img-line"
          class="w-[500px] xl:w-[920px] h-[300px] object-center"
        />
      </div>
      <div class="py-0 md:py-8 z-10 w-full lg:w-auto flex flex-col justify-center lg:justify-between h-auto lg:min-h-[462px] gap-6 lg:gap-0">
        <div
          class="w-full lg:w-[262px] xl:w-[327px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-5 z-10  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer"
        >
          <div>
            <h2 class="text-[24px] text-accent font-medium">Frontend</h2>
            <p class="paragraph text-secondary pt-1">
              React.JS, Next.js,TypeScript
            </p>
          </div>
        </div>
        <div
          class="w-full lg:w-[210px] xl:w-[230px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-5 z-10  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer"
        >
          <div>
            <h2 class="text-[24px] text-accent font-medium">
              Database
            </h2>
            <p class="paragraph text-secondary pt-1">
              MongoDB, AWS RDS
            </p>
          </div>
        </div>
      </div>
      
      <div class="py-8 z-10 hidden md:block">
        <img
          src="../../../Assets/Images/UiUxDesign/techstack_img.png"
          alt="techstack_img"
          class="h-[480px] w-full lg:w-[300px] xl:w-[450px] object-cover"
        />
      </div>
      <div class="py-0 md:py-8 z-10 w-full lg:w-auto flex flex-col justify-center lg:justify-between items-end h-auto lg:min-h-[462px] gap-6 lg:gap-0 mt-6 lg:mt-0">
        <div
          class="w-full lg:w-[250px] xl:w-[227px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-5 z-10  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer"
        >
          <h2 class="text-[24px] text-accent font-medium">
            Backend
          </h2>
          <p class="paragraph text-secondary pt-1">
            Express.js, C#
          </p>
        </div>
        <div
          class="w-full lg:w-[325px] xl:w-[365px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-5 z-10  transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer"
        >
          <h2 class="text-[24px] text-accent font-medium">
            Cloud & Infrastructure
          </h2>
          <p class="paragraph text-secondary pt-1">
            AWS S3, AWS EKS, Kafka, RabbitMQ, Socket.io (for real-time communication)
          </p>
        </div>
      </div>
    </div>

    <div class="py-8 lg:py-12">
        <div class="flex flex-col xl:flex-row mb-5 lg:mb-10 gap-10 lg:gap-20">
            <div class="w-full ">
                <img src="../../../Assets/Images/ProjectDetails/resourse_img.jpg" alt="Access Control" class="w-full h-[448px] object-cover rounded-[24px] ">
            </div>
            <div class="w-full flex flex-col gap-5 lg:gap-10">
                <div class="text-accent border border-accent w-fit py-3 px-6 rounded-[40px] paragraph text-center">
                    <span>Resources Used</span>
                </div>
                <div class="flex flex-wrap gap-5 w-full max-w-[720px]">
                    <div class="text-accent bg-[#13202805] border border-secondary w-fit py-8 px-4 rounded-[24px] paragraph text-center w-full md:w-[222px]"> 
                        <p class="paragraph text-secondary flex justify-center items-center">2 Frontend Developers</p>
                    </div>
                    <div class="text-accent bg-[#13202805] border border-secondary w-fit py-8 px-4 rounded-[24px] paragraph text-center w-full md:w-[217px]"> 
                        <p class="paragraph text-secondary flex justify-center items-center">2 Backend Developers</p>
                    </div>
                    <div class="text-accent bg-[#13202805] border border-secondary w-fit py-8 px-4 rounded-[24px] paragraph text-center w-full md:w-[217px]"> 
                        <p class="paragraph text-secondary flex justify-center items-center">1 Full-Stack Developer</p>
                    </div>
                    <div class="text-accent bg-[#13202805] border border-secondary w-fit py-8 px-4 rounded-[24px] paragraph text-center w-full md:w-[185px]"> 
                        <p class="paragraph text-secondary flex justify-center items-center">1 Project Manager</p>
                    </div>
                    <div class="text-accent bg-[#13202805] border border-secondary w-fit py-8 px-4 rounded-[24px] paragraph text-center w-full md:w-[123px]"> 
                        <p class="paragraph text-secondary flex justify-center items-center">1 Designer</p>
                    </div>
                    <div class="text-accent bg-[#13202805] border border-secondary w-fit py-8 px-4 rounded-[24px] paragraph text-center w-full md:w-[153px]"> 
                        <p class="paragraph text-secondary flex justify-center items-center">1 QA Engineer</p>
                    </div>
                    <div class="text-accent bg-[#13202805] border border-secondary w-fit py-8 px-4 rounded-[24px] paragraph text-center w-full md:w-[200px]"> 
                        <p class="paragraph text-secondary flex justify-center items-center">2 Flutter Developers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-6">
        <img src="../../../Assets/Images/ProjectDetails/network_bg_img.png" alt="network image" class="w-[100%] h-auto xl:min-h-[910px] " />
    </div>
  </div>
</div>
