<!-- about us section start -->

<div class="bg-[#FFFFFF] py-12 mt-5">
  <div class="container mx-auto px-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 w-full">
      <div>
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-2 px-4 rounded-3xl text-center z-10"
        >
          About Us
        </h5>
        <div class="pt-4 mt-4">
          <h1 class="text-3xl md:text-4xl font-medium text-[#132028] w-full lg:w-[500px]">Our Digital Transformation Consulting</h1>
          <p class="text-md text-[#44464A] w-full mt-2 w-full xl:w-[640px] mb-2">
          At Transcodezy IT Solutions Pvt. Ltd., we help organizations across Healthcare, FinTech, Manufacturing, E-commerce, 
          and more to embrace modern technologies and achieve operational excellence. Our consulting services guide enterprises through strategy, 
          adoption, and scaling processes, ensuring measurable business impact.
          </p>
          <div class="py-2">
            <div class="flex items-center gap-2 text-[#44464A] mb-2">
                <i class="fa-regular fa-circle-check"></i>
                <p class="text-[#44464A]">IT Strategy & Digital Roadmaps</p>
            </div>
            <div class="flex items-center gap-2 text-[#44464A] mb-2">
                <i class="fa-regular fa-circle-check"></i>
                <p class="text-[#44464A]">Business Process Automation</p>
            </div>
            <div class="flex items-center gap-2 text-[#44464A] mb-2">
                <i class="fa-regular fa-circle-check"></i>
                <p class="text-[#44464A]">Cloud & Infrastructure Modernization</p>
            </div>
            <div class="flex items-center gap-2 text-[#44464A] mb-2">
                <i class="fa-regular fa-circle-check"></i>
                <p class="text-[#44464A]">AI & Analytics Integration</p>
            </div>
            <div class="flex items-center gap-2 text-[#44464A] mb-2">
                <i class="fa-regular fa-circle-check"></i>
                <p class="text-[#44464A]">GDPR & Global Compliance</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <img src="../../../Assets/Images/Digital_consulting/aboutus_img.jpg" alt="aboutus_img" class="w-[100%] h-[350px] object-cover rounded-2xl" />
      </div> 
    </div>
  </div>
</div>