<!-- techstack section start -->

<div class="bg-[#ffffff] py-10">
   <div class="container mx-auto px-6 lg:px-12">
      <div>
        <h5 class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-2 px-4 rounded-3xl text-center z-10">
          Tech Stack
        </h5>
        <h2 class="text-4xl font-medium text-[#132028] pt-8">
          Our Tech Stack
        </h2>
      </div>
      <div class="relative z-10 flex flex-wrap justify-between items-center py-5">
         <div class="block lg:hidden py-8 z-10">
            <img src="../../../Assets/Images/CustomSoftwareDevelopment/techstack_img.png" alt="techstack_img" class="h-[320px] w-[400px] object-cover" />
        </div>
        <div class="absolute inset-0 top-[100px] left-[250px] z-[-1] hidden lg:block">
                <img src="../../../Assets/Images/AIandML/techstack_img_line.png" alt="techstack_img-line"  class="w-[840px] h-[250px] object-center"/>
            </div>
        <div class="py-8 z-10">
            <div class="w-full lg:w-[250px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-4 z-10 mb-8 shadow-lg shadow-[#00000040] transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-xl text-[#132028] font-medium">Frontend</h2>
               <p class="text-md text-[#44464A] pt-1">React.js, Next.js, TypeScript</p>
            </div>
            <div class="w-full lg:w-[397px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-4 mb-8 shadow-lg shadow-[#00000040] transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-xl text-[#132028] font-medium">Backend & ML</h2>
               <p class="text-md text-[#44464A] pt-1">Python, TensorFlow, Nest.js, OpenAI API, Node.js</p>
            </div>
            <div class="w-full lg:w-[390px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-4 shadow-lg shadow-[#00000040] transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-xl text-[#132028] font-medium">Cloud & DevOps</h2>
               <p class="text-md text-[#44464A] pt-1">AWS, Google Cloud, Docker, Kubernetes, CI/CD</p>
            </div>
        </div>
        <div class="py-8 z-10 hidden lg:block">
            <img src="../../../Assets/Images/CustomSoftwareDevelopment/techstack_img.png" alt="techstack_img" class="h-[320px] w-[400px] object-cover" />
        </div>
        <div class="py-0 lg:py-8 z-10">
             <div class="w-full lg:w-[365px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-4 mb-8 ml-auto shadow-lg shadow-[#00000040] transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-xl text-[#132028] font-medium">Data & Databases</h2>
               <p class="text-md text-[#44464A] pt-1">MySQL, PostgreSQL, MongoDB, Firebase</p>
            </div>
            <div class="w-full lg:w-[338px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-4 mb-8 ml-auto shadow-lg shadow-[#00000040] transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-xl text-[#132028] font-medium">AI/ML Tools</h2>
               <p class="text-md text-[#44464A] pt-1">ChatGPT integration, predictive modeling</p>
            </div>
            <div class="w-full lg:w-[255px] border border-[#1320283D] bg-[#0094EE05] rounded-xl p-4 ml-auto shadow-lg shadow-[#00000040] transition-transform duration-700 ease-in-out hover:-translate-y-2 cursor-pointer">
               <h2 class="text-xl text-[#132028] font-medium">Security & Compliance</h2>
               <p class="text-md text-[#44464A] pt-1">Secure AI deployment</p>
            </div>
        </div>
      </div>
   </div>
</div>