<!-- About Us section start -->

<div class="bg-[#FFFFFF] py-12">
  <div class="container mx-auto px-6 lg:px-12">
    <div class=" py-5">
        <h5
          class="text-sm text-[#132028] bg-[#FFFFFF0A] border border-[#132028] w-fit py-1 px-4 rounded-3xl text-center"
        >
          About Us
        </h5>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 py-5">
          <h1 class="text-4xl font-medium w-full lg:w-[500px]">
            Transforming Businesses with Technology
          </h1>
          <p class="text-md pt-5 lg:pt-0 text-[#44464A]">
            At Transcodezy IT Solutions Pvt. Ltd., we help European enterprises
            innovate, scale, and stay competitive with secure, scalable, and
            compliant IT solutions. From custom software development to
            AI-driven platforms and FinTech ecosystems, we specialize in turning
            business challenges into opportunities.
          </p>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10 py-8">
        <div class="flex-1">
          <div
            class="grid grid-cols-2 divide-x divide-y divide-[#1320281F] bg-[#0094EE05] rounded-xl border border-[#1320281F] overflow-hidden"
          >
            <div class="py-7 px-5 text-center">
              <h2 class="counter text-4xl font-bold text-[#132028]" data-target="3">0</h2>
              <p class="mt-2 text-[#44464A] text-sm">Years of Experience</p>
            </div>

            <div class="py-7 px-5 text-center">
              <h2 class="counter text-4xl font-bold text-[#132028] " data-target="40">0</h2>
              <p class="mt-2 text-[#44464A] text-sm">Talented IT Professionals</p>
            </div>

            <div class="py-7 px-5 text-center">
              <h2 class="counter text-4xl font-bold text-[#132028]" data-target="100">0</h2>
              <p class="mt-2 text-[#44464A] text-sm">Successful Projects</p>
            </div>

            <div class="py-7 px-5 text-center">
              <h2 class="counter text-4xl font-bold text-[#132028]" data-target="15">0</h2>
              <p class="mt-2 text-[#44464A] text-sm">
                Countries Served Across the Globe
              </p>
            </div>
          </div>
        </div>
        <div class="flex-1 pt-8 lg:pt-0">
            <h5
          class="bg-[#FFFFFF0A] text-sm text-[#132028] border border-[#132028] w-[160px] py-1 px-2 rounded-3xl text-center"
        >
          Global Digital Success
        </h5>
          <h1 class="text-3xl font-medium w-full lg:w-[450px] py-5">
            Driving Digital Success Across The Globe
          </h1>
          <p class="text-md w-full xl:w-[650px] text-[#44464A]">
           Transcodezy IT Solutions delivers secure, scalable, and GDPR-compliant IT services trusted by 
           enterprises across worldwide. With proven expertise in software, cloud, AI, and digital 
           transformation, we empower businesses to achieve measurable growth. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  const counters = document.querySelectorAll(".counter");

  const animateCounters = () => {
    counters.forEach((counter) => {
      const updateCount = () => {
        const target = +counter.getAttribute("data-target"); 
        const count = +counter.innerText;
        const speed = 100; // smaller = faster

        const increment = Math.ceil(target / speed);

        if (count < target) {
          counter.innerText = count + increment;
          setTimeout(updateCount, 30); // speed of animation
        } else {
          counter.innerText = target + "+"; // add "+" at the end
        }
      };

      updateCount();
    });
  };

  // Run when the section comes into view
  const observer = new IntersectionObserver((entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        animateCounters();
        observer.disconnect(); // run once
      }
    });
  });

  observer.observe(document.querySelector(".grid"));
</script>