<!-- about us section start -->

<div class="bg-[#FFFFFF] py-[50px] lg:py-[80px] xl:py-[100px] 2xl:py-[140px] mt-5">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-16">
      <div>
         <h5
          class="bg-white paragraph text-accent border border-accent w-fit py-3 px-6 rounded-[40px]"
        >
          About Us
        </h5>
        <div class="mt-5 lg:mt-8">
          <h1 class="heading font-medium text-accent">Our UI/UX &amp; Product Design Services</h1>
          <p class="paragraph text-secondary font-normal w-full xl:max-w-[720px] pt-3">
           Our UI/UX &amp; Product Design services enable companies in Healthcare, FinTech, Manufacturing, E-commerce, Education, Sports, 
           and Social Media to deliver customer-first experiences across web and mobile platforms.
          </p>
          <div class="pt-6">
            <div class="flex items-start sm:items-center gap-2 mb-2 lg:mb-3">
                <i class="fa-regular fa-circle-check text-secondary text-xl sm:text-2xl"></i>
                <p class="text-secondary paragraph">Wireframing &amp; Interactive Prototyping</p>
            </div>
            <div class="flex items-start sm:items-center gap-2 mb-2 lg:mb-3">
                <i class="fa-regular fa-circle-check text-secondary text-xl sm:text-2xl"></i>
                <p class="text-secondary paragraph">Mobile &amp; Web App UI/UX Design</p>
            </div>
            <div class="flex items-start sm:items-center gap-2 mb-2 lg:mb-3">
                <i class="fa-regular fa-circle-check text-secondary text-xl sm:text-2xl"></i>
                <p class="text-secondary paragraph">Responsive Web &amp; Product Design</p>
            </div>
            <div class="flex items-start sm:items-center gap-2 mb-2 lg:mb-3">
                <i class="fa-regular fa-circle-check text-secondary text-xl sm:text-2xl"></i>
                <p class="text-secondary paragraph">E-commerce &amp; SaaS Platform Design</p>
            </div>
            <div class="flex items-start sm:items-center gap-2 mb-2 lg:mb-3">
                <i class="fa-regular fa-circle-check text-secondary text-xl sm:text-2xl"></i>
                <p class="text-secondary paragraph">UX Research, Testing &amp; User Behavior Analysis</p>
            </div>
            <div class="flex items-start sm:items-center gap-2 mb-2 lg:mb-3">
                <i class="fa-regular fa-circle-check text-secondary text-xl sm:text-2xl"></i>
                <p class="text-secondary paragraph">Design Systems &amp; Brand Guidelines</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <img src="../../../Assets/Images/UiUxDesign/aboutus_img.jpg" alt="aboutus_img" 
        class="w-full max-w-[500px] sm:max-w-full lg:max-w-[720px] h-[260px] sm:h-[360px] lg:h-[420px] rounded-xl object-cover" />
      </div>

    </div>
  </div>
</div>

<!-- about us section end -->